<a class="text-decoration-none" href="{{ service.get_absolute_url }}">
  <span class="badge badge-phoenix    
    {% if rating == 'lead' %}      
    badge-phoenix-success
    {% elif rating == 'support' %}      
    badge-phoenix-warning
    {% else %}      
    badge-tag 
    {% endif %}
    me-2 mb-1" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{% if rating == 'lead' %}Can Lead{% elif rating == 'support' %}Can Support{% endif %}">
    {{ service }}
  </span>
</a>