<div class="table-responsive scrollbar mx-n1 px-1">
  <table class="table fs--1 datatable mb-0">
    <thead>
      <tr>
        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="projectName" style="width:30%;">
          Name
        </th>
        <th class="sort align-middle text-end" scope="col" style="width:10%;">
        </th>
      </tr>
    </thead>
    <tbody>
    {% for service in service_list %}
    <tr>

      <td class="align-middle time white-space-nowrap ps-0 projectName">
        <a class="fw-bold fs-0" href="{{ service.get_absolute_url }}">
          {{ service.name }}
        </a>
      </td>

      <td class="align-middle text-end white-space-nowrap pe-0 action">
        <!-- <div class="font-sans-serif btn-reveal-trigger position-static">
          <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
            <span class="fas fa-ellipsis-h fs--2"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-end py-2">
            <a class="dropdown-item" href="#!">View</a>
            <a class="dropdown-item" href="#!">Export</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="#!">Remove</a>
          </div>
        </div> -->
      </td>
    </tr>
    {% endfor %}        
    </tbody>
  </table>
</div>