{% extends 'base.html' %}
{% load menu %}
{% load static %}
{% load guardian_tags %}

{% block pageTitle %}
  {{ client }}
{% endblock %}
{% block head_title %}
  {{ client }}
{% endblock %}

{% block breadcrumbItem %}
  <li class="breadcrumb-item text-sm">
    <a class="opacity-50 text-body-emphasis" href="{% url 'client_list' %}">Clients</a>
  </li>
  <li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">{{ client.name }}</li>
{% endblock %}

{% block content_classes %}
  pt-15 px-0
{% endblock %}
{% block breadcrumb_classes %}
  px-5
{% endblock %}

{% block content %}
{% get_obj_perms request.user for client as 'client_perms' %}
  <div class="row px-5">
    <div class="col-12">
      <div class="row align-items-center justify-content-between g-3 mt-0 mb-0">
        <div class="col-6 col-md-auto">
          <h2 class="mb-2">Client</h2>
        </div>

        <div class="col-md-auto">
          <div class="d-flex">
            {% if 'change_client' in client_perms %}
              <div class="btn-reveal-trigger position-static">
                <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>

                <div class="dropdown-menu shadow dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'client_update' client.slug %}">Edit</a>
                  <button class="dropdown-item text-danger js-load-modal-form" data-url="{% url 'client_merge' client.slug %}">Merge other client</button>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between ms-3 me-3 g-2 mt-0 mb-0 pb-3">
    <div class="col-4 g-2">
      <div class="card h-100">
        <div class="card-body">
          <div class="row align-items-center g-3">
            <div class="col-12 col-sm-auto flex-1">
              <h3 class="fw-bolder mb-2 line-clamp-1">{{ client.name }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 g-2">
      <div class="card border h-100 {% if client.specific_requirements %}border-warning{% endif %} mb-3">
        <div class="card-header pb-2">
          <h5>Specific Requirements</h5>
        </div>
        <div class="card-body py-2">
          {% if client.specific_requirements %}
            {{ client.specific_requirements|safe }}
          {% else %}
            <p class="mb-0">No Details</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-4 g-2">
      <div class="card border h-100 {% if client.specific_reporting_requirements %}border-warning{% endif %} mb-3">
        <div class="card-header pb-2">
          <h5>Reporting Requirements</h5>
        </div>
        <div class="card-body py-2">
          {% if client.specific_reporting_requirements %}
            {{ client.specific_reporting_requirements|safe }}
          {% else %}
            <p class="mb-0">No Details</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if not client.is_ready_for_jobs %}
    <div class="alert alert-warning mx-5 mt-3 text-white" role="alert">
      <strong>Warning!</strong> Jobs can not be booked until an account manager is assigned.
    </div>
  {% endif %}

  <div class="row g-0 mt-3 border-1 border-top bg-body-secondary h-100">
    <div class="col-12 px-6 pt-3 border-1 border-end">
      <div class="row mx-1">
        <ul class="nav nav-underline scrollbar flex-nowrap w-100 pb-1 mb-3" id="sectionNav" role="tablist" style="overflow-y: hidden;">
          <li class="nav-item text-nowrap me-2" role="presentation">
            <a class="nav-link active" id="team-tab" data-bs-toggle="tab" href="#team" role="tab" aria-controls="tab-team" aria-selected="true"><span class="fa-solid fa-video me-2 tab-icon-color"></span>Team</a>
          </li>
          <li class="nav-item text-nowrap me-2" role="presentation">
            <a class="nav-link" id="contacts-tab" data-bs-toggle="tab" href="#contacts" role="tab" aria-controls="tab-contacts" aria-selected="false" tabindex="-1"><span class="fa-solid fa-clipboard me-2 tab-icon-color"></span>Contacts</a>
          </li>
          <li class="nav-item text-nowrap me-2" role="presentation">
            <a class="nav-link" id="frameworks-tab" data-bs-toggle="tab" href="#frameworks" role="tab" aria-controls="tab-frameworks" aria-selected="false" tabindex="-1"><span class="fa-solid fa-clipboard me-2 tab-icon-color"></span>Framework Agreements</a>
          </li>
          <li class="nav-item text-nowrap me-2" role="presentation">
            <a class="nav-link" id="jobs-tab" data-bs-toggle="tab" href="#jobs" role="tab" aria-controls="tab-jobs" aria-selected="false" tabindex="-1"><span class="fa-solid fa-clipboard me-2 tab-icon-color"></span>Jobs</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="team" role="tabpanel" aria-labelledby="team-tab">
            {% include 'partials/client/team_widget.html' %}
          </div>

          <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
            <div class="row gx-4 mb-0">
              <div class="col-auto my-auto">
                <div class="h-100">
                  <h5>Contacts</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 my-sm-auto text-end ms-sm-auto me-sm-0 mx-auto mt-3">
                <a href="{% url 'client_contact_create' client.slug %}" class="btn btn-phoenix-primary ms-auto">Add Contact</a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                {% include 'partials/client/contact_table.html' with contacts=client.contacts.all %}
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="frameworks" role="tabpanel" aria-labelledby="frameworks-tab">
            <div class="row gx-4 mb-0">
              <div class="col-auto my-auto">
                <div class="h-100">
                  <h5>Framework Agreements</h5>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 my-sm-auto text-end ms-sm-auto me-sm-0 mx-auto mt-3">
                <a href="{% url 'client_framework_create' client.slug %}" class="btn btn-phoenix-primary ms-auto">Add Framework Agreement</a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                {% include 'partials/client/frameworks_table.html' with frameworks=client.framework_agreements.all %}
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="jobs" role="tabpanel" aria-labelledby="jobs-tab">
            <div class="row">
              <div class="col-12">
                {% include 'partials/job/job_list_table.html' with disableAjax=1 job_list=client.jobs.all %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
