{% extends "base.html" %}
{% load menu %}{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block pageTitle %}New Client Contact{% endblock pageTitle %}
{% block head_title %}New Client Contact{% endblock head_title %}


{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-dark" href="{% url 'client_list' %}">Clients</a></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-dark" href="{{ client.get_absolute_url }}">{{ client }}</a></li>
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">New Client Contact</li>
{% endblock breadcrumbItem %}

{% block content %}

<div class="row min-vh-80">
    <div class="col-lg-8 col-md-10 col-12 m-auto">
       <h3 class="text-center">
        {% if form.instance.pk %}
        Edit Client Contact
        {% else %}
        Add Client Contact
        {% endif %}
        </h3>
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
 </div>
{% endblock content %}