{% extends "base.html" %}
{% load menu %}{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block pageTitle %}Client Framework Agreement{% endblock pageTitle %}
{% block head_title %}Client Framework Agreement{% endblock head_title %}

{% block content_classes %}pt-15 px-0 {% endblock content_classes %}

{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{% url 'client_list' %}">Clients</a></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{{ frameworkagreement.client.get_absolute_url }}">{{ client }}</a></li>
<li class="breadcrumb-item text-sm opacity-50 text-body-emphasis" aria-current="page">Framework Agreements</li>
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">{{ frameworkagreement.name }}</li>
{% endblock breadcrumbItem %}

{% block content %}

<div class="row px-5">
  <div class="col-12">
    <div class="row align-items-center justify-content-between g-3 mt-0 mb-0">
      <div class="col-6 col-md-auto">
        <h2 class="mb-2">
          Client Framework Agreement
        </h2>
      </div>
      <div class="col-auto">
        <a class="btn btn-phoenix-danger me-2 mb-2 mb-sm-0" href="{% url 'client_framework_delete' frameworkagreement.client.slug frameworkagreement.pk %}">Delete</a>
        <a class="btn btn-outline-primary mb-2 mb-sm-0" href="{% url 'client_framework_update' frameworkagreement.client.slug frameworkagreement.pk %}">Edit</a>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-between ms-3 me-3 g-2 mt-0 mb-0 pb-3">
  <div class="col-4 g-2">
    <div class="card h-100">
      <div class="card-body">
        <div class="row align-items-center g-3">
          <div class="col-12 col-sm-auto flex-1">
            <h3 class="fw-bolder mb-2 line-clamp-1">
              {{ frameworkagreement.name }}
            </h3>
            {% if frameworkagreement.closed %}
              <span class="badge badge-phoenix badge-phoenix-secondary">Closed</span>
            {% endif %}
            {% if frameworkagreement.allow_over_allocation %}
              <span class="badge badge-phoenix badge-phoenix-warning">Over Allocation Allowed</span>
            {% endif %}

            <table class="w-100 table-stats table-stats">
              <caption>Framework Agreement Info</caption>
              <thead>
                <tr>
                  <th class="w-25" scope="col"></th>
                  <th class="" scope="col"></th>
                  <th class="w-75" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="">
                      <p class="fw-bold mb-0">Start Date</p>
                  </td>
                  <td class=" d-none d-sm-block pe-sm-2">:</td>
                  <td class="">
                      <p class="ps-6 ps-sm-0 fw-semi-bold mb-0">
                        {{ frameworkagreement.start_date }}
                      </p>
                  </td>
                </tr>
                <tr>
                  <td class="">
                      <p class="fw-bold mb-0">End Date</p>
                  </td>
                  <td class=" d-none d-sm-block pe-sm-2">:</td>
                  <td class="">
                      <p class="ps-6 ps-sm-0 fw-semi-bold mb-0">
                        {{ frameworkagreement.end_date }}
                      </p>
                  </td>
                </tr>
                <tr>
                  <td class="">
                      <p class="fw-bold mb-0">Total Days</p>
                  </td>
                  <td class=" d-none d-sm-block pe-sm-2">:</td>
                  <td class="">
                      <p class="ps-6 ps-sm-0 fw-semi-bold mb-0">
                        {{ frameworkagreement.total_days }}
                      </p>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>  
      </div>
    </div>
  </div>

  <div class="col-3 g-2">
    <div id="framework-usage-chart" style="min-height:200px"></div>
  </div>

  <div class="col-5 g-2">
    <!-- Insert time graph to usage -->
  </div>
</div>

<div class="row g-0 mt-3 border-1 border-top bg-body-secondary h-100">
  <div class="col-12 px-6 pt-3 border-1 border-end">
    <div class="row mx-1">  
      {% include 'partials/job/job_list_table.html' with job_list=frameworkagreement.associated_jobs.all disableAjax=1 only%}
    </div>        
  </div>
</div>



{% endblock content %}


{% block footer_javascript_page %}
<script>
  const { getColor, rgbaColor, getData } = window.phoenix.utils;
  var chartDom = document.getElementById('framework-usage-chart');

  var chart = echarts.init(chartDom);
  options = {
    legend: {
        left: 'center',
        textStyle: {
        color: getColor('gray-600')
        }
    },
    series: [
        {
        type: 'pie',
        radius: ['40%', '70%'],
        center: ['50%', '55%'],
        avoidLabelOverlap: false,
        label: {
            show: false,
            position: 'center'
        },
        labelLine: {
            show: false
        },
        data: [
            {
                value: {{ frameworkagreement.days_allocated }},
                name: 'Allocated',
                itemStyle: {
                    color: getColor('success')
                }
            },
            {
                value: {{ frameworkagreement.days_remaining }},
                name: 'Available',
                itemStyle: {
                    color: getColor('secondary')
                }
            },
        ]
        }
    ],
    tooltip: {
        trigger: 'item',
        padding: [7, 10],
        backgroundColor: getColor('gray-100'),
        borderColor: getColor('gray-300'),
        textStyle: { color: getColor('dark') },
        borderWidth: 1,
        transitionDuration: 0,
        axisPointer: {
            type: 'none'
        }
    }
  };
  options && chart.setOption(options);

</script>
{% endblock footer_javascript_page %}