{% extends "base.html" %}
{% load menu %}{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block pageTitle %}Client Framework Agreement{% endblock pageTitle %}
{% block head_title %}Client Framework Agreement{% endblock head_title %}


{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{% url 'client_list' %}">Clients</a></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{{ client.get_absolute_url }}">{{ client }}</a></li>
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">New Client Framework Agreement</li>
{% endblock breadcrumbItem %}

{% block content %}
<div class="mt-3">
  <form method="post">
    {% csrf_token %}
    {{ form.media }}

    <div class="row g-3 flex-between-end mb-5">
      <div class="col-auto">
        <h2 class="mb-2">
            {% if form.instance.pk %}
            Edit Client Framework Agreement
            {% else %}
            Add Client Framework Agreement
            {% endif %}      
        </h2>
      </div>
      <div class="col-auto">
        <button class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button">Discard</button>
        <button class="btn btn-outline-success mb-2 mb-sm-0" type="submit">Save</button>
      </div>
    </div>


    <div class="row">
        <div class="col-12 col-xl-8 g-2 ">
          <h4 class="mb-3">Name</h4>
          {{ form.name|as_crispy_field }}

          <div class="row mb-6">
            <div class="col-12 col-xl-6">
              <h4 class="mb-3">Start Date</h4>
              {{ form.start_date|as_crispy_field }}
            </div>
            <div class="col-12 col-xl-6">
              <h4 class="mb-3">End Date</h4>
              {{ form.end_date|as_crispy_field }}
            </div>
          </div>      
        </div>

        <div class="col-12 col-xl-4">
          <div class="row g-2">
            
            <div class="col-12 g-2 col-xl-12">
              <div class="card mb-3">
                <div class="card-body">

                    <div class="row gx-3">
                      <div class="col-12 col-sm-6 col-xl-12">
                        <div class="mb-4">
                          <div class="d-flex flex-wrap mb-2">
                            <h5 class="mb-0 text-1000 me-2">Total Days</h5>
                          </div>
                          {{ form.total_days|as_crispy_field }}                          
                        </div>
                      </div>
                    </div>

                    <div class="row gx-3">
                      <div class="col-6">
                        <div class="mb-4">
                          <div class="d-flex flex-wrap mb-2">
                            <h5 class="mb-0 text-1000 me-2">Options</h5>
                          </div>
                          {{ form.allow_over_allocation|as_crispy_field }}       
                          {{ form.closed|as_crispy_field }}                   
                        </div>
                      </div>
                    </div>

                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>


  </form>
</div>
{% endblock content %}