{% extends "base.html" %}
{% load menu %}{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block pageTitle %}Client Framework Agreement{% endblock pageTitle %}
{% block head_title %}Client Framework Agreement{% endblock head_title %}


{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{% url 'client_list' %}">Clients</a></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{{ frameworkagreement.client.get_absolute_url }}">{{ client }}</a></li>
<li class="breadcrumb-item text-sm opacity-50 text-body-emphasis" aria-current="page">Framework Agreements</li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{{ frameworkagreement.get_absolute_url }}">{{ client }}</a></li>
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">Confirm Delete</li>
{% endblock breadcrumbItem %}

{% block content %}
<div class="mt-3">
  <form method="post">
    {% csrf_token %}
    {{ form.media }}

    <div class="row g-3 flex-between-end mb-5">
      <div class="col-auto">
        <h2 class="mb-2">
            {% if form.instance.pk %}
            Delete Checklist Item
            {% endif %}            
        </h2>
      </div>
      <div class="col-auto">
      </div>
    </div>

    {{ form.errors }}


    <div class="row">
        <div class="col-12 col-xl-8 g-2 ">
            <h4 class="mb-3">Are you sure you wish to delete this framework agreement?</h4>      
            <p>
              All allocated jobs will not be deleted.
            </p>
        </div>
        <div class="col-12 col-xl-4">
          <a class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" href="{{ frameworkagreement.get_absolute_url }}">Cancel</a>
          <button class="btn btn-outline-danger mb-2 mb-sm-0" type="submit">Delete</button>
        </div>
      </div>


  </form>
</div>
{% endblock content %}