{% extends "base.html" %}
{% load menu %}{% load static %}

{% block pageTitle %}Job{% endblock pageTitle %}
{% block head_title %}{{ job }}{% endblock head_title %}


{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{% url 'job_list' %}">Jobs</a></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{{ job.client.get_absolute_url }}">{{ job.client }}</a></li>
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">{{ job.id }}:{{ job.title }}</li>
{% endblock breadcrumbItem %}

{% block content_classes %}pt-15 px-0 {% endblock content_classes %}
{% block breadcrumb_classes %}px-5{% endblock breadcrumb_classes %}

{% block content %}

{% include 'partials/job/page_header.html' %}

<div class="row mt-3 border-1 border-top bg-body-secondary h-100">
  <div class="col-12 col-md-9 p-2 ps-6 border-1 g-2">

    <div class="row mx-1">  
      <ul class="nav nav-underline scrollbar flex-nowrap w-100 pb-1 mb-3" id="sectionNav" role="tablist" style="overflow-y: hidden;">
        <li class="nav-item text-nowrap me-2" role="presentation">
          <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" role="tab" aria-controls="tab-general" aria-selected="true">
            <span class="fa-solid fa-video me-2 tab-icon-color"></span>General
          </a>
        </li>
        <li class="nav-item text-nowrap me-2" role="presentation">
          <a class="nav-link" id="phases-tab" data-bs-toggle="tab" href="#phases" role="tab" aria-controls="tab-phases" aria-selected="false" tabindex="-1">
            <span class="fa-solid fa-clipboard me-2 tab-icon-color"></span>Phases
          </a>
        </li>
        <li class="nav-item text-nowrap me-2" role="presentation">
          <a class="nav-link" id="schedule-tab" data-bs-toggle="tab" href="#schedule" role="tab" aria-controls="tab-schedule" aria-selected="false" tabindex="-1">
            <span class="fa-solid fa-clipboard me-2 tab-icon-color"></span>Schedule
          </a>
        </li>
        <li class="nav-item text-nowrap me-2" role="presentation">
          <a class="nav-link" id="sales-tab" data-bs-toggle="tab" href="#sales" role="tab" aria-controls="tab-sales" aria-selected="false" tabindex="-1">
            <span class="fa-solid fa-chart-line me-2 tab-icon-color"></span>Sales
          </a>
        </li>
        <li class="nav-item text-nowrap me-2" role="presentation">
          <a class="nav-link" id="notes-tab" data-bs-toggle="tab" href="#notes" role="tab" aria-controls="tab-notes" aria-selected="false">
            <span class="fa-solid fa-square-check me-2 tab-icon-color"></span>
            Notes
            <span class="badge bg-secondary ms-2">
              {{ job.get_user_notes | length }}
            </span>
          </a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">
          {% include 'partials/job/widgets/contacts.html' %}
          <div id="scope-info">
            {% if job.inScoping %}
              {% include 'partials/job/forms/scope.html' %}
            {% else %}
              {% include 'partials/job/widgets/scope.html' %}
            {% endif %}
          </div>
        </div>
        <div class="tab-pane fade" id="phases" role="tabpanel" aria-labelledby="phases-tab">
          {% include 'partials/job/widgets/phases.html' %}
        </div>
        <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
          {% include 'partials/job/widgets/gantt.html' %}
        </div>
        <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
          <div class="alert alert-phoenix-primary" role="alert">
            Coming soon...
          </div>
          {% comment %} <div class="row mt-4">
            {% include 'partials/job/widgets/sales_stats.html' %}
          </div>
          {% include 'partials/job/widgets/sales_summary.html' %} {% endcomment %}
        </div>
        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
          {% include 'partials/job/widgets/notes.html' %}
        </div>
      </div>
  
    </div>
  </div>

  <div class="col-12 col-md-3 px-0 border-start-xxl border-300 border-top-0 g-2">
    <div class="h-100">
      <div class="bg-body-secondary h-100">

        <div class="p-3">
          <h4 class="mb-3">Team</h4>
          {% include 'partials/job/widgets/team_list.html' %}
        </div>   

        <div class="p-3">
          <div class="row">
              <div class="col-md-10 d-flex align-items-center">
                <h4 class="mb-3">Support</h4>
              </div>
              <div class="col-md-2 text-end">
                <div class="btn-reveal-trigger position-static">
                  <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" 
                      type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" 
                      data-bs-reference="parent">
                      <span class="fas fa-ellipsis-h fs-10"></span>
                  </button>              
                  <div class="dropdown-menu shadow dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">     
                     <button class="dropdown-item js-load-modal-form" 
                        data-url="{% url 'job_support_team_add' job.slug %}">
                        Add Support Role
                     </button>
                     <button class="dropdown-item text-primary js-load-modal-form" 
                        data-url="">
                        Bulk Import
                     </button>
                  </div>
                </div>
              </div>
          </div>
          {% include 'partials/job/widgets/supportteam_list.html' %}
        </div>   

        <div class="p-3">
          <div class="row">
              <div class="col-md-10 d-flex align-items-center">
                <h4 class="mb-3">Links</h4>
              </div>
              <div class="col-md-2 text-end">
                  <a href="#" data-url="{% url 'assign_job_poc' job.slug %}" 
                    class="text-body-emphasis js-load-modal-form">
                    <span class="fa fa-plus"></span>
                  </a>
              </div>
          </div>
          {% include 'partials/job/widgets/links.html' %}
        </div>   

        <div class="p-3">
          <h4 class="mb-3">Recent activity</h4>
          {% include 'partials/job/widgets/activity.html' %}
        </div>  
    
        
      </div>

    </div>
  </div>
</div>

{% endblock content %}



{% block footer_javascript_page %}
<script>

$("#scopeForm").dirty({preventLeaving: true});

</script>
{% endblock footer_javascript_page %}