{% extends "base.html" %}
{% load menu %}{% load static %}{% load crispy_forms_tags %}{% load index %}

{% block pageTitle %}Phase{% endblock pageTitle %}
{% block head_title %}{{ job }}{% endblock head_title %}


{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-dark" href="{% url 'job_list' %}">Jobs</a></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-dark" href="{{ job.client.get_absolute_url }}">{{ phase.job.client }}</a></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-dark" href="{{ phase.job.get_absolute_url }}">{{ phase.job.id }}:{{ phase.job.title }}</a></li>
<li class="breadcrumb-item text-sm"><span class="opacity-50 text-dark">Phase</span></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-dark" href="{{ phase.get_absolute_url }}">{{ phase.phase_number }}:{{ phase.title }}</a></li></li>
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Schedule</li>
{% endblock breadcrumbItem %}

{% block content_classes %}px-0 {% endblock content_classes %}
{% block breadcrumb_classes %}px-5{% endblock breadcrumb_classes %}

{% block content %}

{% include 'partials/phase/page_header.html' %}


<div class="row g-0 mt-3 border-1 border-top bg-light dark__bg-1100 h-100">
  <div class="col-12 col-md-9 px-3 pt-3 border-1 border-end">

    <div class="card card-calendar">
      <div class="card-body p-0">
        <div class="calendar" data-bs-toggle="calendar" id="calendar"></div>
      </div>
    </div>

  </div>

  <div class="col-12 col-md-3 px-0 border-start-xxl border-300 border-top-0">

    <div class="col-12 h-100">
      <div class="bg-light dark__bg-1100 h-100 p-3">
        {% include 'partials/scheduler/schedule_add_user.html' %}
        {% include 'partials/scheduler/schedule_slot_settings.html' %}
        {% include 'partials/scheduler/schedule_util.html' %}                 
      </div>
    </div>

  </div>
</div>
{% endblock content %}

{% block footer_javascript_page %}
<script id="resource_dropdown_menu" type="text/plain">
  <a class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
    <span class="fas fa-ellipsis-h fs--2"></span>
  </a>
  <div class="dropdown-menu dropdown-menu-end py-2">
    <a class="dropdown-item" data-url="{% url 'assign_phase_field' phase.job.slug phase.slug 'project_lead' %}" href="#!">Make Project Lead</a>
    <a class="dropdown-item" data-url="{% url 'assign_phase_field' phase.job.slug phase.slug 'report_author' %}" href="#!">Make Report Author</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-danger" href="#!">Remove</a>
  </div>
</script>

<script>

var containerEl = document.getElementById('external-events');
var calendarEl = document.getElementById('calendar');
var csrf = $('form :input[name="csrfmiddlewaretoken"]');

if (containerEl) {
    new FullCalendar.Draggable(containerEl, {
        itemSelector: '.fc-event',
        eventData: function(eventEl) {
        return {
            title: eventEl.innerText
        };
        }
    });
}

var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'resourceTimelineMonth',
    themeSystem: 'bootstrap5',
    headerToolbar: {
        left: 'today prev,next',
        center: 'title',
        right: 'resourceTimelineTenDay,resourceTimelineMonth,resourceTimelineYear'
    },
    {% py_date_to_js_date phase.earliest_scheduled_date as earliest_scheduled_date %}
    {% if earliest_scheduled_date %}
    initialDate: '{{ earliest_scheduled_date }}',
    {% endif %}
    aspectRatio: 1.75,
    views: {
        resourceTimelineTenDay: {
            type: 'resourceTimeline',
            duration: { days: 10 },
            buttonText: '10 days'
        }
    },
    resourceAreaHeaderContent: 'Users',
    displayEventTime: false,
    resources: '{% url 'view_phase_schedule_members' job.slug phase.slug %}',
    events: '{% url 'view_phase_schedule_slots' job.slug phase.slug %}',
    selectable: true,
    select: function(info) {
      // get the selection info
      phasePk = $('#phaseSelect').find(":selected").val()
      slotType = $('#typeSelect').find(":selected").val()      
      onsiteCheck = $('#is_onsite').is(':checked')
      if(slotType == 0) {
        Swal.fire(
          'No slot type selected',
          'Please select a type before adding a slot.',
          'warning'
        );    
      } else {
        var slotData = {
            "phase": {{ phase.pk }},
            "deliveryRole": slotType,
            "slotType": 2,
            "start": info.start.toJSON(),
            "end": info.end.toJSON(),
            "is_onsite": onsiteCheck,
            "user": info.resource.id,
            "csrfmiddlewaretoken": csrf.val(),
          };
        $.ajax({
          url: '{% url "change_job_schedule_slot" job.slug %}',
          data: slotData,
          type: "POST",
          dataType: 'json',
          success: function(data) {
            if (data.form_is_valid) {

              location.reload();
            } else {
              Swal.fire(
                'Failed to add',
                'Something went wrong. Please check the data entered.',
                'warning'
              );    
            }
          }
        });
      };
    },
    resourceLabelDidMount: function(info) {
      var questionMark = document.createElement('div');
      questionMark.className = "d-inline"
      questionMark.innerHTML = $("#resource_dropdown_menu").html();

      info.el.querySelector('.fc-datagrid-cell-main')
        .appendChild(questionMark);
    },
    eventDrop: function(info) {
      if (!confirm("Are you sure about this change?")) {
        info.revert();
      } else {
        // Save the change...
        var slotData = {
            "pk": info.event.id,
            "start": info.event.start.toJSON(),
            "end": info.event.end.toJSON(),
            "deliveryRole": info.event.extendedProps.deliveryRole,
            "slotType": info.event.extendedProps.slotType,
            "user": info.event.extendedProps.userId,
            "phase": info.event.extendedProps.phaseId,
            "csrfmiddlewaretoken": csrf.val(),
          };
        if (info.newResource) {
          slotData['user'] = info.newResource.id;
        };
        $.ajax({
          url: '{% url "change_job_schedule_slot" job.slug %}/'+info.event.id,
          data: slotData,
          type: "POST",
          dataType: 'json',
          success: function(data) {
            if (!data.form_is_valid) {
              Swal.fire(
                'Failed to modify',
                'Something went wrong. Please check the data entered.',
                'warning'
              );    
              info.revert();
            } else {
              calendar.refetchEvents();
            }
          }
        });
      }
    },
    eventResize: function(info) {
      if (!confirm("Are you sure about this change?")) {
        info.revert();
      } else {
        // Save the change...
        var slotData = {
            "pk": info.event.id,
            "start": info.event.start.toJSON(),
            "end": info.event.end.toJSON(),
            "deliveryRole": info.event.extendedProps.deliveryRole,
            "slotType": info.event.extendedProps.slotType,
            "user": info.event.extendedProps.userId,
            "phase": info.event.extendedProps.phaseId,
            "csrfmiddlewaretoken": csrf.val(),
          };
        $.ajax({
          url: '{% url "change_job_schedule_slot" job.slug %}/'+info.event.id,
          data: slotData,
          type: "POST",
          dataType: 'json',
          success: function(data) {
            if (!data.form_is_valid) {
              Swal.fire(
                'Failed to modify',
                'Something went wrong. Please check the data entered.',
                'warning'
              );    
              info.revert();
            } else {
              location.reload();
            }
          }
        });
      }
    },
    eventClick: function(info) {
      info.jsEvent.preventDefault(); // don't let the browser navigate
      // Show slot edit modal
      if (info.event.url) {
        $.ajax({
            url: info.event.url,
            type: 'get',
            dataType: 'json',
            success: function(data) {
                $("#mainModalContent").html(data.html_form);
                $("#mainModal").modal("show");
            }
        });
      }
    },
    editable: true,
    droppable: false,
    nowIndicator: true,
  });

var addUser = function() {
  var form = $(this);
  userVal = $('#id_user').find(":selected").val()
  userObj = $('#id_user').find(":selected").text()
  if(userVal) {
    calendar.addResource({
      id: userVal,
      title: userObj
    });
  } else {
    Swal.fire(
      'No User Selected!',
      'Please select a user to add them to the resource table.',
      'warning'
    );    
  }
};

$('#addUserToResource').click(addUser);

calendar.render();
</script>
{% endblock footer_javascript_page %}