{% extends "base.html" %}
{% load menu %}{% load static %}{% load crispy_forms_tags %}{% load index %}

{% block pageTitle %}Phase{% endblock pageTitle %}
{% block head_title %}{{ job }}{% endblock head_title %}


{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{% url 'job_list' %}">Jobs</a></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{{ job.client.get_absolute_url }}">{{ phase.job.client }}</a></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{{ phase.job.get_absolute_url }}">{{ phase.job.id }}:{{ phase.job.title }}</a></li>
<li class="breadcrumb-item text-sm"><span class="opacity-50 text-body-emphasis">Phase</span></li>
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{{ phase.get_absolute_url }}">{{ phase.phase_number }}:{{ phase.title }}</a></li></li>
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">Schedule</li>
{% endblock breadcrumbItem %}

{% block content_classes %}px-0 {% endblock content_classes %}
{% block breadcrumb_classes %}px-5{% endblock breadcrumb_classes %}

{% block content %}

{% include 'partials/phase/page_header.html' %}


<div class="row g-0 mt-3 border-1 border-top bg-light dark__bg-1100 h-100">
  <div class="col-12 col-md-9 px-3 pt-3 border-1 border-end">

    <div class="card card-calendar">
      <div class="card-body p-0">
        <div class="calendar" data-bs-toggle="calendar" id="calendar"></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-3 px-0 border-start-xxl border-300 border-top-0">

    <div class="col-12 h-100">
      <div class="bg-light dark__bg-1100 h-100 p-3">
        {% include 'partials/scheduler/schedule_add_user.html' %}
        {% include 'partials/scheduler/schedule_util.html' %}                 
      </div>
    </div>

  </div>
</div>
{% endblock content %}

{% block footer_javascript_page %}

{% include 'js/scheduler_init.html' with earliest_scheduled_date=earliest_scheduled_date %}

calendar.render();
</script>
{% endblock footer_javascript_page %}