{% extends "base.html" %}
{% load menu %}{% load static %}

{% block pageTitle %}{{ qualification }}{% endblock pageTitle %}
{% block head_title %}{{ qualification }}{% endblock head_title %}


{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{% url 'qualification_list' %}">Qualifications</a></li>
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">{{ qualification.name }}</li>
{% endblock breadcrumbItem %}

{% block content_classes %}pt-15 px-0 {% endblock content_classes %}
{% block breadcrumb_classes %}px-5{% endblock breadcrumb_classes %}

{% block content %}

<div class="row px-5">
  <div class="col-12">
    <div class="row align-items-center justify-content-between g-3 mt-0 mb-0">
      <div class="col-6 col-md-auto">
        <h2 class="mb-2">
          Qualification Detail
        </h2>
      </div>

      <div class="col-md-auto">
        <div class="d-flex">
            <a href="{% url 'qualification_update' qualification.awarding_body.slug qualification.slug %}" class="btn btn-outline-secondary ms-auto">
            Edit
            </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-between ms-3 me-3 g-3 mt-0 mb-0">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <div class="row align-items-center g-3">
          <div class="col-12 ">
            <h3 class="fw-bolder mb-2 line-clamp-1">
              {{ qualification.awarding_body }} {{ qualification }}
            </h3>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-6">
  </div>
</div>


<div class="row g-0 mt-3 border-1 border-top bg-body-secondary h-100">
    <div class="col-12 px-6 pt-3 border-1 border-end">

        <div class="row mx-1">  
            <ul class="nav nav-underline scrollbar flex-nowrap w-100 pb-1 mb-3" id="sectionNav" role="tablist" style="overflow-y: hidden;">
                <li class="nav-item text-nowrap me-2" role="presentation">
                    <a class="nav-link active" id="team-tab" data-bs-toggle="tab" href="#team" role="tab" aria-controls="tab-team" aria-selected="true">
                    <span class="fa-solid fa-video me-2 tab-icon-color"></span>Team
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="team" role="tabpanel" aria-labelledby="team-tab">

                </div>
            </div>
        
        </div>
    </div>
</div>

{% endblock content %}