{% extends "base.html" %}
{% load menu %}{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block pageTitle %}Qualification Management{% endblock pageTitle %}
{% block head_title %}Qualification Management{% endblock head_title %}


{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{% url 'qualification_list' %}">Qualifications</a></li>
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">New Qualification</li>
{% endblock breadcrumbItem %}

{% block content %}
<div class="mt-3">
  <form method="post">
    {% csrf_token %}
    {{ form.media }}

    <div class="row g-3 flex-between-end mb-5">
      <div class="col-auto">
        <h2 class="mb-2">
            {% if form.instance.pk %}
            Edit Qualification
            {% else %}
            Add Qualification
            {% endif %}            
        </h2>
      </div>
      <div class="col-auto">
        <button class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button">Discard</button>
        <button class="btn btn-outline-success mb-2 mb-sm-0" type="submit">Save</button>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-xl-8 g-2 ">
        <div class="row mb-6">
          <div class="col-12 col-xl-6">
            <h4 class="mb-3">Name</h4>
            {{ form.name|as_crispy_field }}
          </div>

          <div class="col-12 col-xl-6">
            <h4 class="mb-3">Code/Short Name</h4>
            {{ form.short_name|as_crispy_field }}
          </div>
        </div>      

        <div class="row mb-6">
          <div class="col-12 col-xl-6">
            <h4 class="mb-3">Link to Qualification</h4>
            {{ form.url|as_crispy_field }}
          </div>

          <div class="col-12 col-xl-6">
            <h4 class="mb-3">Link to Guidance</h4>
            {{ form.guidance_url|as_crispy_field }}
          </div>
        </div>       
      </div>

      <div class="col-12 col-xl-4">
        <div class="row g-2">          
          <div class="col-12 g-2 col-xl-12">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row gx-3">

                  <div class="col-12 col-sm-6 col-xl-12">
                    <div class="mb-4">
                      <div class="d-flex flex-wrap mb-2">
                        <h5 class="mb-0 text-1000 me-2">Validity Period</h5>
                      </div>
                      {{ form.validity_period|as_crispy_field }}                    
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div>
    </div>

  </form>
</div>
{% endblock content %}