{% extends "base.html" %}
{% load menu %}{% load index %}{% load static %}

{% block pageTitle %}{{ service }}{% endblock pageTitle %}
{% block head_title %}{{ service }}{% endblock head_title %}


{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{% url 'service_list' %}">Services</a></li>
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">{{ service.name }}</li>
{% endblock breadcrumbItem %}

{% block content_classes %}pt-15 px-0 {% endblock content_classes %}
{% block breadcrumb_classes %}px-5{% endblock breadcrumb_classes %}

{% block content %}

<div class="row px-5">
  <div class="col-12">
    <div class="row align-items-center justify-content-between g-3 mt-0 mb-0">
      <div class="col-6 col-md-auto">
        <h2 class="mb-2">
            Service Detail
        </h2>
      </div>

      <div class="col-md-auto">
        <div class="d-flex">
            <a href="{% url 'service_update' service.slug %}" class="btn btn-outline-secondary ms-auto">
            Edit
            </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-between ms-3 me-3 g-3 mt-0 mb-0">
  <div class="col-4 g-3">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center g-3">
          <div class="col-12 col-sm-auto flex-1">
            <h3 class="fw-bolder mb-2 line-clamp-1">
                {{ service.name }}
            </h3>

            <table class="w-100 table-stats table-stats">
              <caption>Service Info</caption>
              <tbody>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr>
                    <td class="py-2">
                        <div class="d-flex align-items-center">
                          <div class="d-flex bg-info rounded-circle flex-center me-3" style="width:24px; height:24px">
        
                          </div>
                          <p class="fw-bold mb-0">Service Link</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2">                          
                      {% if service.link %}
                      <a href="{{ service.link }}">{{ service.link }}</a>
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td class="py-2">
                        <div class="d-flex align-items-center">
                          <div class="d-flex bg-info rounded-circle flex-center me-3" style="width:24px; height:24px">
        
                          </div>
                          <p class="fw-bold mb-0">Service Owners</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2">
                        <p class="ps-6 ps-sm-0 fw-semi-bold mb-0">
                          {% include 'partials/users/user_group.html' with users=service.owners.all %}
                        </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="py-2">
                        <div class="d-flex align-items-center">
                          <div class="d-flex bg-info rounded-circle flex-center me-3" style="width:24px; height:24px">
        
                          </div>
                          <p class="fw-bold mb-0">Required Skills</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2">
                        <p class="ps-6 ps-sm-0 fw-semi-bold mb-0">
                          {% for skill in service.skillsRequired.all %}
                          {% include 'partials/skill/skill_badge.html' with skill=skill %}
                          {% endfor %}                            
                        </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="py-2">
                        <div class="d-flex align-items-center">
                          <div class="d-flex bg-info rounded-circle flex-center me-3" style="width:24px; height:24px">
        
                          </div>
                          <p class="fw-bold mb-0">Desired Skills</p>
                        </div>
                    </td>
                    <td class="py-2 d-none d-sm-block pe-sm-2">:</td>
                    <td class="py-2">
                        <p class="ps-6 ps-sm-0 fw-semi-bold mb-0">
                          {% for skill in service.skillsDesired.all %}
                          {% include 'partials/skill/skill_badge.html' with skill=skill %}
                          {% endfor %}                                      
                        </p>
                    </td>
                  </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center g-3">
          <div class="col-12 col-sm-auto flex-1">
            <h3 class="fw-bolder mb-2 line-clamp-1">
                Description
            </h3>
            {% if service.description %}
              {{ service.description }}
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div id="service-team-breakdown-chart" style="min-height:320px"></div>
  </div>
</div>


<div class="row g-0 mt-3 border-1 border-top bg-body-secondary h-100">
    <div class="col-12 px-6 pt-3 border-1 border-end">

        <div class="row mx-1">  
            <ul class="nav nav-underline scrollbar flex-nowrap w-100 pb-1 mb-3" id="sectionNav" role="tablist" style="overflow-y: hidden;">
                <li class="nav-item text-nowrap me-2" role="presentation">
                    <a class="nav-link active" id="team-tab" data-bs-toggle="tab" href="#team" role="tab" aria-controls="tab-team" aria-selected="true">
                    <span class="fa-solid fa-video me-2 tab-icon-color"></span>Team
                    </a>
                </li>
                <li class="nav-item text-nowrap me-2" role="presentation">
                    <a class="nav-link" id="services-tab" data-bs-toggle="tab" href="#services" role="tab" aria-controls="tab-services" aria-selected="false" tabindex="-1">
                    <span class="fa-solid fa-clipboard me-2 tab-icon-color"></span>Services
                    </a>
                </li>
                <li class="nav-item text-nowrap me-2" role="presentation">
                    <a class="nav-link" id="engagements-tab" data-bs-toggle="tab" href="#engagements" role="tab" aria-controls="tab-engagements" aria-selected="false" tabindex="-1">
                    <span class="fa-solid fa-clipboard me-2 tab-icon-color"></span>Jobs
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="team" role="tabpanel" aria-labelledby="team-tab">

                </div>

                <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">

                </div>

                <div class="tab-pane fade" id="engagements" role="tabpanel" aria-labelledby="engagements-tab">
                  {% get_phases_for_user request.user service.phases.all as phases %}

                  {% include 'partials/phase/phase_list_table.html' with phases=phases %}
                </div>
            </div>
        
        </div>
    </div>
</div>

{% endblock content %}



{% block footer_javascript_page %}
<script>
  const { getColor, rgbaColor, getData } = window.phoenix.utils;
  var chartDom = document.getElementById('service-team-breakdown-chart');

  var chart = echarts.init(chartDom);
  options = {
    legend: {
        left: 'center',
        textStyle: {
        color: getColor('gray-600')
        }
    },
    series: [
        {
        type: 'pie',
        radius: ['40%', '70%'],
        center: ['50%', '55%'],
        avoidLabelOverlap: false,
        label: {
            show: false,
            position: 'center'
        },
        labelLine: {
            show: false
        },
        data: [
            {
                value: {{ service.get_users_can_do_with_support | length }},
                name: 'Need Support',
                itemStyle: {
                    color: getColor('warning')
                }
            },
            {
                value: {{ service.get_users_can_do_alone | length }},
                name: 'Do Alone',
                itemStyle: {
                    color: getColor('success')
                }
            },
            {
                value: {{ service.get_users_specialist | length }},
                name: 'Specialist',
                itemStyle: {
                    color: getColor('primary')
                }
            },
        ]
        }
    ],
    tooltip: {
        trigger: 'item',
        padding: [7, 10],
        backgroundColor: getColor('gray-100'),
        borderColor: getColor('gray-300'),
        textStyle: { color: getColor('dark') },
        borderWidth: 1,
        transitionDuration: 0,
        axisPointer: {
            type: 'none'
        }
    }
  };
  options && chart.setOption(options);

</script>
{% endblock footer_javascript_page %}