{% extends 'base.html' %}
{% load menu %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block pageTitle %}
  Skill
{% endblock %}
{% block head_title %}
  Skill
{% endblock %}

{% block breadcrumbItem %}
  <li class="breadcrumb-item text-sm">
    <a class="opacity-50 text-body-emphasis" href="{% url 'skill_list' %}">Skills</a>
  </li>
  <li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">Skill</li>
{% endblock %}

{% block content %}
  <div class="mt-3">
    <form method="post">
      {% csrf_token %}
      {{ form.media }}

      <div class="row g-3 flex-between-end mb-5">
        <div class="col-auto">
          <h2 class="mb-2">
            {% if form.instance.pk %}
              Edit Skill
            {% else %}
              Add new Skill
            {% endif %}
          </h2>
          <h5 class="text-700 fw-semi-bold">Category: {{ category.name }}</h5>
        </div>
        <div class="col-auto">
          <button class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button">Discard</button>
          <button class="btn btn-outline-success mb-2 mb-sm-0" type="submit">Save</button>
        </div>
      </div>

      <div class="row g-5">
        <div class="col-12 col-xl-8">
          <h4 class="mb-3">Name</h4>
          {{ form.name|as_crispy_field }}
        </div>
      </div>

      <div class="row g-5">
        <div class="col-12 col-xl-8">
          <h4 class="mb-3">Description</h4>
          {{ form.description|as_crispy_field }}
        </div>
      </div>
    </form>
  </div>
{% endblock %}
