{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
        <form method="post" action="{{ request.get_full_path }}" class="js-submit-modal-form">
            {% csrf_token %}            
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal" 
                    id="modal-title-default">
                        Leave Feedback
                </h6>
                <button type="button" class="btn-close text-body-emphasis" 
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% crispy form %}
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-phoenix-primary mb-0">Save</button>
                <button type="button" class="btn btn-light shadow-none mb-0" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
 </div>

 <script>
(function() {

    const { getColor, getData, getItemFromStore } = window.phoenix.utils;
    const { merge } = window._;
    const tinymces = document.querySelectorAll('.modal-body .tinymce');

    if (window.tinymce) {
      tinymces.forEach(tinymceEl => {
        const userOptions = getData(tinymceEl, 'tinymce');
        const options = merge(
          {
            selector: '.tinymce',
            height: '50vh',
            skin: 'oxide',
            license_key: 'gpl',
            menubar: true,
            promotion: false,
            content_style: `
              .mce-content-body { 
                color: ${getColor('emphasis-color')};
                background-color: ${getColor('tinymce-bg')};
              }
              .mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
                color: ${getColor('quaternary-color')};
                font-weight: 400;
                font-size: 12.8px;
              }
            `,
            // mobile: {
            //   theme: 'mobile',
            //   toolbar: ['undo', 'bold']
            // },
            statusbar: true,
            plugins: 'advlist autolink lists link image charmap preview anchor table media searchreplace visualblocks code',
            theme_advanced_toolbar_align: 'center',
            directionality: getItemFromStore('phoenixIsRTL') ? 'rtl' : 'ltr',
            toolbar: [
              { name: 'history', items: ['undo', 'redo'] },
              {
                name: 'formatting',
                items: ['bold', 'italic', 'underline', 'strikethrough']
              },
              {
                name: 'alignment',
                items: ['alignleft', 'aligncenter', 'alignright', 'alignjustify']
              },
              { name: 'list', items: ['numlist', 'bullist'] },
              { name: 'link', items: ['link'] }
            ],
            setup: editor => {
              editor.on('focus', () => {
                const wraper = document.querySelector('.tox-sidebar-wrap');
                wraper.classList.add('editor-focused');
              });
              editor.on('blur', () => {
                const wraper = document.querySelector('.tox-sidebar-wrap');
                wraper.classList.remove('editor-focused');
              });
            }
          },
          userOptions
        );
        window.tinymce.init(options);
      });

      const themeController = document.body;
      if (themeController) {
        themeController.addEventListener(
          'clickControl',
          ({ detail: { control } }) => {
            if (control === 'phoenixTheme') {
              tinymces.forEach(tinymceEl => {
                const instance = window.tinymce.get(tinymceEl.id);
                instance.dom.addStyle(
                  `.mce-content-body{
                  color: ${getColor('emphasis-color')} !important;
                  background-color: ${getColor('tinymce-bg')} !important;
                }`
                );
              });
            }
          }
        );
      }
    };
})();
</script>