{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
        <form method="post" action="{{ request.get_full_path }}" class="js-submit-modal-form">
            {% csrf_token %}            
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal" 
                    id="modal-title-default">
                        Delete Feedback
                </h6>
                <button type="button" class="btn-close text-body-emphasis" 
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this feedback entry?
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-phoenix-danger mb-0">Delete</button>
                <button type="button" class="btn btn-light shadow-none mb-0" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
 </div>