{% load widget_tweaks %}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form method="post" action="{{ request.get_full_path }}" class="js-submit-modal-form">
            {% csrf_token %}
            <div class="modal-header bg-warning">
                <h6 class="modal-title text-white font-weight-normal" id="modal-title-default">Remove Link</h6>
                <button type="button" class="btn-close text-body-emphasis" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you wish to remove the link <strong>{{ link.title }}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning mb-0">Remove</button>
                <button type="button" class="btn btn-light shadow-none mb-0" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
