{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content">
        <form method="post" action="{{ request.get_full_path }}" class="js-submit-modal-form">
            {% csrf_token %}            
            <div class="modal-header bg-warning">
                <h6 class="modal-title text-white font-weight-normal" 
                    id="modal-title-default">
                        Delete Support Role
                </h6>
                <button type="button" class="btn-close text-body-emphasis" 
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you wish to remove {{ instance.user }} from the support team of this job?
                </p>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="user_action" value="">
                <button type="submit" onclick="this.form.user_action.value=this.value" 
                    value="approve_action" class="btn btn-phoenix-warning mb-0">Remove</button>
                <button type="button" class="btn btn-light shadow-none mb-0" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
 </div>
