<div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
    <div class="modal-content {% if not can_proceed %}shadow-danger{% endif %}">
        <form method="post" action="{% url 'phase_update_workflow' phase.job.slug phase.slug new_state %}" class="js-workflow-phase-form">
            {% csrf_token %}            
            <div class="modal-header {% if not can_proceed %}bg-danger{% endif %}">
                <h6 class="modal-title {% if not can_proceed %}text-white{% endif %} font-weight-normal" 
                    id="modal-title-default">
                        Move to {{ new_state_str }}
                </h6>
                <button type="button" class="btn-close text-body-emphasis" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body ">
                {% if not can_proceed %}
                    <p class="">Unable to proceed to <mark>{{ new_state_str }}</mark>. The following checks failed:</p>
                    {% for message in messages %}
                    {% if message.tags == "error" %}
                    <div class="alert alert-outline-danger pt-2 pb-2">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                {% else %}

                    {% if tasks %}
                    <p class="">Verify the following items to continue:</p>
                    <ul class="list-group mb-2">
                        {% for task in tasks %}
                        <li class="list-group-item pb-0">
                            <div class="form-check ps-0">
                                <input class="form-check-input ms-0 me-2 " type="checkbox" value=""
                                    id="fcustomCheck1" required>
                                <label class="custom-control-label" for="customCheck1">
                                    {{ task.task }}
                                </label>
                            </div>                            
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    
                    {% if messages %}
                    <p class="">Note:</p>
                    {% for message in messages %}
                    {% if message.tags == "info" %}
                    <div class="alert alert-outline-info pt-2 pb-2">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}


                    {% if fyi %}
                    <p class="">{{ fyi }}</p>
                    <div class="alert alert-outline-info pt-2 pb-2">
                        {{ fyi_content }}
                    </div>
                    {% endif %}

                    <p>Are you sure you wish to progress to <mark>{{ new_state_str }}</mark>?</p>
                {% endif %}
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-light shadow-none mb-0" data-bs-dismiss="modal">Close</button>
                {% if can_proceed %}
                <button type="submit" class="btn btn-phoenix-primary mb-0">Advance Status</button>
                {% endif %}
            </div>
        </form>
    </div>
 </div>