{% load feedback_tags %}
{% load static %}

<div class="card">
  <div class="card-body d-flex flex-column justify-content-between pb-0">
    <div class="m-2 position-absolute top-0 end-0">
      {% include 'partials/user/user_menu.html' with u=user %}
    </div>

    <div class="position-relative">
      <div class="p-3 pb-0">
        <div class="text-center row align-items-center">
          <div class="col-4">
            <div class="avatar avatar-4xl position-relative me-2 me-sm-0 me-xl-2 mb-2">
              <img class="rounded-circle border border-light-subtle" src="{{ user.get_avatar_url }}" alt="" />
            </div>
          </div>
          <div class="col-8 text-start">
            <h3 class="">
              {{ user }}
              {% for unitMembership in user.unit_memberships.all %}
                <a href="{{ unitMembership.unit.get_absolute_url }}">{% include 'partials/unit/unit_badge_role_colour.html' with unitMembership=unitMembership %}</a>
              {% endfor %}
            </h3>

            {% if user.job_title %}
              <p class="text-opacity-50 fw-semibold fs-10 mb-2">{{ user.job_title }}</p>
            {% endif %}

            <div class="row mb-1">
              <div class="d-flex align-items-center">
                <div class="px-2 py-1 me-2 text-secondary fs-9">
                  <span class="fa-solid fa-at"></span>
                </div>
                <p class="fs-9 mb-0">
                  {% if user.notification_email %}
                    <a href="mailto:{{ user.notification_email }}">{{ user.notification_email }}</a>
                  {% elif user.email %}
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                  {% endif %}
                </p>
              </div>
            </div>

            <div class="row mb-1">
              <div class="d-flex align-items-center">
                <div class="px-2 py-1 me-2 text-secondary fs-9">
                  <span class="fa-solid fa-phone"></span>
                </div>
                <p class="fs-9 mb-0">
                  {% if user.phone_number %}
                    {{ user.phone_number }}
                  {% else %}
                    No info
                  {% endif %}
                </p>
              </div>
            </div>

            <div class="row mb-1">
              <div class="d-flex align-items-center">
                <div class="px-2 py-1 me-2 text-secondary fs-9">
                  <span class="fa-solid fa-route"></span>
                </div>
                <p class="fs-9 mb-0">
                  {% if user.city %}
                    {{ user.city.name }}, {{ user.city.country.name }}
                  {% else %}
                    No info
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
