{% load user_tags %}
<div class="btn-reveal-trigger position-static">
  <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>

  <div class="dropdown-menu shadow dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
    <li>
      <a class="dropdown-item" href="{{ u.get_absolute_url }}">View Profile</a>
    </li>

    {% can_be_managed_by u request.user as can_manage %}

    {% if can_manage %}
      <div class="dropdown-divider"></div>
      <li>
        <a class="dropdown-item" href="#">Manage &raquo;</a>
        <ul class="dropdown-menu dropdown-submenu">
          <li>
            <a class="dropdown-item" href="{% url 'update_profile' u.email %}">Update Profile</a>
          </li>
          <li>
            <button class="dropdown-item js-load-modal-form" data-url="{% url 'user_assign_global_role' u.email %}">Assign Global Role</button>
          </li>
          <li>
            {% if u != request.user %}
              {% comment %}Don't enable disabling ourselves...{% endcomment %}
              {% if u.is_active %}
                <button class="dropdown-item text-danger js-load-modal-form" data-url="{% url 'user_manage_status' u.email 'deactivate' %}">Deactivate</button>
              {% else %}
                <button class="dropdown-item text-success js-load-modal-form" data-url="{% url 'user_manage_status' u.email 'activate' %}">Activate</button>
              {% endif %}
            {% endif %}
          </li>
        </ul>
      </li>
    {% endif %}

    {% if request.user.is_superuser %}
      <li>
        <a class="dropdown-item" href="#">Admin &raquo;</a>
        <ul class="dropdown-menu dropdown-submenu">
          <li>
          <a class="dropdown-item text-warning" href="{% url 'impersonate-start' u.id %}">Impersonate</a>
          </li>
          <li>
          <button class="dropdown-item text-danger js-load-modal-form" data-url="{% url 'user_merge' u.email %}">Merge other user</button>
          </li>
          <li>
            <a class="dropdown-item text-danger" href="{{ u.get_admin_url }}">Django Admin Page</a>
          </li>
        </ul>
      </li>
    {% endif %}
  </div>
</div>
