{% load user_tags %}
{% load org_tags %}

{% get_org_working_days_range user.unit_memberships.first.unit start_date end_date as org_working_days %}


<div class="row gy-3 mb-4 justify-content-between">
    <div class="col">
        <h3 class="mb-0 text-primary position-relative fw-bold">
            <span class="bg-body pe-2">
                Upcoming
            </span>
            <span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
        </h3>
    </div>
</div>

<div class="row g-4 mb-4 justify-content-between">
    <div class="card px-0 mx-3 shadow-none border">
        <div class="card-header p-4 border-bottom bg-body">
            <div class="row g-3 justify-content-between align-items-center">

                <div class="col-8 col-md">
                    <h4 class="text-body mb-0">Future Utilisation</h4>
                    <span class="bg-body pe-2">
                        The scheduled time as percentages from the start of the current week.
                    </span>
                </div>
                <div class="col col-md-auto">
                    <div class="d-flex flex-row text-center">
                            <div class="m0 px-3 border-translucent border-end">
                                <h4 class="text-body mb-0">{{ stats.availability.thisweek.utilisation_perc }}%</h4>
                                <p class="text-body-secondary fs-10 mb-0">This<br />Week</p>
                            </div>

                            <div class="m0 px-3 border-translucent border-end">
                                <h4 class="text-body mb-0">{{ stats.availability.twoweeks.utilisation_perc }}%</h4>
                                <p class="text-body-secondary fs-10 mb-0">Two<br />Weeks</p>
                            </div>

                            <div class="m0 px-3 border-translucent border-end">
                                <h4 class="text-body mb-0">{{ stats.availability.fourweeks.utilisation_perc }}%</h4>
                                <p class="text-body-secondary fs-10 mb-0">Four<br />Weeks</p>
                            </div>

                            <div class="m0 ps-3">
                                <h4 class="text-body mb-0">{{ stats.availability.eightweeks.utilisation_perc }}%</h4>
                                <p class="text-body-secondary fs-10 mb-0">Eight<br />Weeks</p>
                            </div>
                      </div>
                </div>
            </div>
        </div>

        <div class="card-body p-0">
            <div class="echart-availability" style="min-height:350px"></div>
        </div>
    </div>
</div>

<div class="row g-4 justify-content-between">
    <div class="card px-0 mx-3 shadow-none border">
        <div class="card-header p-4 border-bottom bg-body">
            <div class="row g-3 justify-content-between align-items-center">

                <div class="col-8 col-md">
                    <h4 class="text-body mb-0">Service Breakdown</h4>
                    <span class="bg-body pe-2">
                        Ranked breakdown of services participated in
                    </span>
                </div>
                <div class="col col-md-auto">
                </div>
            </div>
        </div>

        <div class="card-body p-0">
            <div class="echart-service-breakdown" style="min-height:350px"></div>
        </div>
    </div>
</div>


<div class="row gy-3 mt-6 justify-content-between">
    <h3 class="mb-0 text-primary position-relative fw-bold">
        <span class="bg-body pe-2">
            Ranged Stats
        </span>
        <span class="border border-primary position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
    </h3>
    <p class="mb-0">You can easily show your stats content by using these cards.</p>
</div>

<div class="row mt-6">
    <div class="col-7 d-flex flex-row flex-fill">
        <div class="col-3 text-center border-translucent border-end">
            <i class="fa-solid fa-calendar fs-6 lh-1 text-info"></i>
            <h2 class="fs-6 pt-3">{{ stats.ranged.working_days_list | length }}</h2>
            <p class="fs-9 mb-0">Available Days</p>
        </div>
        <div class="col-3 text-center border-translucent border-end">
            <i class="fa-solid fa-calendar-days fs-6 lh-1 text-info"></i>
            <h2 class="fs-6 pt-3">{{ stats.ranged.scheduled_days_list | length }}</h2>
            <p class="fs-9 mb-0">Scheduled Days</p>
        </div>
        <div class="col-3 text-center border-translucent border-end">
            <i class="fa-solid fa-calendar-check fs-6 lh-1 text-info"></i>
            <h2 class="fs-6 pt-3">{{ stats.ranged.confirmed_days_list | length }}</h2>
            <p class="fs-9 mb-0">Chargable Days</p>
        </div>
        <div class="col-3 text-center border-translucent">
            <i class="fa-solid fa-percent fs-6 lh-1 text-info"></i>
            <h2 class="fs-6 pt-3">{{ stats.ranged.utilisation_perc }}%</h2>
            <p class="fs-9 mb-0">
                Utilisation
                <i class="text-secondary fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Utilisation is calculated as `confirmed scheduled days` ÷ `available working days` x 100"></i>
            </p>
        </div>
    </div>

    <div class="col-5 card">
        <div class="card-body px-1 d-flex flex-row justify-content-center">
            <form class="profile-stats-form" action="" method="get">
                <div class="pe-3">
                    <label class="form-label" for="floaTingLabelSingleSelect">Organisational Unit</label>
                    <select name="org" class="form-select" id="floaTingLabelSingleSelect">
                        {% for orgUnit in user.unit_memberships.all %}
                        <option {% if orgUnit.unit is stats.ranged.org %}selected=""{% endif %} value="{{ orgUnit.unit.id }}">{{ orgUnit.unit }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="flatpickr-input-container">
                    <label class="form-label" for="dateRangePicker">Select Date Range</label>
                    <input name="dateRange" class="form-control datetimepicker" id="dateRangePicker" type="text" />
                </div>
            </form>
        </div>
    </div>
</div>


<script>
$(function() {
    $("#dateRangePicker").flatpickr(
        {
            mode: "range",
            dateFormat: "Y-m-d",
            disableMobile: true,
            defaultDate: [
                "{{ start_date.isoformat }}", 
                "{{ end_date.isoformat }}",
            ],
            onClose: function(selectedDates, dateStr, instance) {
                $(".profile-stats-form").submit();  
            },

        }
    );

    // import * as echarts from 'echarts';
    const { merge } = window._;

    // form config.js
    const echartSetOption = (
        chart,
        userOptions,
        getDefaultOptions,
        responsiveOptions
    ) => {
        const { breakpoints, resize } = window.phoenix.utils;
        const handleResize = options => {
        Object.keys(options).forEach(item => {
            if (window.innerWidth > breakpoints[item]) {
            chart.setOption(options[item]);
            }
        });
        };

        const themeController = document.body;
        // Merge user options with lodash
        chart.setOption(merge(getDefaultOptions(), userOptions));

        const navbarVerticalToggle = document.querySelector(
        '.navbar-vertical-toggle'
        );
        if (navbarVerticalToggle) {
            navbarVerticalToggle.addEventListener('navbar.vertical.toggle', () => {
                chart.resize();
                if (responsiveOptions) {
                handleResize(responsiveOptions);
                }
            });
        }

        resize(() => {
            chart.resize();
            if (responsiveOptions) {
                handleResize(responsiveOptions);
            }
        });
        if (responsiveOptions) {
            handleResize(responsiveOptions);
        }

        themeController.addEventListener(
            'clickControl',
            ({ detail: { control } }) => {
                if (control === 'phoenixTheme') {
                chart.setOption(window._.merge(getDefaultOptions(), userOptions));
                }
                if (responsiveOptions) {
                handleResize(responsiveOptions);
                }
            }
        );
    };

    const tooltipFormatter = (params, dateFormatter = 'MMM DD') => {
        let tooltipItem = ``;
        params.forEach(el => {
            tooltipItem += `<div class='ms-1'>
                <h6 class="text-body-tertiary"><span class="fas fa-circle me-1 fs-10" style="color:${
                el.borderColor ? el.borderColor : el.color
                }"></span>
                ${el.seriesName} : ${
            typeof el.value === 'object' ? el.value[1] : el.value
            }
                </h6>
            </div>`;
        });
        return `<div>
                <p class='mb-2 text-body-tertiary'>
                ${
                    window.dayjs(params[0].axisValue).isValid()
                    ? window.dayjs(params[0].axisValue).format(dateFormatter)
                    : params[0].axisValue
                }
                </p>
                ${tooltipItem}
            </div>`;
    };

    const handleTooltipPosition = ([pos, , dom, , size]) => {
        // only for mobile device
        if (window.innerWidth <= 540) {
        const tooltipHeight = dom.offsetHeight;
        const obj = { top: pos[1] - tooltipHeight - 20 };
        obj[pos[0] < size.viewSize[0] / 2 ? 'left' : 'right'] = 5;
        return obj;
        }
        return null; // else default behaviour
    };

    const { getColor, getData, rgbaColor } = window.phoenix.utils;
    const $chartEl_availability = document.querySelector(
        '.echart-availability'
    );

    const days = [
        'Eight Weeks',
        'Four Weeks',
        'Two Weeks',
        'This Week',
    ];

    if ($chartEl_availability) {
        const userOptions = getData($chartEl_availability, 'echarts');
        const chart = window.echarts.init($chartEl_availability);
        const getDefaultOptions = () => ({
            color: [
                getColor('success'),
                getColor('warning'),
                getColor('info'),
                getColor('secondary-light'),
            ],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                },
                padding: [7, 10],
                backgroundColor: getColor('body-highlight-bg'),
                borderColor: getColor('border-color'),
                textStyle: { color: getColor('light-text-emphasis') },
                borderWidth: 1,
                transitionDuration: 0,
                position: (...params) => handleTooltipPosition(params),
                formatter: tooltipFormatter
            },
            toolbox: {
                feature: {
                    magicType: {
                    type: ['stack', 'tiled']
                    }
                },
                right: 0
            },
            legend: {
                data: [
                    'Confirmed',
                    'Tentative',
                    'Non-Delivery',
                    'Available',
                ],
                textStyle: {
                    color: getColor('tertiary-color')
                },
                left: 0
            },
            xAxis: {
                type: 'value',
                axisLine: {
                    show: true,
                    lineStyle: {
                    color: getColor('tertiary-bg')
                    }
                },
                axisTick: { show: false },
                axisLabel: {
                    color: getColor('quaternary-color')
                },
                splitLine: {
                    lineStyle: {
                    show: true,
                    color: getColor('secondary-bg')
                    }
                }
            },
            yAxis: {
                type: 'category',
                data: days,
                axisLine: {
                    lineStyle: {
                        show: true,
                        color: getColor('tertiary-bg')
                    }
                },
                axisTick: { show: false },
                axisLabel: {
                    color: getColor('quaternary-color'),
                    {% comment %} formatter: value => value.substring(0, 3) {% endcomment %}
                }
            },
            series: [
                {
                    name: 'Confirmed',
                    type: 'bar',
                    stack: 'total',
                    label: {
                        show: false,
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    data: [
                    {{ stats.availability.eightweeks.confirmed_days_perc }},
                    {{ stats.availability.fourweeks.confirmed_days_perc }},
                    {{ stats.availability.twoweeks.confirmed_days_perc }},
                    {{ stats.availability.thisweek.confirmed_days_perc }},
                    ]
                },
                {
                    name: 'Tentative',
                    type: 'bar',
                    stack: 'total',
                    label: {
                        show: false,
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    data: [
                    {{ stats.availability.eightweeks.tentative_days_perc }},
                    {{ stats.availability.fourweeks.tentative_days_perc }},
                    {{ stats.availability.twoweeks.tentative_days_perc }},
                    {{ stats.availability.thisweek.tentative_days_perc }},
                    ]
                },
                {
                    name: 'Non-Delivery',
                    type: 'bar',
                    stack: 'total',
                    label: {
                        show: false,
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    data: [
                    {{ stats.availability.eightweeks.non_delivery_days_perc }},
                    {{ stats.availability.fourweeks.non_delivery_days_perc }},
                    {{ stats.availability.twoweeks.non_delivery_days_perc }},
                    {{ stats.availability.thisweek.non_delivery_days_perc }},
                    ]
                },
                {
                    name: 'Available',
                    type: 'bar',
                    stack: 'total',
                    label: {
                        show: false,
                        textStyle: {
                            color: getColor('light-text-emphasis')
                        }
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    data: [
                    {{ stats.availability.eightweeks.available_days_perc }},
                    {{ stats.availability.fourweeks.available_days_perc }},
                    {{ stats.availability.twoweeks.available_days_perc }},
                    {{ stats.availability.thisweek.available_days_perc }},
                    ]
                }
            ],
            grid: {
                right: 15,
                left: 5,
                bottom: 5,
                top: '15%',
                containLabel: true
            }
        });
        echartSetOption(chart, userOptions, getDefaultOptions);
};


    // Radar Chart for Service Breakdown

    const $chartEl_serviceBreakdown = document.querySelector(
      '.echart-service-breakdown'
    );

    const getFormatter = params => {
        const indicators = [[
            {% for serv in stats.service_breakdown %}
            '{{ serv.name }}',
            {% endfor %}
        ]];
        const num = params.seriesIndex;
        return `<strong > ${params.name} </strong>
            <div class="fs-9 text-body-tertiary">
            <strong >${indicators[params.seriesIndex][0]}</strong>: ${
            params.value[0]
            }  <br>
            {% for serv in stats.service_breakdown %}
            <strong>${indicators[num][{{ forloop.counter }}]}</strong>: ${params.value[{{ forloop.counter }}]}  <br>
            {% endfor %}
            </div>`;
    };

    if ($chartEl_serviceBreakdown) {
        const userOptions = getData($chartEl_serviceBreakdown, 'echarts');
        const chart = window.echarts.init($chartEl_serviceBreakdown);
        const getDefaultOptions = () => ({
            legend: {
                orient: 'vertical',
                left: 'left',
                textStyle: {
                    color: getColor('tertiary-color')
                }
            },
            tooltip: {
                trigger: 'item',
                padding: [7, 10],
                backgroundColor: getColor('body-highlight-bg'),
                borderColor: getColor('border-color'),
                textStyle: { color: getColor('light-text-emphasis') },
                borderWidth: 1,
                transitionDuration: 0,
                axisPointer: {
                    type: 'none'
                },
                formatter: getFormatter
            },
            radar: [
                {
                    startAngle: 90,
                    splitNumber: 4,
                    indicator: [
                        {% for serv in stats.service_breakdown %}
                        { name: '{{ serv.name }}', max: {{ stats.service_breakdown.0.participation_count }}},
                        {% endfor %}
                    ],
                    name: {
                        formatter: '{value}',
                        textStyle: {
                            color: getColor('tertiary-color')
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: rgbaColor(getColor('tertiary-color'))
                        }
                    }
                },
            ],

            series: [
                {
                    type: 'radar',
                    data: [
                    {
                        value: [
                            {% for serv in stats.service_breakdown %}
                            {{ serv.participation_count }} ,
                            {% endfor %}
                        ],
                        name: 'Support',
                        itemStyle: {
                        color: getColor('warning')
                        },
                        areaStyle: {
                        color: rgbaColor(getColor('warning'), 0.3)
                        }
                    },
                    ]
                }
            ]
        });

        const responsiveOptions = {
            xs: {
                radar: [
                    {
                    center: ['50%', '30%'],
                    radius: 90
                    },
                ]
            },
            sm: {
                radar: [
                    {
                    radius: 120
                    },
                ]
            },
            xl: {
                radar: [
                    {
                    center: ['25%', '50%']
                    },
                ]
            }
        };

        echartSetOption(chart, userOptions, getDefaultOptions, responsiveOptions);
    };

});
</script>