
{% if u.email %}
{% if 'chaotica_utils.manage_user' in perms %}
  <button class="dropdown-item js-load-modal-form" data-url="{% url 'user_assign_global_role' u.email %}">Assign Global Role</button>

  {% if request.user.is_superuser %}
    <a class="dropdown-item text-warning" href="{% url 'impersonate-start' u.id %}">Impersonate</a>
  {% endif %}

  <button class="dropdown-item text-danger js-load-modal-form" data-url="{% url 'user_merge' u.email %}">Merge other user</button>
  {% if u.is_active %}
    <button class="dropdown-item text-danger js-load-modal-form" data-url="{% url 'user_manage_status' u.email 'deactivate' %}">Deactivate</button>
  {% else %}
    <button class="dropdown-item text-success js-load-modal-form" data-url="{% url 'user_manage_status' u.email 'activate' %}">Activate</button>
  {% endif %}
{% endif %}

{% endif %}