<div class="btn-reveal-trigger position-static">
    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
  
    <div class="dropdown-menu shadow dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="{{ u.get_absolute_url }}">View Profile</a>
  
      {% if user.manager == request.user or user.acting_manager == request.user or perms.chaotica_utils.manage_user %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'user_manage' u.email %}">Edit Profile</a>
      {% endif %}
  
    {% include 'partials/user/user_manage_menu_options.html' %}
    </div>
  </div>
  