{% load humanize %}{% load static %}

<div class="timeline-basic mb-9">
{% for activity in activities %}
   <div class="timeline-item">
      <div class="row g-3">
         <div class="col-auto">
            <div class="timeline-item-bar position-relative">
               <div class="icon-item icon-item-md rounded-7 border">
                  <span class="fa-solid fa-clipboard text-success fs-9"></span>
               </div>
               <span class="timeline-bar border-end border-dashed border-300"></span>
            </div>
         </div>
         <div class="col g-3">
            <div class="d-flex justify-content-between">
               <div class="d-flex mb-2">
                  <h6 class="lh-sm mb-0 me-2 text-800 timeline-item-title">
                     {{ activity.content }}
                  </h6>
               </div>
               <p class="text-500 fs-9 mb-0 text-nowrap timeline-time"
                  data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ activity.create_date }}">
                  <span class="fa-regular fa-clock me-1"></span>{{ activity.create_date|naturaltime }}
               </p>
            </div>
            <h6 class="fs-10 fw-normal mb-3">
               {% if activity.is_system_note and activity.author is None %}
               by <span class="fw-semi-bold">SYSTEM</span>
               {% else %}
               by <a class="fw-semi-bold" href="{{ activity.author.get_absolute_url }}">{{ activity.author }}</a>
               {% endif %}
            </h6>
         </div>
      </div>
   </div>
{% endfor %}
</div>