{% load index %}

<span class="rating text-end {% if feedback < 1 %}
    text-danger
  {% elif feedback < 2 %}
    text-warning
  {% elif feedback < 3 %}
    text-primary
  {% elif feedback >= 3 %}
    text-success
  {% endif %}"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  title="{% if feedback %}
    {{ feedback|add:1 }} 
  {% else %}
    No Data
  {% endif %}">
  {% if feedback %}
  {% get_range_from_zero 4 as feedbackRange %}
  {% for i in feedbackRange %}
    {% if feedback >= i %}
      <span class="fa fa-xs fa-star {% if feedback == 4 %}pulse{% endif %}"></span>
    {% else %}
      <span class="text-300 fa-xs fa-regular fa-star"></span>
    {% endif %}
  {% endfor %}
  {% else %}
  <span class="text-300 text-secondary-subtle fa-xs fa-regular fa-star"></span>
  <span class="text-300 text-secondary-subtle fa-xs fa-regular fa-star"></span>
  <span class="text-300 text-secondary-subtle fa-xs fa-regular fa-star"></span>
  <span class="text-300 text-secondary-subtle fa-xs fa-regular fa-star"></span>
  <span class="text-300 text-secondary-subtle fa-xs fa-regular fa-star"></span>

  {% endif %}
</span>
