{% load humanize %}
{% load static %}

{% for feedback in feedbacks %}
  <div class="d-flex align-items-center mb-3">
    <a href="{{ feedback.author.get_absolute_url }}">
      <div class="avatar avatar-xl me-2">
        <img class="rounded-circle" src="{{ feedback.author.get_avatar_url }}" alt="" />
      </div>
    </a>
    <div class="flex-1">
      <a class="fw-bold mb-0 text-body-emphasis" href="{{ feedback.author.get_absolute_url }}">{{ feedback.author }}</a>
      <p class="fs-10 mb-0 text-body-tertiary text-opacity-85 fw-semibold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ feedback.last_edited }}">{{ feedback.last_edited|naturaltime }}</p>
    </div>
    <div class="btn-reveal-trigger">
      {% if feedback.author == request.user %}
        <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none d-flex btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
        <div class="dropdown-menu dropdown-menu-end py-2" style="">
          <button class="dropdown-item js-load-modal-form" data-url="{% url 'phase_feedback_edit' phase.job.slug phase.slug feedback.pk %}">Edit</button>
          <button class="dropdown-item text-danger js-load-modal-form" data-url="{% url 'phase_feedback_delete' phase.job.slug phase.slug feedback.pk %}">Delete</button>
        </div>
      {% endif %}
    </div>
  </div>
  <p class="text-body-secondary">{{ feedback.body }}</p>
{% empty %}
  <h6 class="lh-sm mt-0 mb-0 me-2 text-800 timeline-item-title">No comments</h6>
{% endfor %}
