{% extends "base.html" %}
{% load menu %}{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block pageTitle %}Request Leave{% endblock pageTitle %}
{% block head_title %}Request Leave{% endblock head_title %}


{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{% url 'view_own_leave' %}">Leave</a></li>
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">Request Leave</li>
{% endblock breadcrumbItem %}

{% block content %}
<div class="mt-3">
  <form method="post">
    {% csrf_token %}
    {{ form.media }}

      <div class="row g-3 flex-between-end mb-5">
        <div class="col-auto">
          <h2 class="mb-2">Request Leave</h2>
        </div>
        <div class="col-auto">
          <button class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0" type="button">Discard</button>
          <button class="btn btn-outline-success mb-2 mb-sm-0" type="submit">Save</button>
        </div>
      </div>

      {% if form.non_field_errors %}
        <div class="non-field-errors">
          {% for err in form.non_field_errors %}
          <div class="alert alert-outline-danger d-flex align-items-center" role="alert">
            <span class="fas fa-times-circle text-danger fs-3 me-3"></span>
            <p class="mb-0 flex-1">{{ err }}</p>              
          </div>
          {% endfor %}
        </div>
      {% endif %}


      <div class="row g-5">
        <div class="col-12 col-xl-8 gx-5">
          <h4 class="mb-3">Type of Leave</h4>
          {{ form.type_of_leave|as_crispy_field }}

          <div class="mt-3">
            <h4 class="mb-3">Notes</h4>
              {{ form.notes|as_crispy_field }}
          </div>
          
        </div>

        <div class="col-12 col-xl-4">
          <div class="row g-2 pt-5">

            <div class="col-12 col-xl-12">
              <div class="card mb-3">
                <div class="card-body">
                  <h4 class="card-title mb-4">Dates</h4>
                  <div class="row gx-3">
                    <div class="col-12 col-sm-6 col-xl-12">
                      <div class="mb-4">
                        <div class="d-flex flex-wrap mb-2">
                          <h5 class="mb-0 text-1000 me-2">Start</h5>
                        </div>
                        {{ form.start_date|as_crispy_field }}
                    
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-12">
                      <div class="mb-4">
                        <div class="d-flex flex-wrap mb-2">
                          <h5 class="mb-0 text-1000 me-2">End</h5>
                        </div>
                        {{ form.end_date|as_crispy_field }}   
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  </form>
</div>

{% endblock content %}
