{% extends "base.html" %}
{% load menu %}{% load static %}

{% block pageTitle %}Jobs{% endblock pageTitle %}
{% block head_title %}Jobs{% endblock head_title %}

{% block headerBlock_css %}mb-6{% endblock headerBlock_css %}

{% block breadcrumbItem %}
<!-- <li class="breadcrumb-item text-sm"><a class="opacity-50 text-dark" href="javascript:;">Pages</a></li> -->
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
{% endblock breadcrumbItem %}

{% block content %}

{% endblock content %}