{% extends 'base.html' %}
{% load menu %}
{% load static %}
{% load index %}
{% load crispy_forms_tags %}

{% block pageTitle %}
  Scheduler
{% endblock %}
{% block head_title %}
  Scheduler
{% endblock %}

{% block headerBlock_css %}
  mb-0
{% endblock %}
{% block content_classes %}
  px-0 my-0 vh-100 position-fixed w-100 
{% endblock %}
{% block breadcrumb_classes %}
  px-5
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block alerts %}
{% comment %} This is ugly... but we have to "read" the messages otherwise next 
time they visit a normal page, it'll be full of messages! {% endcomment %}

{% for message in messages %}
<div class="d-none alert m-2 alert-phoenix-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %} show" role="alert">
    {{ message }}
</div>
{% endfor %}

{% endblock alerts %}

{% block content %}
  <div class="calendar bg-body-emphasis w-100 {% if config.SITE_NOTICE_ENABLED %}pt-5{% endif %}" data-bs-toggle="calendar" id="calendar"></div>
{% include 'partials/loading.html' %}
{% endblock %}

{% block offcanvas %}
  <div class="offcanvas offcanvas-end settings-panel border-0" id="settings-offcanvas" tabindex="-1" aria-labelledby="settings-offcanvas">
    <div class="offcanvas-header align-items-start border-bottom flex-column">
      <div class="pt-1 w-100 mb-3 d-flex justify-content-between align-items-start">
        <div>
          <h5 class="mb-2 me-2 lh-sm">
            <span class="fas fa-palette me-2 fs-8"></span>
            Filter Schedule
          </h5>
          <p class="mb-0 fs-9">Use the filters below to refine resources displayed</p>
        </div>
        <button class="btn p-1 fw-bolder" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><span class="fas fa-times fs-8"></span></button>
      </div>
      <button class="btn btn-phoenix-secondary w-100" data-theme-control="reset"><span class="fas fa-arrows-rotate me-2 fs-10"></span>Reset to default</button>
    </div>
    <div class="offcanvas-body scrollbar px-card" id="themeController">
      {% crispy filter_form %}
    </div>
  </div>
  <a class="card setting-toggle" href="#settings-offcanvas" data-bs-toggle="offcanvas">
    <div class="card-body d-flex align-items-center px-2 py-1">
      <div class="position-relative rounded-start" style="height:34px;width:28px">
        <div class="settings-popover">
          <span class="fa-solid fa-filter"></span>
        </div>
      </div><small class="text-uppercase text-700 fw-bold py-2 pe-2 ps-1 rounded-end">Filter</small>
    </div>
  </a>
{% endblock %}

{% block footer_javascript_page %}
<script>
  {% include 'js/scheduler_init.js' %}
</script>
{% endblock %}

{% block footer_css %}
  fixed-bottom bg-soft
{% endblock %}
