{% load humanize %}{% load static %}
<div class="row">

    <div class="col border-1 border-end border-gray-400 p-2">
        <div class="btn w-100 fs-8 fw-semi-bold d-flex flex-column d-xxl-inline-block">
            <h6 class="fs-18 mb-1 font-w500 text-body-emphasis">Scope requested</h6>
            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ job.scoping_requested_on }}" >
                {% if job.scoping_requested_on %}
                    {{ job.scoping_requested_on|naturaltime }}
                {% else %}
                    <span class="fas fa-ellipsis-h"></span>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="col border-1 border-end p-2">
        <div class="btn w-100 fs-8 fw-semi-bold d-flex flex-column d-xxl-inline-block">
            <h6 class="fs-18 mb-1 font-w500 text-body-emphasis">Scope completed</h6>
            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ job.scoping_completed_date }}" >
                {% if job.scoping_completed_date %}
                    {{ job.scoping_completed_date|naturaltime }}
                {% else %}
                    <span class="fas fa-ellipsis-h"></span>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="col border-1  border-end p-2">
        <div class="btn w-100 fs-8 fw-semi-bold d-flex flex-column d-xxl-inline-block">
            <h6 class="fs-18 mb-1 font-w500 text-body-emphasis">Start date</h6>
            <span>
                {% if job.start_date %}
                    {{ job.start_date|naturalday }}
                {% else %}
                    <span class="fas fa-ellipsis-h"></span>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="col p-2">
        <div class="btn w-100 {% if job.isOverdue %}btn-outline-danger{% endif %} fs-8 fw-semi-bold d-flex flex-column d-xxl-inline-block">
            <h6 class="fs-18 mb-1 font-w500 text-body-emphasis">Delivery date</h6>
            <span>
                {% if job.delivery_date %}
                    {{ job.delivery_date|naturalday }}
                {% else %}
                    <span class="fas fa-ellipsis-h"></span>
                {% endif %}
            </span>
        </div>
    </div>
</div>