<div class="card mt-3" id="basic-info">
  <div class="card-header">
     <div class="row">
        <div class="col my-auto">
           <div class="h-100">
              <h5 class="mb-1 text-gradient text-primary">
                Phases
              </h5>
           </div>
        </div>
        <div class="col-lg-4 text-end">
           {% if job.status == 2 or job.status == 3 %}
           <a href="{% url 'phase_create' job.slug %}" class="btn btn-phoenix-success btn-sm">
              Add Phase
           </a>
           {% endif %}
        </div>
     </div>
  </div>
  <div class="card-body pt-0">
      {% include 'partials/phase/phase_list_table.html' with phases=job.phases.all %}
  </div>
</div>
