{% load static %}
<div class="card mt-3" id="team">
    <div class="card-header">
       <h5>Team</h5>
       <p class="text-sm mb-0">Team members across all phases</p>
    </div>
    <div class="card-body mx-3 pt-0 d-flex ps-0">
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
            <a href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Manager"
                class="avatar avatar-lg rounded-circle border bg-gradient-primary">
            <img alt="Image placeholder" class="p-1" src="{% static "assets/img/team-1.jpg" %}">
            </a>
            <p class="mb-0 text-sm">Abbie W</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
            <a href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Lead"
                class="avatar avatar-lg rounded-circle border bg-gradient-success">
            <img alt="Image placeholder" class="p-1" src="{% static "assets/img/team-3.jpg" %}">
            </a>
            <p class="mb-0 text-sm">Kay R</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
            <a href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Member"
                class="avatar avatar-lg rounded-circle border bg-gradient-info">
            <img alt="Image placeholder" class="p-1" src="{% static "assets/img/team-2.jpg" %}">
            </a>
            <p class="mb-0 text-sm">Boris U</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
            <a href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Member"
                class="avatar avatar-lg rounded-circle border bg-gradient-info">
            <img alt="Image placeholder" class="p-1" src="{% static "assets/img/team-4.jpg" %}">
            </a>
            <p class="mb-0 text-sm">Alan K</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
            <a href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Shadow"
                class="avatar avatar-lg rounded-circle border bg-gradient-light">
            <img alt="Image placeholder" class="p-1" src="{% static "assets/img/marie.jpg" %}">
            </a>
            <p class="mb-0 text-sm">Marie P</p>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-4 text-center">
            <a href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Tech QAer"
                class="avatar avatar-lg rounded-circle border bg-gradient-secondary">
            <img alt="Image placeholder" class="p-1" src="{% static "assets/img/team-5.jpg" %}">
            </a>
            <p class="mb-0 text-sm">Nicole N</p>
        </div>
    </div>
</div>