{% load static %}

<ul class="list-group">
   <div class="row border-bottom">
      <!-- Account Manager -->
      <div class="col-6 border-end pb-0 px-0 m-0 text-center">
         <div class="align-items-center mb-3 mb-md-0 mb-xl-3">
            {% if job.account_manager %}
               <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" 
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="avatar avatar-xl rounded-circle">
                     <img class="rounded-circle " src="{{ job.account_manager.get_avatar_url }}" alt="" />
                  </div>
               </a>
               {% include 'partials/users/user_profile_card.html' with userProfile=job.account_manager %}
            {% else %}
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fs-4 fas fa-user-slash text-secondary-light"></span>
               </div>
            {% endif %}
         
            <h5>
            {% if job.account_manager %}{{ job.account_manager }}{% else %}None Assigned{% endif %}
            </h5>

            <a class="text-800 dropdown-toggle js-load-modal-form text-decoration-none dropdown-caret-none" 
               data-url="{% url 'assign_job_field' job.slug 'account_manager' %}" href="#!">
               Manager
               <span class="fa-solid fa-caret-down text-800 fs-9 ms-2"></span>
            </a>
         </div>
      </div>

      <div class="col-6 text-center">
         <!-- Deputy Account Manager -->
         <div class="align-items-center mb-3 mb-md-0 mb-xl-3">
            {% if job.dep_account_manager %}
               <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" 
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="avatar avatar-xl rounded-circle">
                     <img class="rounded-circle " src="{{ job.dep_account_manager.get_avatar_url }}" alt="" />
                  </div>
               </a>
               {% include 'partials/users/user_profile_card.html' with userProfile=job.dep_account_manager %}
            {% else %}
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fs-4 fas fa-user-slash text-secondary-light"></span>
               </div>
            {% endif %}

            <h5>
            {% if job.dep_account_manager %}{{ job.dep_account_manager }}{% else %}None Assigned{% endif %}
            </h5>
            <a class="text-800 dropdown-toggle js-load-modal-form text-decoration-none dropdown-caret-none" 
               data-url="{% url 'assign_job_field' job.slug 'dep_account_manager' %}" href="#!">
               Deputy Manager
               <span class="fa-solid fa-caret-down text-800 fs-9 ms-2"></span>
            </a>
         </div>
      </div>
   </div>

   <div class="row">
      <!-- Scoped By -->
      <div class="col-6 pt-3 border-end text-center">
         <div class="align-items-center mb-3 mb-md-0 mb-xl-3">
            {% if job.scoped_by.all|length > 1 %}
               <!-- Multiple -->
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fas fs-4 fa-users"></span>
               </div>
               
               <h5>
                  {% include 'partials/users/user_group.html' with users=job.scoped_by.all %}
               </h5>
            {% elif job.scoped_by.all|length == 1 %}
               <!-- Just one -->
               <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" 
               data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="avatar avatar-xl rounded-circle">
                     <img class="rounded-circle " src="{{ job.scoped_by.all.0.get_avatar_url }}" alt="" />
                  </div>
               </a>
               {% include 'partials/users/user_profile_card.html' with userProfile=job.scoped_by.all.0 %}
               
               <h5>
               {{ job.scoped_by.all.0 }}
               </h5>

            {% else %}
               <!-- None set -->
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fs-4 fas fa-user-slash text-secondary-light"></span>
               </div>
               
               <h5>
               None Assigned
               </h5>
            {% endif %}
            <a class="text-800 dropdown-toggle js-load-modal-form text-decoration-none dropdown-caret-none" 
               data-url="{% url 'assign_job_field' job.slug 'scoped_by' %}" href="#!">
               Scoped By
               <span class="fa-solid fa-caret-down text-800 fs-9 ms-2"></span>
            </a>
         </div>
      </div>

      <div class="col-6 pt-3 text-center">
         <!-- Scope Signed Off by -->
         <div class="align-items-center mb-3 mb-md-0 mb-xl-3">
            {% if job.scoped_signed_off_by %}
               <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" 
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="avatar avatar-xl rounded-circle">
                     <img class="rounded-circle " src="{{ job.scoped_signed_off_by.get_avatar_url }}" alt="" />
                  </div>
               </a>
               {% include 'partials/users/user_profile_card.html' with userProfile=job.scoped_signed_off_by %}
            {% else %}
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fs-4 fas fa-user-slash text-secondary-light"></span>
               </div>
            {% endif %}
         
            <h5>
            {% if job.scoped_signed_off_by %}{{ job.scoped_signed_off_by }}{% else %}None Assigned{% endif %}
            </h5>
            <a class="text-800 dropdown-toggle text-decoration-none dropdown-caret-none" href="#!">
               Signed Off Scope
            </a>
         </div>
      </div>
   </div>

</ul>