<div class="table-responsive scrollbar mx-n1 px-1">
  <table class="table fs-9 datatable mb-0">
    <caption>Billing Codes</caption>
    <thead>
      <tr>
        <th class="sort white-space-nowrap align-start ps-0" scope="col" data-sort="code" style="width:30%;">
          Code
        </th>
        <th class="sort white-space-nowrap align-middle" scope="col" data-sort="client" style="width:30%;">
          Client
        </th>
        <th class="sort align-middle text-end" scope="col" style="width:10%;">
        </th>
      </tr>
    </thead>
    <tbody>
    {% for billingcode in billingcode_list %}
    <tr>
      <td class="align-middle time white-space-nowrap ps-0">
        <h4>
          <a class="fw-bold fs-8" href="{{ billingcode.get_absolute_url }}">
            {% include 'partials/billingcode/billingcode_badge.html' %}
          </a>
        </h4>
      </td>
      <td class="align-middle time white-space-nowrap ps-0">
        {% if billingcode.client %}
        <a class="fw-bold fs-8" href="{{ billingcode.client.get_absolute_url }}">
          {{ billingcode.client }}
        </a>
        {% endif %}
      </td>
      <td class="align-middle text-end white-space-nowrap pe-0 action">
      </td>
    </tr>
    {% endfor %}        
    </tbody>
  </table>
</div>