{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
  <div class="modal-content">
    <form method="post" action="{{ request.get_full_path }}" class="js-submit-modal-form">
      {% csrf_token %}
      <div class="modal-header bg-info">
        <h6 class="modal-title text-white font-weight-normal" id="modal-title-default">Review Leave Request</h6>
        <button type="button" class="btn-close text-body-emphasis" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ leave.user }} has requested leave from {{ leave.start_date }} to {{ leave.end_date }}</p>
      </div>
      <div class="modal-footer bg-info">
        <input type="hidden" name="user_action" value="" />

        {% if leave.cancelled %}

        {% elif leave.declined %}
          <button type="submit" onclick="this.form.user_action.value=this.value" value="approve_action" class="btn btn-phoenix-success mb-0">Approve</button>
        {% elif leave.authorised %}
          <button type="submit" onclick="this.form.user_action.value=this.value" value="reject_action" class="btn btn-phoenix-danger mb-0">Reject</button>
        {% else %}
          <button type="submit" onclick="this.form.user_action.value=this.value" value="approve_action" class="btn btn-phoenix-success mb-0">Approve</button>
          <button type="submit" onclick="this.form.user_action.value=this.value" value="reject_action" class="btn btn-phoenix-danger mb-0">Reject</button>
        {% endif %}

        <button type="button" class="btn btn-light shadow-none mb-0" data-bs-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
