<tr>
  <td class="align-middle time white-space-nowrap ps-0 projectName">
    <a class="fw-bold fs-0" href="{{ client.get_absolute_url }}">{{ client }}</a>
  </td>

  <td class="align-middle white-space-nowrap unit ps-3">{{ client.sector }}</td>

  <td class="align-middle white-space-nowrap client ps-3">
    {% include 'partials/users/user_group.html' with users=client.account_managers.all %}
  </td>

  <td class="align-middle white-space-nowrap start ps-3">
    {% include 'partials/users/user_group.html' with users=client.tech_account_managers.all %}
  </td>

  <td class="align-middle white-space-nowrap end ps-3">
    {% if client.is_ready_for_jobs %}
      <span class="badge badge-warning">Ready</span>
    {% else %}
      <span class="badge badge-warning">Not Ready</span>
    {% endif %}
  </td>

  <td class="align-middle text-end white-space-nowrap pe-0 action"></td>
</tr>
