<div class="table-responsive scrollbar mx-n1 px-1">
  <table class="table table-sm fs--1 mb-0" id="clientTableAjax">
    <caption>Client List</caption>
    <thead>
      <tr>
        <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-data="name_link" style="width:30%;">Name</th>
        <th class="sort align-middle ps-3" scope="col" data-data="ams" style="width:10%;">Account Managers</th>
        <th class="sort align-middle ps-3" scope="col" data-data="tams" style="width:10%;">Technical Account Managers</th>
        <th class="sort align-middle ps-3" scope="col" data-data="status" style="width:15%;">Status</th>
      </tr>
    </thead>
  </table>
</div>
