<div class="table-responsive scrollbar mx-n1 px-1">
  <table class="table table-sm datatable fs-9 mb-0" id="clientTableAjax"
  {% comment %} data-server-side=true {% endcomment %}
  data-processing=true
  data-ajax="{% url 'client-list' %}?format=datatables{% if filter_field %}&{{ filter_field }}={{ filter_value }}{% endif %}"
  >
    <caption>Client List</caption>
    <thead>
      <tr>
        <th class="white-space-nowrap align-middle ps-0" scope="col" data-data="name_link" data-name="name" style="width:30%;">Name</th>
        <th class="align-middle ps-3" scope="col" data-data="ams_display" data-searchable=false data-sortable=false style="width:10%;">Account Managers</th>
        <th class="align-middle ps-3" scope="col" data-data="tams_display" data-searchable=false data-sortable=false style="width:10%;">Technical Account Managers</th>
        <th class="align-middle ps-3" scope="col" data-data="status_display" data-searchable=false data-sortable=false data-sort="status" style="width:15%;">Status</th>
      </tr>
    </thead>
  </table>
</div>
