 <table class="table datatable table-sm fs-9 leads-table">
    <caption>User Skills</caption>
    <thead>
      <tr>
        <th class="sort align-middle ps-0 pe-5 text-uppercase text-nowrap" scope="col">
            User
        </th>
        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col">
            Rating
        </th>
        {% comment %} <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col">
            Improve
        </th> {% endcomment %}
        {% comment %} <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col">
            Experience
        </th> {% endcomment %}
        <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
      </tr>
    </thead>
    <tbody class="list" id="purchasers-sellers-body">
     {% for user in skill.get_users %}
        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
            <td class="align-middle white-space-nowrap fw-semi-bold text-1100 ps-4 py-0">
                {% include 'partials/users/user_table_display.html' with u=user.user %}
            </td>
            <td class="align-middle white-space-nowrap ps-4 fw-semi-bold text-900 py-0">
                {{ user.get_rating_display }}
            </td>
            {% comment %} <td class="align-middle white-space-nowrap fw-bold text-900 py-0">
                {% if user.interested_in_improving_skill %}
                <span class="badge badge-phoenix-success">Yes</span>
                {% else %}
                <span class="badge badge-phoenix-info">No</span>
                {% endif %}
            </td>         {% endcomment %}
            {% comment %} <td class="align-middle white-space-nowrap ps-4 fw-semi-bold text-900 py-0">
                
            </td>     {% endcomment %}
            <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>