{% extends "base_error.html" %}
{% load widget_tweaks %}
{% load i18n static %}

{% block content %}
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-body px-lg-5 pt-5">

          <img width="100%" class="pb-4" src="{% static 'assets/img/notcomplete.jpg' %}">
          <h2 class="text-center">Actually... that function isn't complete yet</h2>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}