<div class="d-flex my-1 align-items-center">
  <div class="col-auto">
    {% if not noavatar %}
    <div class="avatar avatar-m me-3 my-1">
      <img class="rounded-circle avatar-placeholder" src="{{ u.get_avatar_url }}" alt="" />
    </div>
    {% endif %}
  </div>
  <div class="col">
    <div class="row">
      <a class="me-3" href="{{ u.get_absolute_url }}">{{ u }}</a>
    </div>
    {% if not noorg %}
      {% for unitMembership in u.unit_memberships.all %}
        <a href="{{ unitMembership.unit.get_absolute_url }}">{% include 'partials/unit/unit_badge_role_colour.html' with unitMembership=unitMembership %}</a>
      {% endfor %}
    {% endif %}

    {% if not u.is_active %}
    <span class="badge badge-phoenix badge-phoenix-warning">INACTIVE</span>
    {% endif %}
    
    {% if not notitle and u.job_title %}
      <div class="row">
        <p class="mb-0 text-xs">{{ u.job_title }}</p>
      </div>
    {% endif %}
  </div>
</div>
