{% load static %}
{% if userProfile %}
<div class="dropdown-menu avatar-dropdown-menu p-0 overflow-hidden" style="width: 320px;">
  <div class="position-relative">
    <div class="p-3 pb-0">
      <div class="text-end">
        {% include 'partials/user/user_manage_menu.html' with u=userProfile %}
      </div>
      <div class="text-center">
        <div class="avatar avatar-xl status-{{ userProfile.get_current_status }} position-relative me-2 me-sm-0 me-xl-2 mb-2">
          <img class="rounded-circle border border-light-subtle" src="{{ userProfile.get_avatar_url }}" alt="" />
        </div>
        <h6 class="">
          {{ userProfile.get_full_name }}
        </h6>
        <p class="text-opacity-50 fw-semibold fs-10 mb-2">
          {{ userProfile.job_title }}
        </p>
        <!-- Hide this for the moment. Possibly add in stats to see! -->
        <!-- <div class="d-flex flex-center mb-3">
          <h6 class="mb-0">
            224 <span class="fw-normal text-opacity-75">connections</span>
          </h6>
          <span class="fa-solid fa-circle text-body-tertiary mx-1" data-fa-transform="shrink-10 up-2"></span>
          <h6 class="mb-0">
            23 <span class="fw-normal text-opacity-75">mutual</span>
          </h6>
        </div> -->
      </div>
    </div>
  </div>
  <div class="bg-body-emphasis">
     <div class="p-3 border-bottom border-translucent">
        <div class="d-flex justify-content-between">
          <a class="btn btn-phoenix-secondary"
            href="{{ userProfile.get_absolute_url }}">
            <span class="fa-solid fa-id-card"></span>
            Profile
          </a>
          <a class="btn btn-phoenix-primary"
            href="mailto:{{ userProfile.email }}">
            <span class="fa-solid fa-envelope me-2"></span>
            Email
          </a>
        </div>
     </div>
     <ul class="nav d-flex flex-column py-3 border-bottom">
        <li class="nav-item">
          <a class="nav-link px-3 d-flex flex-between-center" href="#!">
            <span class="me-2 text-body d-inline-block" data-feather="clipboard"></span>
            <span class="text-body-highlight flex-1">Assigned Jobs</span>
            <span class="fa-solid fa-chevron-right fs-11"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 d-flex flex-between-center" href="{% url 'view_scheduler' %}?users={{ userProfile.id }}">
            <span class="me-2 text-body" data-feather="pie-chart"></span>
            <span class="text-body-highlight flex-1">View Schedule</span>
            <span class="fa-solid fa-chevron-right fs-11"></span>
          </a>
        </li>
     </ul>
  </div>
</div>
{% endif %}