<div class="avatar-group">
  {% for u in users %}
    {% if u %}
      <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" data-bs-placement="top" title="{{ u }}">
        <div class="avatar avatar-m rounded-circle">
          <img class="rounded-circle" src="{{ u.get_avatar_url }}" alt="{{ u }}" />
        </div>
      </a>
      {% include 'partials/users/user_profile_card.html' with userProfile=u %}
    {% endif %}
  {% endfor %}
</div>
