<div class="d-flex my-1 align-items-center">
        <div class="col-auto">
            <div class="avatar avatar-m me-3 my-1">
                <img class="rounded-circle avatar-placeholder" 
                    src="{{ u.get_avatar_url }}" alt="">
            </div>
        </div>
        <div class="col">
            <div class="row">
                <a class="me-3 d-inline-block" href="{{ u.get_absolute_url }}">
                    {{ u.get_full_name }}
                </a>
            </div>
            <div class="row">
                <p class="mb-0 text-xs">{{ u.job_title }}</p>
            </div>        
        </div>
</div>