<div class="d-flex my-1 align-items-center">
  <div class="col-auto">
    {% if not noavatar %}
    <div class="avatar {% if compressed_view %}avatar-s{% else %}avatar-m{% endif %} me-3 my-1">
      <img class="rounded-circle avatar-placeholder" loading="lazy" src="{{ u.get_avatar_url }}" alt="" />
    </div>
    {% endif %}
  </div>
  <div class="col">
    <div class="row">
      <a class="me-3 {% if compressed_view %}text-wrap{% endif %}" href="{{ u.get_absolute_url }}">
        {{ u }}
      </a>
    </div>
    
    {% if not noloc and not compressed_view %}
      <div class="row">
        <p class="text-body-secondary fs-9 mb-0">
          <span class="fa-solid fa-earth text-body pe-1"></span>

                  {% if u.city %}
                    {{ u.city.name }}, {{ u.city.country.name }}
                  {% else %}
          <span class="text-body-tertiary text-opacity-85 fw-semibold fs-10">No Data</span>
          {% endif %}
        </p>
      </div>
    {% endif %}
    
    {% if not notitle and not compressed_view %}
      <div class="row">
        <p class="text-body-secondary fs-9 mb-0">
          <span class="fa-solid fa-person-chalkboard text-body pe-1"></span>
          {% if u.job_title %}
          {{ u.job_title }}
          {% else %}
          <span class="text-body-tertiary text-opacity-85 fw-semibold fs-10">No Data</span>
          {% endif %}
        </p>
      </div>
    {% endif %}
    
    {% if u.get_current_level and not nojl and not compressed_view %}
      {% include 'partials/users/joblevel_badge.html' with level=u.get_current_level %}
    {% endif %}

    {% if not noorg and not compressed_view %}
      {% for unitMembership in u.unit_memberships.all %}
        <a href="{{ unitMembership.unit.get_absolute_url }}">
          {% include 'partials/unit/unit_badge_role_colour.html' with unitMembership=unitMembership %}
        </a>
      {% endfor %}
    {% endif %}

    {% if not u.is_active %}
    <span class="badge badge-phoenix badge-phoenix-warning">INACTIVE</span>
    {% endif %}
  </div>
</div>
