
<div class="row align-items-center align-content-between">
   <div class="col-6 px-0">
      <div class="d-flex flex-column flex-center align-items-sm-start flex-md-row justify-content-md-between flex-xxl-column p-3 ps-sm-3 ps-md-4 p-md-3 h-100 border-1 border-bottom border-end">
         <div class="d-flex align-items-center mb-1">
            <span class="fa-solid fa-book-open fs-9 me-2 text-primary"></span>
            <span class="mb-0 fs-9 text-900">Jobs Participated</span></div>
         <h3 class="fw-light ms-xl-3 ms-xxl-0 pe-md-2 pe-xxl-0 mb-0 mb-sm-3">{{ request.user.jobs.all |length }}</h3>
      </div>
   </div>
   <div class="col-6 px-0">
      <div class="d-flex flex-column flex-center align-items-sm-start flex-md-row justify-content-md-between flex-xxl-column p-3 ps-sm-3 ps-md-4 p-md-3 h-100 border-1 border-bottom border-end">
         <div class="d-flex align-items-center mb-1">
            <span class="fa-solid fa-briefcase fs-9 me-2 text-success" data-fa-transform="up-2"></span>
            <span class="mb-0 fs-9 text-900">Jobs Led</span></div>
         <h3 class="fw-light ms-xl-3 ms-xxl-0 pe-md-2 pe-xxl-0 mb-0 mb-sm-3">{{ request.user.phase_where_project_lead.all |length }}</h3>
      </div>
   </div>
   <div class="col-6 px-0">
      <div class="d-flex flex-column flex-center align-items-sm-start flex-md-row justify-content-md-between flex-xxl-column p-3 ps-sm-3 ps-md-4 p-md-3 h-100 border-1 border-bottom border-end">
         <div class="d-flex align-items-center mb-1">
            <span class="fa-solid fa-pen-nib fs-9 me-2 text-info" data-fa-transform="up-2"></span>
            <span class="mb-0 fs-9 text-900">Reports Authored</span></div>
         <h3 class="fw-light ms-xl-3 ms-xxl-0 pe-md-2 pe-xxl-0 mb-0 mb-sm-3">{{ request.user.phase_where_report_author.all |length }}</h3>
      </div>
   </div>
   <div class="col-6 px-0">
      <div class="d-flex flex-column flex-center align-items-sm-start flex-md-row justify-content-md-between flex-xxl-column p-3 ps-sm-3 ps-md-4 p-md-3 h-100 border-1 border-bottom border-end">
         <div class="d-flex align-items-center mb-1">
            <span class="fa-solid fa-microscope fs-9 me-2 text-info" data-fa-transform="up-2"></span>
            <span class="mb-0 fs-9 text-900">Scoped</span></div>
         <h3 class="fw-light ms-xl-3 ms-xxl-0 pe-md-2 pe-xxl-0 mb-0 mb-sm-3">{{ request.user.engagements_that_scoped.all |length }}</h3>
      </div>
   </div>
   <div class="col-6 px-0">
      <div class="d-flex flex-column flex-center align-items-sm-start flex-md-row justify-content-md-between flex-xxl-column p-3 ps-sm-3 ps-md-4 p-md-3 h-100 border-1 border-bottom border-end">
         <div class="d-flex align-items-center mb-1">
            <span class="fa-solid fa-glasses fs-9 me-2 text-danger" data-fa-transform="up-2"></span>
            <span class="mb-0 fs-9 text-900">QA'd</span></div>
         <h3 class="fw-light ms-xl-3 ms-xxl-0 pe-md-2 pe-xxl-0 mb-0 mb-sm-3">{{ request.user.techqaed_phases.all |length }}</h3>
      </div>
   </div>
   <div class="col-6 px-0">
      <div class="d-flex flex-column flex-center align-items-sm-start flex-md-row justify-content-md-between flex-xxl-column p-3 ps-sm-3 ps-md-4 p-md-3 h-100 border-1">

      </div>
   </div>
</div>

<script>
  const { getColor, rgbaColor, getData } = window.phoenix.utils;
</script>

<div class="row">
   {% include 'partials/tech_feedback_card.html' %}
</div>
<div class="row">
   {% include 'partials/pres_feedback_card.html' %}
</div>