<div class="alert alert-info alert-dismissible text-white fade show mb-4" role="alert">
    <span class="alert-text">
        <strong>First Time Setup</strong>
        <p>
            Welcome to the <strong>C</strong>entralised <strong>H</strong>ub for <strong>A</strong>ssigning <strong>O</strong>perational <strong>T</strong>asks, <strong>I</strong>nteractive <strong>C</strong>alendaring and <strong>A</strong>lerts (CHAOTICA) platform!
        </p>
        <p>
            To quickly get started booking jobs, this tip will show while tasks are needed to start using the tool.
        </p>
        <ol>
            <li>
                {% if not setup_unit %}<del>{% endif %}<strong>Setup a Organisational Unit</strong> - A unit is an organisation unit of users. Perhaps a geographical region or isolated unit. <a href="{% url 'organisationalunit_create' %}" class="text-body-emphasis">Add a unit</a>{% if not setup_unit %}</del>{% endif %}
            </li>
            <li>
                {% if not setup_service %}<del>{% endif %}<strong>Setup a Service</strong> - A service is a standardised offering you have. Such as "Web Application" or "Internal Infrastructure" <a href="{% url 'service_create' %}" class="text-body-emphasis">Add a service</a>{% if not setup_service %}</del>{% endif %}
            </li>
            <li>
                {% if not setup_client %}<del>{% endif %}<strong>Setup a Client</strong> - A client is who you're doing the job for! <a href="{% url 'client_create' %}" class="text-body-emphasis">Add a client</a>{% if not setup_unit %}<del>{% endif %}{% if not setup_client %}</del>{% endif %}
            </li>
        </ol>
    </span>
    <button type="button" class="btn-close text-body-emphasis" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>