<div class="d-flex align-items-center">
  <span class="me-2 text-primary" data-feather="users" style="min-height:24px; width:24px"></span>
  <h4 class="text-600 mb-0">
    <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Average score over the last 12 months">
      Average Pres Rating
    </span>
    {% with avg_pqa_rating=request.user.get_average_presqa_feedback %}
      <span class="rating text-end {% if avg_pqa_rating < 2 %}text-danger{% elif avg_pqa_rating < 3 %}text-warning{% elif avg_pqa_rating < 4 %}text-primary{% elif avg_pqa_rating >= 4 %}text-success{% endif %}" 
        data-bs-toggle="tooltip" data-bs-placement="bottom" 
        title="{% if avg_pqa_rating > 0 %}{{ avg_pqa_rating }}{% else %}No Data{% endif %}" >
      {% include 'partials/feedback_stars.html' with feedback=avg_pqa_rating %}
    {% endwith %}
    </span>
  </h4>
</div>
<div class="pb-0 pt-4">
  <div id="echarts-avg-pres-feedback" style="min-height:110px;width:100%;"></div>
</div>

<script>
  var chartDomPres = document.getElementById('echarts-avg-pres-feedback');

  var chartPres = echarts.init(chartDomPres);
  optionsPres = {
    tooltip: {
      trigger: 'axis',
      padding: 10,
      backgroundColor: getColor('gray-100'),
      borderColor: getColor('gray-300'),
      textStyle: { color: getColor('dark') },
      borderWidth: 1,
      transitionDuration: 0,
      axisPointer: {
        type: 'none'
      },
    },
    xAxis: [
      {
        type: 'category',
        position: 'bottom',
        show: true,
        data: {{ request.user.get_average_presqa_feedback_12mo.months |safe }},
        axisLabel: {
          formatter: value => window.dayjs(value).format('MMM, YY'),
          color: getColor('gray-800'),
          align: 'right',
          fontFamily: 'Nunito Sans',
          fontWeight: 600,
          fontSize: 12.8
        },
        axisLine: {
          show: false
        },
        axisTick: {
          show: true
        },
        splitLine: {
          show: false
        },
        boundaryGap: false
      }
    ],
    yAxis: {
      show: false,
      type: 'value',
      boundaryGap: false
    },
    series: [
      {
        type: 'line',
        data: {{ request.user.get_average_presqa_feedback_12mo.data }},
        lineStyle: {
          width: 2,
          color: getColor('primary')
        },
        areaStyle: {
          color: {
            type: 'linear',
            x: 0,
            y: 0,
            x2: 0,
            y2: 1,
            colorStops: [
              {
                offset: 0,
                color: rgbaColor(getColor('primary'), 0.2)
              },
              {
                offset: 1,
                color: rgbaColor(getColor('primary'), 0)
              }
            ]
          }
        },
        showSymbol: false,
        symbol: 'circle'
      },
    ],
    grid: { left: 0, right: 0, top: 5, bottom: 20 }
  };
  optionsPres && chartPres.setOption(optionsPres);

</script>