{% load humanize %}{% load static %}

<div class="card position-relative border-0">
  <div class="card-header p-2">
    <div class="d-flex justify-content-between">
      <h5 class="text-body-emphasis mb-0">Notificatons</h5>
      <button class="btn btn-link p-0 fs-9 fw-normal notification_read" data-url="{% url 'notifications_mark_read' %}" type="button">Mark all as read</button>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="scrollbar-overlay simplebar-scrollable-y" style="height: 27rem;" data-simplebar="init">
      <div class="border-300">
        {% for notification in notifications %}

        <div class="p-2 border-300 notification-card position-relative {% if notification.is_read %}read{% else %}unread{% endif %} border-bottom">
          <a class="dropdown-item text-wrap p-0 m-0" href="{{ notification.link }}">
            <div class="d-flex align-items-center justify-content-between position-relative">
              <div class="d-flex">              
                <div class="flex-1 me-sm-3">
                  <h4 class="fs-9 text-body-emphasis">
                    {{ notification.title }}
                  </h4>
                  {% comment %} <p class="fs-9 text-1000 mb-2 mb-sm-3 fw-normal text-wrap">
                    <span class='me-1 fs-10'>💬</span>
                    {{ notification.message }}
                  </p> {% endcomment %}
                  <p class="text-800 fs-9 mb-0">
                    <span class="me-1 fas fa-clock"></span>
                    {{ notification.timestamp|naturaltime }}
                  </p>
                </div>
              </div>
              <div class="font-sans-serif d-none d-sm-block">
                <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-900"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2">
                  <button class="dropdown-item notification_read" data-url="{% url 'notification_mark_read' notification.pk %}">
                    Mark as read
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% empty %}
        <div class="px-2 px-sm-3 py-3 border-300 notification-card position-relative {% if notification.is_read %}read{% else %}unread{% endif %} border-bottom">
          <div class="d-flex align-items-center justify-content-between position-relative">
            <div class="d-flex">
              <div class="flex-1 me-sm-3">
                <h4 class="fs-9 text-body-emphasis">
                  No new notifications
                </h4>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
  {% comment %} <div class="card-footer p-0 border-top border-0">
    <div class="my-2 text-center fw-bold fs-10 text-600">
      <a class="fw-bolder" href="#">Notification history</a>
    </div>
  </div> {% endcomment %}
</div>