{% extends 'email_base.html' %}

{% block title %}
Postponed
{% endblock title %}

{% block content %}
{{ phase }} has been postponed. Check the phase for notes.
{% endblock content %}

{% block action_block %}
<a href="{{ phase.get_absolute_url }}" 
  style="color: #ffffff; font-size: 16px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 6px; line-height: 20px; display: block; font-weight: 700 !important; white-space: nowrap; background-color: #0d6efd; padding: 12px; border: 1px solid #0d6efd;">
  Visit Phase
</a>
{% endblock action_block %}