html.holodeck {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

span.select2-container {
  z-index:10050 !important;
  min-width: unset !important;
}

div.content span.select2-container {
  z-index:unset !important;
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 45px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

.row {
  --phoenix-gutter-x: unset !important
}

table caption {
  display: none;
}

.dataTables_wrapper .dataTables_length select {
  padding: 10px;
  height: 44px;
  border: none !important;
  overflow: hidden;
  display: unset !important;
  width: 75px !important;
}
.dataTables_wrapper .dataTables_length select::-moz-focus-inner {
  border: 0;
}
.dataTables_wrapper .dataTables_length select:focus {
  outline: none;
}
.dataTables_wrapper .dataTables_length select option{
  width: 60px;
  font-size: 1.2em;
  padding: 5px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border:rgb(204, 204, 0) solid 1px;
  border-radius: 5px;
  color: rgb(204, 204, 0);
}

table.dataTable.no-footer {
  border-bottom: unset !important;
  border-bottom-color: rgba(0, 0, 0, 0.3) !important;
}

.fc-header-toolbar {
  margin: 1.5em !important;
}

.invalid-feedback {
  display: initial;
}


/* 
Do Force select2 to be phoenix compat

  color: var(--phoenix-900);
  background-color: var(--phoenix-input-bg);
 */

.select2-container--default {
  --select2-highlighted-bg: #5897fb;
  --select2-highlighted-fg: #fff;
}

.select2-container--default .select2-dropdown {
  /* The dropdown container where choices are displayed */
  background-color: var(--phoenix-input-bg, #fff) !important;
  border-color: var(--phoenix-input-border-color, #aaa) !important;
}

.select2-container--default .select2-selection {
  /* The select field input */
  background-color: var(--phoenix-input-bg, #fff) !important;
  border-color: var(--phoenix-input-border-color, #aaa) !important;
}

.select2-container--default .select2-selection .select2-selection__rendered {
  /* Text for the chosen item when the dropdown is closed */
  color: var(--phoenix-900, #444) !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  /* The option that has been chosen */
  background-color: var(--selected-bg, #ddd);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  /* The search input for the choices */
  background-color: var(--darkened-bg, #fff);
  border-color: var(--phoenix-input-border-color, #aaa) !important;
  color: var(--phoenix-900, #000) !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  /* The option that is in focus */
  background-color: var(--select2-highlighted-bg, #5897fb);
  color: var(--select2-highlighted-fg, #fff);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  /* Selected choices when multiple are allowed */
  background-color: var(--phoenix-200, #e4e4e4) !important;
  border-color: var(--phoenix-input-border-color, #aaa) !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  color: var(--phoenix-900, #000) !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: var(--phoenix-input-border-color, #000) !important;
}



.weekend {
  background: #f4f7f4;
}

.gantt_selected .weekend {
  background: #f7eb91;
}





