.opt-tools {
  height: 100%;
  width: 25px;
  right: -21px;
  position: absolute;
  border: 1px solid #e8e8e8;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.opt-edit,
.opt-trash {
  height: 50%;
  line-height: 25px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}
.opt-edit {
  border-bottom: 1px solid #e8e8e8;
  border-top-right-radius: 8px;
  background-color: #fff;
  color: #ff8e00;
}

.opt-edit:hover {
  color: #fff;
  background-color: #ff8e00;
}
.opt-trash {
  border-bottom-right-radius: 8px;
  background-color: #fff;
  color: #cc0000;
}
.opt-trash:hover {
  color: #fff;
  background-color: #cc0000;
}

/* LOCK HEADER AND FIRST COLUMN */
.table td,
.table th {
  padding: 5px !important;
}
th:first-child {
  position: sticky;
  left: 0;
  z-index: 1030;
}
td:first-child {
  position: sticky;
  left: 0;
  z-index: 1010;
}
thead th {
  position: sticky;
  top: 0;
  z-index: 1020;
}
/* ---------- END (LOCK HEADER AND FIRST COLUMN ) --------- */

.datetimepicker {
  width: 70% !important;
  height: 70% !important;
}

.cal-container {
  max-width: 900px;
  max-height: 500px;
  overflow: auto;
  margin: auto;
}
.cal-table {
  position: relative;
  border: solid #ebebeb;
  border-width: 0 1px 0 0;
  overscroll-behavior: contain;
}
.cal-thead {
  top: 0px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
}

.cal-viewmonth {
  font-size: 16px;
  background: #fdfdfd;
  width: 150px;
  height: 50px;
}
.cal-toprow {
  width: 182px;
  min-width: 182px;
  color: #3e5569;
  background-color: #f7f9fb !important;
  border: 1px solid #ebebeb !important;
}

.cal-viewmonth,
.cal-toprow {
  font-weight: 700 !important;
  text-align: center;
  vertical-align: middle !important;
}

.cal-userinfo {
  height: 80px;
  box-shadow: 20px 0 50px rgba(0, 0, 0, 0.05);
}

.cal-tbody .cal-userinfo {
  min-width: 150px !important;
  text-align: right;
  color: hsla(210, 5%, 40%, 1);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.03em;
  background: #fdfdfd;
  padding: 0.3em;
  border: 1px solid #ebebeb;
}

.cal-usersheader {
  height: 20px;
  box-shadow: 20px 0 50px rgba(0, 0, 0, 0.05);
  min-width: 150px !important;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.03em;
  padding: 0.3em;
}

.weekend {
  background-color: #b5b5b5;
}
.drag {
  z-index: 10;
  cursor: all-scroll;
}
.span-info {
  display: inline-block;
  padding: 0.25em 0.4em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  width: 25px;
  background-color: red;
  cursor: pointer;
}

.ui-draggable-dragging {
  z-index: 9999 !important;
}

.cal-usercounter {
  bottom: 0;
  right: 0;
  position: absolute;
  text-align: right;
  border-radius: 0px;
  border: 2px thick red;
}

.cal-userbadge {
  border-radius: 0;
  font-weight: 600;
  font-size: 11px;
}

/* USER TASKS */
.details {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  border: 1px solid #ebecee;
  padding: 0px 0px 5px 10px;
  margin: 2px;
  z-index: 1;
}

.details-uren {
  font-size: 12px;
  color: #333;
  font-weight: 500;
  margin: 0;
  right: 0px;
  text-align: right;
  padding-right: 10px;
}

.details-task {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 12px;
  padding: 2px 5px;
  font-weight: 600;
  line-height: 1.4;
  border-radius: 2px;
  width: 94%;
}
