{% load crispy_forms_tags %}
<div class="card mt-3" id="basic-info">
    <form method="post" id="deliverableForm" action="{% url 'phase_edit_delivery' phase.job.slug phase.slug %}" 
    class="js-submit-modal-form">
        <div class="card-header">
            <div class="row">
                <div class="col my-auto">
                    <div class="h-100">
                    <h4 class="mb-0">
                        Deliverables
                    </h4>
                    </div>
                </div>
                <div class="col-lg-4 text-end">
                    <button type="submit" class="btn btn-outline-success btn-sm">Save</button> 
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            {% csrf_token %}
            <div class="row">
                <div class="input-group input-group-static">
                    <div class="row w-100 ">
                        <div class="col-9">
                            <label>Link to deliverable</label>
                        </div>
                        <div class="col-3 text-end">
                        {% if phase.linkDeliverable %}
                        <a href="{{ phase.linkDeliverable }}" class="text-sm ms-auto icon-move-right my-auto">
                            Goto
                        </a>
                        {% endif %}
                        </div>
                    </div>
                    <div class="row w-100 ">
                    {{ phase_deliver_inline_form.linkDeliverable|as_crispy_field }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-group input-group-static">
                    <div class="row w-100 ">
                        <div class="col-9">
                            <label>Link to Report Data</label>
                        </div>
                        <div class="col-3 text-end">
                        {% if phase.linkReportData %}
                        <a href="{{ phase.linkReportData }}" class="text-sm ms-auto icon-move-right my-auto">
                            Goto
                        </a>
                        {% endif %}
                        </div>
                    </div>
                    <div class="row w-100 ">
                    {{ phase_deliver_inline_form.linkReportData|as_crispy_field }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-group input-group-static">
                    <div class="row w-100 ">
                        <div class="col-9">
                            <label>Link to Technical Data</label>
                        </div>
                        <div class="col-3 text-end">
                        {% if phase.linkTechData %}
                        <a href="{{ phase.linkTechData }}" class="text-sm ms-auto icon-move-right my-auto">
                            Goto
                        </a>
                        {% endif %}
                        </div>
                    </div>
                    <div class="row w-100 ">
                    {{ phase_deliver_inline_form.linkTechData|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
   </form>
 </div>


<script> 
    $("#deliverableForm").dirty({preventLeaving: true});
</script>