{% load index %}
<script>

    var calendarEl = document.getElementById('calendar');
    var csrf = $('input[name="csrfmiddlewaretoken"]');
    
    urlParams = window.location.search + "{% if phase %}&phase={{ phase.pk }}{% endif %}{% if job %}&job={{ job.pk }}{% endif %}{% if project %}&project={{ project.pk }}{% endif %}";
    
    var addUser = function() {
      var form = $(this);
      userVal = $('#id_user').find(":selected").val()
      userObj = $('#id_user').find(":selected").text()
      if(userVal) {
        urlParams = urlParams+"&include_user="+userVal;
        calendar.refetchResources();
        calendar.refetchEvents();
      } else {
        Swal.fire(
          'No User Selected!',
          'Please select a user to add them to the resource table.',
          'warning'
        );    
      }
    };

    $('#addUserToResource').click(addUser);

    if (urlParams.substring(0,1) != "?") {
      urlParams = "?" + urlParams;
    }

    var calendar = new FullCalendar.Calendar(calendarEl, {
        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        resourceOrder: 'first_name',
        firstDay: 1,
        initialView: 'resourceTimelineThreeMonth',
        themeSystem: 'bootstrap5',
        eventDisplay: "block",
        headerToolbar: {
            left: 'today prev,next',
            center: 'title',
            right: 'resourceTimelineTenDay,resourceTimelineMonth,resourceTimelineThreeMonth,resourceTimelineYear'
        },
        // {% py_date_to_js_date request.GET.from_date as from_date %}
        // {% if earliest_scheduled_date %}
        // {% py_date_to_js_date earliest_scheduled_date as earliest_scheduled_date_js %}
        initialDate: '{{ earliest_scheduled_date_js }}',
        // {% else %}
        // {% if from_date %}
        initialDate: '{{ from_date }}',
        // {% endif %}
        // {% endif %}
        nowIndicator: true,
        height: "100%",
        scrollTime: Date(new Date().getUTCFullYear(), new Date().getUTCMonth(), new Date().getUTCDate()),
        {% comment %} timeZone: '{{ user.pref_timezone }}', // the default (unnecessary to specify) {% endcomment %}
        views: {
          resourceTimelineTenDay: {
              type: 'resourceTimeline',
              duration: { days: 10 },
              buttonText: '10 days'
          },
          resourceTimelineThreeMonth: {
              type: 'resourceTimeline',
              duration: { months: 3 },
              buttonText: '3 Months'
          }
        },
        slotMinWidth: 150,
        displayEventTime: false,
        refetchResourcesOnNavigate: true,
        contentHeight: '100%',
        stickyHeaderDates: true,
        stickyFooterScrollbar : true,
        // resourceAreaWidth: '',
        resourceAreaHeaderContent: 'Users',
        resourceLabelDidMount: function(info) {    
          info.el.querySelector('.fc-datagrid-cell-main').innerHTML =
            '<a href="'+info.resource.extendedProps.url+'">' + info.resource.title + '</a>';          
        },
        eventDidMount: function(info) {
          var icon = info.event.extendedProps.icon;
          if (info.event.extendedProps.icon) {                  
            $(info.el).find('.fc-event-title').prepend("<i class='"+icon+" pe-1'></i> ");
          };
        },
        loading: function (isLoading) {
            if (isLoading) {
                $('#loading').show();
            }
            else {                
                $('#loading').hide();
            }
        },
        resources: {
            url: "{% url 'view_scheduler_members' %}" + urlParams,
            method: 'GET',
            failure: function() {
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong getting scheduler members!',
              })
            },
        },
        eventSources: {
            url: "{% url 'view_scheduler_slots' %}" + urlParams,
            method: 'GET',
            failure: function() {
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong getting scheduler members!',
              })
            },
        },
        // [
        //     function(info, successCallback, failureCallback) {
        //       // lets get members
        //       superagent.get("{% url 'view_scheduler_slots' %}")
        //         .type('json')
        //         .query({
        //           start: info.start.toJSON(),
        //           // {% if phase %}
        //           phase: "{{ phase.pk }}",
        //           // {% endif %}
        //           // {% if job %}
        //           job: "{{ job.pk }}",
        //           // {% endif %}
        //           end: info.end.toJSON()
        //         },urlSearchParams)
        //         .end(function(err, res) {    
        //           if (err) {
        //             failureCallback(err);
        //           } else {
        //             successCallback(res.body)
        //           }
        //         })
        //     },
        // ],
        // {% if readonly %}
        selectable: false,
        editable: false,
        droppable: false,
        // {% else %}
        eventClick: function(info) {
          if(info.event.extendedProps.editURL) {
            info.jsEvent.preventDefault(); // don't let the browser navigate
            // Show slot edit modal
            $.ajax({
              url: '{% url "change_scheduler_slot" %}'+info.event.id,
              type: 'get',
              dataType: 'json',
              success: function(data) {
                  $("#mainModalContent").html(data.html_form);
                  $("#mainModal").modal("show");
              }
          });
          };

        },
        selectable: true,
        editable: true,
        droppable: true,
        // {% endif %}
        select: function(info) {
          // get the selection info
          // https://swisnl.github.io/jQuery-contextMenu/
          $.contextMenu( 'destroy' );
          $.contextMenu({
            selector: '.fc-scroller', 
            zIndex: 10,
            reposition: false,
            trigger: 'none',
            build: function($triggerElement, e){
              return {
                callback: function(key, options) {
          
                    start_date = info.start.toJSON();
                    end_date = info.end.toJSON();
                    resource_id = info.resource.id;
                    // {% if phase %}
                    phase_id = "&phase={{ phase.pk }}";
                    // {% else %}
                    phase_id = "";
                    // {% endif %}
                    // {% if job %}
                    job_id = "&job={{ job.pk }}";
                    // {% else %}
                    job_id = "";
                    // {% endif %}
                    // {% if project %}
                    project_id = "&project={{ project.pk }}";
                    // {% else %}
                    project_id = "";
                    // {% endif %}
                    // Lets open a modal window to setup the   
                    switch(key) {
                      case "assign_phase":
                        $.ajax({
                          url: '{% url "create_scheduler_phase_slot" %}?resource_id='+parseInt(resource_id)+'&start='+start_date+'&end='+end_date+job_id+phase_id,
                          type: 'get',
                          dataType: 'json',
                          success: function(data) {
                              $("#mainModalContent").html(data.html_form);
                              $("#mainModal").modal("show");
                          }
                        });
                        break;
                        case "assign_project":
                          $.ajax({
                            url: '{% url "create_scheduler_project_slot" %}?resource_id='+parseInt(resource_id)+'&start='+start_date+'&end='+end_date+project_id,
                            type: 'get',
                            dataType: 'json',
                            success: function(data) {
                                $("#mainModalContent").html(data.html_form);
                                $("#mainModal").modal("show");
                            }
                          });
                          break;
                      case "assign_internal":
                        $.ajax({
                          url: '{% url "create_scheduler_internal_slot" %}?resource_id='+parseInt(resource_id)+'&start='+start_date+'&end='+end_date,
                          type: 'get',
                          dataType: 'json',
                          success: function(data) {
                              $("#mainModalContent").html(data.html_form);
                              $("#mainModal").modal("show");
                          }
                        });
                        break;
                      case "add_comment":
                        $.ajax({
                          url: '{% url "create_scheduler_comment" %}?resource_id='+parseInt(resource_id)+'&start='+start_date+'&end='+end_date,
                          type: 'get',
                          dataType: 'json',
                          success: function(data) {
                              $("#mainModalContent").html(data.html_form);
                              $("#mainModal").modal("show");
                          }
                        });
                        break;
                      case "clear":
                        $.ajax({
                          url: '{% url "clear_scheduler_range" %}?resource_id='+parseInt(resource_id)+'&start='+start_date+'&end='+end_date,
                          type: 'get',
                          dataType: 'json',
                          success: function(data) {
                              $("#mainModalContent").html(data.html_form);
                              $("#mainModal").modal("show");
                          }
                        });
                        break;
                    } 
                    // Swal.fire({
                    //   title: "clicked: " + key,
                    //   icon: "success",
                    // });
                },
                position: function(opt, x, y){
                    opt.$menu.css({
                      top: info.jsEvent.pageY, 
                      left: info.jsEvent.pageX
                    });
                },
                items: {
                    "assign_phase": {name: "Assign phase", icon: "fas fa-cubes fs-0 me-2"},
                    "assign_project": {name: "Assign project", icon: "fas fa-diagram-project fs-0 me-2"},
                    "assign_internal": {name: "Assign internal", icon: "fas fa-briefcase fs-0 me-2"},
                    "add_comment": {name: "Add Comment", icon: "fas fa-comment fs-0 me-2"},
                    "clear": {name: "Clear Range", icon: "fas fa-eraser fs-0 me-2"},
                }
              };
            }
          });
          $('.fc-scroller').contextMenu();
        },
        eventDrop: function(info) {
          Swal.fire({
            title: 'Do you want to save the changes?',
            showCancelButton: true,
            confirmButtonText: 'Save',
          }).then((result) => {
            if (result.isConfirmed) {
              // Save the change...
              var slotData = {
                  "pk": info.event.id,
                  "start": info.event.start.toJSON(),
                  "end": info.event.end.toJSON(),
                  "user": info.event.extendedProps.userId,
                  "csrfmiddlewaretoken": csrf.val(),
                };
              if (info.newResource) {
                slotData['user'] = info.newResource.id;
              };
              $.ajax({
                url: '{% url "change_scheduler_slot_date" %}'+info.event.id,
                data: slotData,
                type: "POST",
                dataType: 'json',
                success: function(data) {
                  if (!data.form_is_valid) {
                    Swal.fire(
                      'Failed to modify',
                      'Something went wrong. Please check the data entered.',
                      'warning'
                    );    
                    info.revert();
                  } else {
                    calendar.refetchEvents();
                  }
                }
              });
            } else {
              info.revert();
            }
          });
        },
        eventResize: function(info) {
          Swal.fire({
            title: 'Do you want to save the changes?',
            showCancelButton: true,
            confirmButtonText: 'Save',
          }).then((result) => {
            if (result.isConfirmed) {          
              // Save the change...
              var slotData = {
                  "pk": info.event.id,
                  "start": info.event.start.toJSON(),
                  "end": info.event.end.toJSON(),
                  "user": info.event.extendedProps.userId,
                  "csrfmiddlewaretoken": csrf.val(),
                };
              $.ajax({
                url: '{% url "change_scheduler_slot_date" %}'+info.event.id,
                data: slotData,
                type: "POST",
                dataType: 'json',
                success: function(data) {
                  if (!data.form_is_valid) {
                    Swal.fire(
                      'Failed to modify',
                      'Something went wrong. Please check the data entered.',
                      'warning'
                    );    
                    info.revert();
                  } else {
                    location.reload();
                  }
                }
              });
            } else {
              info.revert();
            }
          });
        },
      });
    
    calendar.render();
    
    </script>