{% extends 'base.html' %}
{% load menu %}
{% load static %}

{% block pageTitle %}
  {{ user }}
{% endblock %}
{% block head_title %}
  {{ user }}
{% endblock %}

{% block breadcrumbItem %}
  <li class="breadcrumb-item text-sm">Users</li>
  <li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">{{ user }}</li>
{% endblock %}

{% block content %}
  {% if not user.is_active %}
    <div class="alert alert-phoenix-warning d-flex mt-2 mb-0 align-items-center" role="alert">
      <span class="fas fa-info-circle text-warning fs-3 me-3"></span>
      <p class="mb-0 flex-1">User is inactive</p>
    </div>
  {% endif %}

  <div class="row pt-5 pb-2 g-2">
    <div class="col-12 g-2 col-xl-4">
      <div class="card mb-3">
        <div class="card-body d-flex flex-column justify-content-between pb-3">
          <div class="m-2 position-absolute top-0 end-0">
            {% include 'partials/user/user_menu.html' with u=user %}
          </div>

          <div class="position-relative">
            <div class="p-3 pb-0">
              <div class="text-center row align-items-center">
                <div class="col-4">
                  <div class="avatar avatar-4xl position-relative me-2 me-sm-0 me-xl-2 mb-2">
                    <img class="rounded-circle border border-light-subtle" src="{{ user.get_avatar_url }}" alt="" />
                  </div>
                </div>
                <div class="col-8 text-start">
                  <h3 class="">{{ user }}</h3>

                  {% if user.job_title %}
                    <p class="text-opacity-50 fw-semibold fs-10 mb-2">{{ user.job_title }}</p>
                  {% endif %}
                  {% if user.notification_email %}
                    <p class="text-opacity-50 fw-semibold fs-10 mb-2">
                      <a href="mailto:{{ user.notification_email }}">{{ user.notification_email }}</a>
                    </p>
                  {% elif user.email %}
                    <p class="text-opacity-50 fw-semibold fs-10 mb-2">
                      <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </p>
                  {% endif %}
                  {% for unitMembership in user.unit_memberships.all %}
                    <a href="{{ unitMembership.unit.get_absolute_url }}">{% include 'partials/unit/unit_badge_role_colour.html' with unitMembership=unitMembership %}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-between-center border-top mt-4 border-dashed border-300 py-4">
            <div>
              <h6>Avg Report Rating</h6>
              <div class="text-600 mb-0">
                {{ user.get_average_qa_rating_12mo }}

                {% with avg_qa_rating=user.get_average_qa_rating_12mo %}
                  {% include 'partials/feedback_stars.html' with feedback=avg_qa_rating %}
                {% endwith %}
              </div>
            </div>
            <div>
              <h6>Jobs</h6>
              <p class="text-800 mb-0">{{ user.get_jobs|length }}</p>
            </div>
            <div>
              <h6>Reports</h6>
              <p class="text-800 mb-0">{{ user.phase_where_report_author.all|length }}</p>
            </div>
          </div>

          <div class="border-top border-dashed border-300 pt-4"></div>
          <div class="mb-4">
            <div class="d-flex align-items-center mb-1">
              <span class="me-2 fas fa-certificate"></span>
              <h5 class="text-body-highlight mb-0">Qualifications</h5>
            </div>
            <ul class="list-group align-items-center list-group-flush">
              {% for record in user.qualifications.all %}
                <li class="list-group-item">
                  <a href="{{ record.qualification.get_absolute_url }}"><span class="badge badge-phoenix badge-phoenix-{{ record.status_bs_colour }} me-2 mb-1 text-wrap">{{ record.qualification.awarding_body }} - {{ record.qualification }} ({{ record.get_status_display }})</span></a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="border-top border-dashed border-300 pt-4"></div>
          <div class="mb-4">
            <div class="d-flex align-items-center mb-1">
              <span class="me-2 fas fa-certificate"></span>
              <h5 class="text-body-highlight mb-0">Skills</h5>
            </div>
            {% for skill in user.get_skills_specialist %}
            {% include 'partials/skill/skill_badge.html' with rating='specialist' %}
            {% empty %}
            &nbsp;
            {% endfor %}  

            {% for skill in user.get_skills_alone %}
            {% include 'partials/skill/skill_badge.html' with rating='alone' %}
            {% empty %}
            &nbsp;
            {% endfor %}    

            {% for skill in user.get_skills_support %}
            {% include 'partials/skill/skill_badge.html' with rating='support' %}
            {% empty %}
            &nbsp;
            {% endfor %}    
          </div>

          <div class="border-top border-dashed border-300 pt-4"></div>
          <div class="mb-4">
            <div class="d-flex align-items-center mb-1">
              <span class="me-2 fas fa-certificate"></span>
              <h5 class="text-body-highlight mb-0">Services</h5>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-12 g-2 col-xl-8 ps-3 pt-3">
      <div class="row mb-3">
        <div class="scrollbar">
          <ul class="nav nav-underline fs-9 flex-nowrap mb-3 pb-1" id="myTab" role="tablist">
            <li class="nav-item me-3" role="presentation">
              <a class="nav-link text-nowrap active" id="jobs-tab" data-bs-toggle="tab" href="#tab-jobs" role="tab" aria-controls="tab-jobs" aria-selected="true"><span class="fas fa-shopping-cart me-2"></span> Jobs <span class="text-body-tertiary fw-normal">({{ user.get_jobs|length }})</span></a>
            </li>
            <li class="nav-item me-3" role="presentation">
              <a class="nav-link text-nowrap" id="reports-tab" data-bs-toggle="tab" href="#tab-reports" role="tab" aria-controls="tab-reports" aria-selected="false" tabindex="-1"><span class="fas fa-star me-2"></span> Reports <span class="text-body-tertiary fw-normal">({{ user.phase_where_report_author.all|length }})</span></a>
            </li>
            <li class="nav-item me-3" role="presentation">
              <a class="nav-link text-nowrap" id="schedule-tab" data-bs-toggle="tab" href="#tab-schedule" role="tab" aria-controls="tab-schedule" aria-selected="false" tabindex="-1"><span class="fas fa-calendar me-2"></span> Schedule</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="profileTabContent">
          <div class="tab-pane fade active show" id="tab-jobs" role="tabpanel" aria-labelledby="jobs-tab">
            {% include 'partials/job/job_list_table.html' with job_list=user.get_jobs disableAjax=1 only %}
          </div>
          <div class="tab-pane fade" id="tab-reports" role="tabpanel" aria-labelledby="reports-tab">
            {% include 'partials/phase/phase_list_table.html' with phases=user.phase_where_report_author.all disableAjax=1 %}
          </div>
          <div class="tab-pane fade" id="tab-schedule" role="tabpanel" aria-labelledby="schedule-tab">
            <div class="calendar" data-bs-toggle="calendar" id="calendar"></div>   
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block footer_javascript_page %}
<script>

var calendarEl = document.getElementById('calendar');

var calendar = new FullCalendar.Calendar(calendarEl, {
    schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
    initialView: 'dayGridMonth',
    themeSystem: 'bootstrap5',
    eventDisplay: "block",
    firstDay: 1,
    headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek,timeGridDay'
    },
    eventSources: [
      {
        url: "{% url 'user_schedule_timeslots' user.email %}",
        method: 'GET',
        failure: function(res) {
          if(res.response.redirected) {
            // Reload the page - we're prob logged out...
            window.location.reload();
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Something went wrong getting scheduled events!',
            })
          }
        },
      },
      {
        url: "{% url 'user_schedule_holidays' user.email %}",
        method: 'GET',
        failure: function(res) {
          if(res.response.redirected) {
            // Reload the page - we're prob logged out...
            window.location.reload();
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Something went wrong getting scheduled holidays!',
            })
          }
        },
      },
    ],
    selectable: false,
    editable: false,
    eventClick: function(info) {
        info.jsEvent.preventDefault(); // don't let the browser navigate
        if (info.event.url) {
        window.open(info.event.url);
        }
    },
    // Cal Defaults
    nowIndicator: true,
    weekNumberCalculation: "ISO",
    slotDuration: "00:30:00",
    scrollTime: "08:00:00",
    slotMinTime: "08:30:00",
    slotMaxTime: "18:00:00",
    aspectRatio: 1.45,

    businessHours: {
        // days of week. an array of zero-based day of week integers (0=Sunday)
        daysOfWeek: [ 1, 2, 3, 4, 5], // Monday - Friday

        startTime: '09:00', // a start time
        endTime: '17:30', // an end time
    }
  });

calendar.render();


var triggerTabList = [].slice.call(document.querySelectorAll('a#schedule-tab'))
triggerTabList.forEach(function (triggerEl) {
  var tabTrigger = new bootstrap.Tab(triggerEl)
  triggerEl.addEventListener('shown.bs.tab', function (event) {

    calendar.updateSize();
    calendar.render();
    calendar.refetchEvents();

  })
})
</script>
{% endblock footer_javascript_page %}