{% extends "base.html" %}
{% load menu %}{% load static %}{% load humanize %}

{% block pageTitle %}Users{% endblock pageTitle %}
{% block head_title %}Users{% endblock head_title %}

{% block headerBlock_css %}mb-6{% endblock headerBlock_css %}

{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">Users</li>
{% endblock breadcrumbItem %}

{% block content %}

{% if request.u.show_help %}
<div class="row">
  <div class="col-lg-12 col-12 mt-4 mt-lg-0">
{% include 'help/user_list.html' %}
  </div>
</div>
{% endif %}


<div class="row mb-4 gx-6 gy-3 mt-2 align-items-center">
  <div class="col">
    <h2 class="mb-0">Users</h2>
  </div>
  <div class="col-3 d-flex justify-content-end">
{% if config.INVITE_ENABLED %}
    <button data-url="{% url 'user_invite' %}" 
      class="btn btn-phoenix-primary js-load-modal-form">
      <i class="fa-solid fa-plus me-2"></i>
      Invite User
    </button>
    {% endif %}

  </div>
</div>

{% if invite_list %}
<div class="row my-3">
  <div class="col-12">
     <div class="card p-2">
        <div class="card-header">
          <h4>Pending Invites</h4>
        </div>
        <div class="card-body py-2 ">
          <table class="table datatable align-items-center mb-0">
            <caption>Pending Invites</caption>
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    E-mail
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    Invited
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    Sent by
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for u in invite_list %}
              <tr>
                <td>
                  {{ u.invited_email }}
                  {% if u.is_expired %}
                  <span class="badge badge-phoenix-warning">Expired</span>
                  {% endif %}
                </td>
                <td>
                  {{ u.sent }} (expires {{ u.expiry_date|naturaltime }})
                </td>   
                <td>
                  {{ u.invited_by }}
                </td>        
                <td class="align-end text-end">
                </td>
              </tr>
            {% endfor %}        
            </tbody>
          </table>

        </div>
     </div>
  </div>
</div>
{% endif %}

<div class="row my-3">
  <div class="col-12">
     <div class="card p-2">
        <div class="card-body py-2 ">
          <table class="table datatable align-items-center mb-0">
            <caption>User List</caption>
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Name
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    E-mail
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    Units
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    Global Roles
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    Joined
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    Last Login
                </th>
                <th>
                  <div class="btn-reveal-trigger position-static">
                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" 
                        type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" 
                        data-bs-reference="parent">
                        <span class="fas fa-ellipsis-h fs-10"></span>
                    </button>
                
                    <div class="dropdown-menu shadow dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">     
                      <a class="dropdown-item " href="#">
                          Resend Invite
                      </a>
                      <button class="dropdown-item text-warning js-load-modal-form" 
                          data-url="#">
                          Revoke Invite
                      </button>     
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
            {% for u in user_list %}
              <tr {% if not u.is_active %}class="table-secondary"{% endif %}>
                <td>
                  {{ u }}
                  {% if not u.is_active %}
                  <span class="badge badge-phoenix badge-phoenix-warning">INACTIVE</span>
                  {% endif %}
                </td>
                <td>
                  <div class="d-flex px-2">
                      <a href="{{ u.get_absolute_url }}">
                          {{ u.email }}
                      </a>
                  </div>
                </td>
                <td>
                  {% for unitMembership in u.unit_memberships.all %}
                    <a href="{{ unitMembership.unit.get_absolute_url }}">
                      {{ unitMembership.unit }}
                    </a> {% include 'partials/unit/role_badge.html' with member=unitMembership %}
                    {% if not forloop.last %}<br /> {% endif %}
                  {% empty %}
                  No assigned units
                  {% endfor %}
                </td>   
                <td>
                  <p class="text-xs font-weight-normal mb-0">
                    {% for group in u.groups.all %}
                      {% include 'partials/globalRoleBadge.html' with group=group %}
                    {% empty %}
                    No assigned roles
                    {% endfor %}
                    </p>
                </td>           
                <td class="align-end text-end" data-sort="{{ u.date_joined|date:'Y-m-d' }}">
                  {{ u.date_joined }}
                </td>   
                <td class="align-end text-end" data-sort="{{ u.last_login|date:'Y-m-d' }}">
                  {{ u.last_login }}
                </td>
                <td class="align-end text-end">
                  {% include 'partials/user/user_menu.html' with u=u %}
                </td>
              </tr>
            {% endfor %}        
            </tbody>
          </table>

        </div>
     </div>
  </div>
</div>
{% endblock content %}