{% extends 'base.html' %}
{% load menu %}
{% load static %}

{% block pageTitle %}
  {{ user }}
{% endblock %}
{% block head_title %}
  {{ user }}
{% endblock %}

{% block breadcrumbItem %}
  <li class="breadcrumb-item text-sm">Users</li>
  <li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">{{ user }}</li>
{% endblock %}

{% block content %}
  {% if not user.is_active %}
    <div class="alert alert-phoenix-warning d-flex mt-2 mb-0 align-items-center" role="alert">
      <span class="fas fa-info-circle text-warning fs-3 me-3"></span>
      <p class="mb-0 flex-1">User is inactive</p>
    </div>
  {% endif %}

  <div class="row pt-5 pb-2 g-2">
    <div class="col-12 g-2 col-xl-4">
      {% include 'partials/user/user_large_card.html' with user=user %}
    </div>

    <div class="col-12 g-2 col-xl-8 ps-3 pt-0">
      <div class="row mb-3">
        <div class="scrollbar">
          <ul class="nav nav-underline fs-9 flex-nowrap mb-3 pb-1" id="myTab" role="tablist">
            <li class="nav-item me-3" role="presentation">
              <a class="nav-link text-nowrap active" id="stats-tab" data-bs-toggle="tab" href="#tab-stats" role="tab" aria-controls="tab-stats" aria-selected="false" tabindex="-1"><span class="fas fa-chart-simple me-2"></span> Stats</a>
            </li>
            <li class="nav-item me-3" role="presentation">
              <a class="nav-link text-nowrap" id="jobs-tab" data-bs-toggle="tab" href="#tab-jobs" role="tab" aria-controls="tab-jobs" aria-selected="true"><span class="fas fa-shopping-cart me-2"></span> Jobs <span class="text-body-tertiary fw-normal">({{ user.get_jobs|length }})</span></a>
            </li>
            <li class="nav-item me-3" role="presentation">
              <a class="nav-link text-nowrap" id="reports-tab" data-bs-toggle="tab" href="#tab-reports" role="tab" aria-controls="tab-reports" aria-selected="false" tabindex="-1"><span class="fas fa-star me-2"></span> Reports <span class="text-body-tertiary fw-normal">({{ user.get_reports|length }})</span></a>
            </li>
            <li class="nav-item me-3" role="presentation">
              <a class="nav-link text-nowrap" id="schedule-tab" data-bs-toggle="tab" href="#tab-schedule" role="tab" aria-controls="tab-schedule" aria-selected="false" tabindex="-1"><span class="fas fa-calendar me-2"></span> Schedule</a>
            </li>
            <li class="nav-item me-3" role="presentation">
              <a class="nav-link text-nowrap" id="schedule_history-tab" data-bs-toggle="tab" href="#tab-schedule_history" role="tab" aria-controls="tab-schedule_history" aria-selected="false" tabindex="-1"><span class="fas fa-calendar me-2"></span> Schedule History</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="tab-stats" role="tabpanel" aria-labelledby="stats-tab">
            {% include 'partials/user/user_stats.html' %}
          </div>
          <div class="tab-pane fade" id="tab-jobs" role="tabpanel" aria-labelledby="jobs-tab">
            {% include 'partials/job/job_list_table.html' with job_list=user.get_jobs disableAjax=1 only %}
          </div>
          <div class="tab-pane fade" id="tab-reports" role="tabpanel" aria-labelledby="reports-tab">
            {% include 'partials/phase/reporting_list_table.html' with phases=user.get_reports disableAjax=1 %}
          </div>
          <div class="tab-pane fade" id="tab-schedule" role="tabpanel" aria-labelledby="schedule-tab">
            <div class="calendar" data-bs-toggle="calendar" id="calendar"></div>
          </div>
          <div class="tab-pane fade" id="tab-schedule_history" role="tabpanel" aria-labelledby="schedule_history-tab">
            {% include 'partials/users/user_schedule_history.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block offcanvas %}
  <div class="offcanvas offcanvas-end settings-panel border-0" id="settings-offcanvas" tabindex="-1" aria-labelledby="settings-offcanvas">
    <div class="offcanvas-header align-items-start flex-column pb-0">
      <div class="pt-1 w-100 mb-3 d-flex justify-content-between align-items-start">
        <div>
          <h5 class="mb-2 me-2 lh-sm">
            <span class="fas fa-palette me-2 fs-8"></span>
            Raw Data
          </h5>
          <p class="mb-0 fs-9">The JSON string below shows the raw values used to calculate the stats on this page.</p>
        </div>
        <button class="btn p-1 fw-bolder" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><span class="fas fa-times fs-8"></span></button>
      </div>
    </div>
    <div class="offcanvas-body scrollbar pt-0" id="themeController">
      <pre><code>{{ stats_json }}</code></pre>
      <script>
        hljs.highlightAll();
      </script>
    </div>
  </div>
  <a class="card setting-toggle" href="#settings-offcanvas" data-bs-toggle="offcanvas">
    <div class="card-body d-flex align-items-center px-2 py-1">
      <div class="position-relative rounded-start" style="height:34px;width:28px">
        <div class="settings-popover">
          <span class="fa-solid fa-filter"></span>
        </div>
      </div><small class="text-uppercase text-700 fw-bold py-2 pe-2 ps-1 rounded-end">Detail</small>
    </div>
  </a>
{% endblock %}

{% block extra_js %}
  <script>
    var calendarEl = document.getElementById('calendar')
    
    var calendar = new FullCalendar.Calendar(calendarEl, {
      schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
      initialView: 'dayGridMonth',
      themeSystem: 'bootstrap5',
      eventDisplay: 'block',
      firstDay: 1,
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      eventSources: [
        {
          url: "{% url 'user_schedule_timeslots' user.email %}",
          method: 'GET',
          failure: function (res) {
            if (res.response.redirected) {
              // Reload the page - we're prob logged out...
              window.location.reload()
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong getting scheduled events!'
              })
            }
          }
        },
        {
          url: "{% url 'user_schedule_holidays' user.email %}",
          method: 'GET',
          failure: function (res) {
            if (res.response.redirected) {
              // Reload the page - we're prob logged out...
              window.location.reload()
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong getting scheduled holidays!'
              })
            }
          }
        }
      ],
      selectable: false,
      editable: false,
      eventClick: function (info) {
        info.jsEvent.preventDefault() // don't let the browser navigate
        if (info.event.url) {
          window.open(info.event.url)
        }
      },
      // Cal Defaults
      nowIndicator: true,
      weekNumberCalculation: 'ISO',
      slotDuration: '00:30:00',
      scrollTime: '08:00:00',
      slotMinTime: '08:30:00',
      slotMaxTime: '18:00:00',
      aspectRatio: 1.45,
    
      businessHours: {
        // days of week. an array of zero-based day of week integers (0=Sunday)
        daysOfWeek: [1, 2, 3, 4, 5], // Monday - Friday
    
        startTime: '09:00', // a start time
        endTime: '17:30' // an end time
      }
    })
    
    calendar.render()
    
    var triggerTabList = [].slice.call(document.querySelectorAll('a#schedule-tab'))
    triggerTabList.forEach(function (triggerEl) {
      var tabTrigger = new bootstrap.Tab(triggerEl)
      triggerEl.addEventListener('shown.bs.tab', function (event) {
        calendar.updateSize()
        calendar.render()
        calendar.refetchEvents()
      })
    })
  </script>
{% endblock %}
