<div class="row ps-5 pe-4 align-items-center justify-content-between mt-3 mb-0">
    <div class="col">
        <h2 class="mb-2">
        Job Detail
        </h2>
    </div>

    <div class="col-md-auto">
        <div class="d-flex">
            <div class="mt-0 p-0 text-center">
                {% include 'partials/job/warnings.html' %}
            </div>
        </div>
    </div>


    <div class="col-4">
        <div class="d-flex justify-content-end">
        {% include 'partials/job/status_buttons.html' %}

        <button class="btn px-3 ms-3 btn-phoenix-secondary" type="button" data-bs-toggle="dropdown" 
            data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
            <span class="fa-solid fa-ellipsis"></span>
        </button>
        {% include 'partials/job/status_button_menu.html' %}
        </div>
    </div>
</div>
  
<div class="row justify-content-between mx-1 my-3">
    <div class="col-4 gx-3 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
                <div class="row align-items-center ">
                    <h3 class="fw-bolder mb-2 line-clamp-1">
                        {{ job.id }} - {{ job.title }}
                    </h3>
                </div>
                <div class="row">
                    <div class="col-6 flex-1">
                        <table class="w-100 table-stats table-stats">
                            <caption>Job Info</caption>
                            <thead>
                              <tr>
                                <th class="w-25" scope="col"></th>
                                <th class="" scope="col"></th>
                                <th class="w-75" scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                        <p class="fw-bold mb-0">Client</p>
                                    </td>
                                    <td class=" d-none d-sm-block pe-sm-2">:</td>
                                    <td class="">
                                        <p class="ps-6 ps-sm-0 fw-semi-bold mb-0">
                                            <a href="{{ job.client.get_absolute_url }}">{{ job.client }}</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="">
                                        <p class="fw-bold mb-0">Unit</p>
                                    </td>
                                    <td class=" d-none d-sm-block pe-sm-2">:</td>
                                    <td class="">
                                        <p class="ps-6 ps-sm-0 fw-semi-bold mb-0">
                                            <a href="{{ job.unit.get_absolute_url }}">{{ job.unit }}</a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-6 flex-1">
                        <table class="w-100 table-stats table-stats">
                            <caption>Job Info 2</caption>
                            <thead>
                              <tr>
                                <th class="w-25" scope="col"></th>
                                <th class="" scope="col"></th>
                                <th class="w-75" scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="">
                                        <p class="fw-bold mb-0">Status</p>
                                    </td>
                                    <td class=" d-none d-sm-block pe-sm-2">:</td>
                                    <td class="">
                                        <h4 class="ps-6 ps-sm-0 mb-0">
                                          {% include 'partials/job/status_badge.html' %}
                                        </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-8 gx-3 ps-0">
        <div class="row">
            <div class="col-12 ">
            <div class="card theme-wizard mb-0">
                <div class="card-header px-6 pt-1 pb-0 border-bottom-0">
                {% include 'partials/job/progress_wizard.html' %}
                </div>
            </div>
            </div>
        </div>
        <div class="row pt-2 align-items-center">
            {% include 'partials/job/widgets/dates.html' %}
        </div>
    </div>

</div>