<div class="w-100 d-grid " >
    <div class="btn-group">
        <button type="button" class="btn btn-lg col-3 btn-outline-{% include 'partials/job/status_colour.html' %}">
            Status
        </button>
        <button type="button" 
            class="border-left-0 btn btn-lg col-9 btn-{% include 'partials/job/status_colour.html' %} dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ job.get_status_display }}
        </button>
        {% include 'partials/job/status_button_menu.html' %}
    </div>
</div>