{% extends 'email_base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
{{ message }}
{% endblock content %}

{% block action_block %}
{% if action_link %}
<a href="{{ action_link }}" 
  style="color: #ffffff; font-size: 16px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 6px; line-height: 20px; display: block; font-weight: 700 !important; white-space: nowrap; background-color: #0d6efd; padding: 12px; border: 1px solid #0d6efd;">
  Visit Onboarded Clients Page
</a>
{% endif %}
{% endblock action_block %}