{% extends "../base_card.html" %}
{% load widget_tweaks %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block head_title %}Login{% endblock head_title %}

{% block alerts %}
  {% if form.errors %}
  <div class="alert alert-outline-danger m-3" role="alert">
      <strong>Danger!</strong> 
      Your details were not recognised. 
      Please try again.
  </div>
  {% endif %}
{% endblock alerts %}

{% block left_col_content %}

<div class="auth-form-box">
  <div class="text-center mb-7">
    <a class="d-flex flex-center text-decoration-none mb-4" href="{% url 'home' %}">
      <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
        <img src="{% static 'assets/img/icons/logo.png' %}" alt="chaotica" width="58" />
      </div>
    </a>    
    <h3 class="text-1000">Sign In</h3>
    <p class="text-700">Get access to your account</p>
  </div>

  {% if config.ADFS_ENABLED %}  
  <a class="btn btn-phoenix-secondary w-100 mb-3" href="{% url 'django_auth_adfs:login' %}">
    <span class="fab fa-microsoft text-primary me-2 fs-9"></span>Sign in with Microsoft
  </a>
  {% endif %}

  {% if config.ADFS_ENABLED and config.LOCAL_LOGIN_ENABLED %}
  <div class="position-relative">
    <hr class="bg-200 mt-5 mb-4" />
    <div class="divider-content-center bg-white">or use email</div>
  </div>
  {% endif %}

  {% if config.LOCAL_LOGIN_ENABLED %}
  <form id="login-form" method="post" role="form">
    {% csrf_token %}

    <div class="mb-3 text-start">
      <label class="form-label" for="email">Email</label>
      <div class="form-icon-container">
        <input class="form-control form-icon-input" id="id_username" name="username" type="email" placeholder="Email Address" />
        <span class="fas fa-envelope text-900 fs-9 form-icon"></span>
      </div>
    </div>

    <div class="mb-3 text-start">
      <label class="form-label" for="password">Password</label>
      <div class="form-icon-container">
        <input class="form-control form-icon-input" id="id_password" name="password" type="password" placeholder="Password" />
        <span class="fas fa-key text-900 fs-9 form-icon"></span>
      </div>
    </div>

    <div class="row flex-between-center mb-7">
      <div class="col-auto">
        
      </div>
      <div class="col-auto"><a class="fs-9 fw-semi-bold" href="{% url 'password_reset' %}">Forgot Password?</a></div>
    </div>

    <button type="submit" value="Sign in" class="btn btn-primary w-100 mb-3">Sign In</button>
    {% endif %}
    
    <input type="hidden" name="next" value="{{ next }}" />

    {% if config.REGISTRATION_ENABLED %}
    <div class="text-center">
      <a class="fs-9 fw-bold" href="{% url 'signup' %}">Create an account</a>
    </div>
    {% endif %}

  </form>
</div>
{% endblock left_col_content %}
