{% extends "../base_card.html" %}
{% load widget_tweaks %}
{% load i18n static %}
{% load crispy_forms_tags %}


{% block head_title %}Password Reset{% endblock head_title %}
{% block alerts %}
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
      <strong>Danger!</strong> 
      Your details were not recognised. 
      Please try again.
  </div>
  {% endif %}
{% endblock alerts %}

{% block left_col_content %}
<div class="card card-plain">
  <div class="card-header pb-0 text-center">
    <h4 class="font-weight-bolder">Password reset</h4>

    <div class="text-center">
      <a href="{% url 'home' %}" class="btn btn-primary my-4">Home</a>
    </div>
  </div>
</div>
{% endblock left_col_content %}