{% extends "../base_card.html" %}
{% load widget_tweaks %}
{% load i18n static %}
{% load crispy_forms_tags %}


{% block head_title %}Password Reset{% endblock head_title %}
{% block alerts %}
  {% if form.errors %}
  <div class="alert alert-danger text-white" role="alert">
      <strong>Danger!</strong> 
      Your details were not recognised. 
      Please try again.
  </div>
  {% endif %}
{% endblock alerts %}

{% block illustrationImg %}{% static "assets/img/illustrations/illustration-reset.jpg" %}{% endblock illustrationImg %}

{% block left_col_content %}
<div class="card card-plain">
  <div class="card-header pb-0 text-start">
    <h4 class="font-weight-bolder">Reset Password</h4>
  </div>
  <div class="card-body px-lg-5 pt-5">               
    <form id="login-form" method="post" role="form">
      {% csrf_token %}
      <div class="input-group input-group-outline mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)" 
          id="id_email" name="email" >
      </div>
        <div class="text-center">
          <input type="submit" value="Send" class="btn btn-primary my-4" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
  </div>
</div>
{% endblock %}