{% load menu %}{% load static %}{% load crispy_forms_tags %}{% load skill_tags %}
<form method="post" id="profileForm" class="profileForm js-submit-modal-form" 
   enctype='multipart/form-data' action="{% url 'update_own_profile' %}">
    {% csrf_token %}
    {{ form.media }}
    <div class="card-header p-3">

       <div class="row justify-content-between align-items-center">
          <div class="col-3">
             <h5>Basic Info</h5>
          </div>
          <div class="col-auto justify-content-between align-items-center">
               {{ profileForm.show_help|as_crispy_field }}
          </div>
          <div class="col-3 d-flex justify-content-end">
            <button class="btn btn-sm btn-phoenix-success mb-0 js-save-profile" data-url="{% url 'update_own_profile' %}"
               type="button">
               Save
            </button>            
          </div>
       </div>

    </div>
    <div class="card-body">      
       {% crispy profileForm %}
    </div>
 </form>