<div class="mb-3">
    <h4 class="text-body-emphasis">Services</h4>
</div>

<div class="row g-0 mt-3 border-top border-300">
    <div class="col-sm-2">
      <div class="nav flex-sm-column border-end-sm border-300 fs-9 vertical-tab justify-content-between" role="tablist" aria-orientation="vertical">      
          <a class="nav-link border-end border-end-sm-0 border-bottom-sm border-300 text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center active" 
            id="leadTab" data-bs-toggle="tab" data-bs-target="#leadTabContent" role="tab" aria-controls="leadTabContent" aria-selected="true">
            <span class="d-none d-sm-inline">Can Lead</span>
          </a>
  
          <a class="nav-link border-end border-end-sm-0 border-bottom-sm border-300 text-center text-sm-start cursor-pointer outline-none d-sm-flex align-items-sm-center" 
            id="contributeTab" data-bs-toggle="tab" data-bs-target="#contributeTabContent" role="tab" aria-controls="contributeTabContent" aria-selected="false">
            <span class="d-none d-sm-inline">Can Contribute</span>
          </a>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="tab-content py-3 ps-sm-4 h-100">
  
        <div class="tab-pane fade active show" id="leadTabContent" role="tabpanel" aria-labelledby="#leadTab">
          <div class="card">
            <div class="card-body p-3">
                {% for service in user.services_can_lead %}
                {% include 'partials/service/service_badge.html' %}
                {% empty %}
                &nbsp;
                {% endfor %}              
            </div>
          </div>
        </div>
  
        <div class="tab-pane fade" id="contributeTabContent" role="tabpanel" aria-labelledby="contributeTab">
          <div class="card">
            <div class="card-body p-3">
                {% for service in user.services_can_contribute %}
                {% include 'partials/service/service_badge.html' %}
                {% empty %}
                &nbsp;
                {% endfor %}                    
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>