<div class="mb-5">
    <h4 class="text-body-emphasis">Utilisation</h4>
    <h6 class="text-700">Last 30 days (fake atm)</h6>
</div>
<div class="echart-top-coupons mb-5" style="height:115px;width:100%;"></div>
<div class="row justify-content-center">
    <div class="col-auto col-sm-12">
        <div class="row justify-content-center justify-content-sm-between g-5 g-sm-0 mb-2">
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="bullet-item me-2 bg-primary"></div>
                    <h6 class="text-900 fw-semi-bold flex-1 mb-0">Deliverable Work</h6>
                </div>
            </div>
            <div class="col-auto">
                <h6 class="text-900 fw-semi-bold mb-0">72%</h6>
            </div>
        </div>
        <div class="row justify-content-center justify-content-sm-between g-5 g-sm-0 mb-2">
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="bullet-item me-2 bg-primary"></div>
                    <h6 class="text-900 fw-semi-bold flex-1 mb-0">Internal</h6>
                </div>
            </div>
            <div class="col-auto">
                <h6 class="text-900 fw-semi-bold mb-0">18%</h6>
            </div>
        </div>
        <div class="row justify-content-center justify-content-sm-between g-5 g-sm-0 mb-2">
            <div class="col">
                <div class="d-flex align-items-center">
                    <div class="bullet-item me-2 bg-info"></div>
                    <h6 class="text-900 fw-semi-bold flex-1 mb-0">Non-Chargable</h6>
                </div>
            </div>
            <div class="col-auto">
                <h6 class="text-900 fw-semi-bold mb-0">10%</h6>
            </div>
        </div>
    </div>
</div>