{% extends 'base.html' %}
{% load menu %}
{% load static %}

{% block pageTitle %}
  Manage Leave
{% endblock %}
{% block head_title %}
  Manage Leave
{% endblock %}

{% block headerBlock_css %}
  mb-6
{% endblock %}

{% block breadcrumbItem %}
  <li class="breadcrumb-item active" aria-current="page">Manage Leave</li>
{% endblock %}

{% block content %}
  <div class="row mb-4 gx-6 gy-3 mt-2 align-items-center">
    <div class="col">
      <h2 class="mb-0">Manage Leave Requests</h2>
    </div>
    <div class="col-3 d-flex justify-content-end"></div>
  </div>

  {% if pending_leave %}
  <div class="mx-n4 mb-3 px-3 py-3 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-200 position-relative top-1">
    <h3>Pending Requests</h3>
    {% include 'partials/manage_leave_table.html' with leave_requests=pending_leave %}
  </div>
  {% endif %}

  <div class="mx-n4 px-3 py-3 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-200 position-relative top-1">
    <h3>All Requests</h3>
    {% include 'partials/manage_leave_table.html' with leave_requests=leave_list %}
  </div>

{% endblock %}
