{% extends 'base.html' %}
{% load menu %}
{% load static %}

{% block pageTitle %}
  Onboarded Clients
{% endblock %}
{% block head_title %}
  Onboarded Clients
{% endblock %}

{% block headerBlock_css %}
  mb-6
{% endblock %}

{% block breadcrumbItem %}
  <li class="breadcrumb-item active" aria-current="page">Onboarded Clients</li>
{% endblock %}

{% block content %}
  <div class="row mb-3 gx-6 gy-3 mt-2 align-items-center">
    <div class="col">
      <h2 class="mb-3 lh-sm">Onboarded Clients</h2>   
      <h5 class="mb-3 text-body-tertiary fw-semibold">
        This is a list of clients you have been onboarded to. For clients where you need to renew or refresh requirements frequently; you can mark it as renewed in the dropdown menu.
      </h5>
    </div>
    <div class="col-3 d-flex justify-content-end"></div>
  </div>

  {% if request.user.onboarded_clients.all %}
    <div class="mx-n4 mb-3 px-3 py-3 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-200 position-relative top-1">
      {% load humanize %}
      <table class="table align-items-center mb-0">
        <caption>Onboarded Clients List</caption>
        <thead>
          <tr>
            <th class="text-uppercase px-3 text-secondary text-xxs font-weight-bolder opacity-7">Client</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Onboarded</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Requirements Completed</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Offboarded</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
            <th class=""></th>
          </tr>
        </thead>
        <tbody>
          {% for onboarding in request.user.onboarded_clients.all %}
            <tr>
              <td class="align-middle text-start px-3 text-sm">
                <a class="fw-bold name fs-8" href="{{ onboarding.client.get_absolute_url }}">{{ onboarding.client }}</a>
              </td>
              <td class="align-middle text-center text-sm">
                <p class="text-xs text-secondary mb-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ onboarding.onboarded }}">
                  {% if onboarding.onboarded %}
                    {{ onboarding.onboarded|naturalday }}
                  {% endif %}
                </p>
              </td>

              <td class="align-middle text-center text-sm">
              {% if onboarding.client.onboarding_reoccurring_renewal %}
                  <p class="text-xs text-secondary mb-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ onboarding.reqs_completed }}">
                    {% if onboarding.reqs_completed %}
                      {{ onboarding.reqs_completed|naturalday }}
                    {% endif %}
                  </p>
                {% else %}
                <span class="badge badge-phoenix badge-tag me-2 mb-1">N/A</span>
              {% endif %}
            </td>

              <td class="align-middle text-center text-sm">
                <p class="text-xs text-secondary mb-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ onboarding.offboarded }}">
                  {% if onboarding.offboarded %}
                    {{ onboarding.offboarded|naturalday }}
                  {% endif %}
                </p>
              </td>
              <td class="align-middle text-center text-sm">
                {% include 'partials/client/onboarding_status_badge.html' with onboarding=onboarding %}
                {% if onboarding.is_due %}
                  <br />
                  <span class="badge badge-phoenix badge-phoenix-warning me-2 mb-1">Due in {{ onboarding.days_till_renewal }} days</span>
                {% endif %}
              </td>
              <td class="align-middle text-center text-sm">
                <div class="btn-reveal-trigger position-static">
                  <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>

                  <div class="dropdown-menu shadow dropdown-menu-end me-sm-n4 me-n3" aria-labelledby="navbarDropdownMenuLink">
                    <button class="dropdown-item js-load-modal-form" data-url="{% url 'renew_own_onboarding' onboarding.pk %}">Renew Requirements</button>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="alert alert-phoenix-primary" role="alert">You're not currently onboarded to any clients.</div>
  {% endif %}
{% endblock %}
