{% extends "base.html" %}
{% load menu %}{% load static %}{% load crispy_forms_tags %}{% load skill_tags %}{% load humanize %}
{% block pageTitle %}Profile{% endblock pageTitle %}
{% block head_title %}Profile{% endblock head_title %}

{% block breadcrumbItem %}
<li class="breadcrumb-item text-sm">Users</li>
<li class="breadcrumb-item text-sm text-body-emphasis active" aria-current="page">My Profile</li>
{% endblock breadcrumbItem %}

{% block content %}
<div class="row pt-5 pb-2">
   <div class="col-12 g-2 ">
      <div class="card card-body" id="profile">
         <div class="row justify-content-center align-items-center">
            <div class="col-sm-auto col-4">
               <div class="avatar avatar-xl position-relative">
                  <img src="{{ user.get_avatar_url }}" alt="bruce" class="w-100 rounded-circle shadow-sm">
               </div>
            </div>
            <div class="col-sm-auto col-8 my-auto">
               <div class="h-100">
                  <h5 class="mb-1 font-weight-bolder">
                     {{ user }}
                  </h5>
                  <p class="mb-0 font-weight-normal text-sm">
                     {{ user.job_title }}
                  </p>
               </div>
            </div>
            <div class="col-sm-auto ms-sm-auto mt-sm-0 mt-3 d-flex">
               <a href="{% url 'user_profile' user.email %}"
                  class="btn btn-outline-success">
                  View Public Profile
               </a>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row mt-4 mb-5">
    <div class="col-lg-3 g-2 mt-0">
       <div class="card position-sticky top-0">
          <ul class="nav flex-column bg-body-emphasis border-radius-lg p-3">
             <li class="nav-item pt-2">
                <a class="nav-link text-body-emphasis d-flex" data-scroll="" href="#basic-info">
                  <span class="fa fa-calendar me-sm-2 fs-7"></span>
                  <span class="text-sm">Basic Info</span>
                </a>
             </li>
             <li class="nav-item pt-2">
                <a class="nav-link text-body-emphasis d-flex" data-scroll="" href="#skills">
                  <span class="fab fa-readme me-sm-2 fs-7"></span>
                  <span class="text-sm">Skills</span>
                </a>
             </li>
             <li class="nav-item pt-2">
                <a class="nav-link text-body-emphasis d-flex" data-scroll="" href="#feeds">
                  <span class="far fa-calendar-plus me-sm-2 fs-7"></span>
                  <span class="text-sm">Feeds</span>
                </a>
             </li>
          </ul>
       </div>
    </div>

    <div class="col-lg-9 g-2 mt-lg-0">
       <div class="card" id="basic-info">
         {% include 'partials/profile/basic_profile_form.html' %}
       </div>

       <div class="card mt-4" id="skills">
         <form method="post" class="skillsForm" action="{% url 'update_own_skills' %}">
            {% csrf_token %}
            <div class="card-header">

               <div class="row justify-content-between align-items-center">
                  <div class="col">
                     <h5>Skills</h5>
                     <p class="text-sm mb-0">Showcase your skillset. Values are automatically saved.</p>
                  </div>
                  <div class="col-3 d-flex flex-column align-items-end">
                     <span class="badge badge-phoenix badge-phoenix-secondary"
                     data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ request.user.skills_last_updated }}">
                        {{ request.user.skills_last_updated | naturalday}}
                     </span>      
                     <span class="fs-10 text-opacity-60 fw-semibold">
                        Last Updated
                     </span>    
                  </div>
               </div>
               
            </div>
            <div class="card-body p-0">
               {% regroup skills by category as skillCategories %}
               {% for category in skillCategories %}
               <h4 class="ps-3 mt-4 text-body-secondary" >{{ category.grouper }}</h4>
               <p class="ps-3 mb-3 text-body-tertiary lh-sm mb-1">{{ category.grouper.description }}</p>
               <table class="table table-responsive mb-0">
                  <caption>User's Skills</caption>
                  <thead>
                     <tr>
                        <th scope="col" class="col ps-1">
                           <p class="mb-0">Skill</p>
                        </th>
                        <th scope="col" class="col-2 text-center">
                           <p class="mb-0">No Experience</p>
                        </th>
                        <th scope="col" class="col-2 text-center">
                           <p class="mb-0">Require Support</p>
                        </th>
                        <th scope="col" class="col-2 text-center">
                           <p class="mb-0">Independent</p>
                        </th>
                        <th scope="col" class="col-2 text-center">
                           <p class="mb-0 pe-2">Specialist</p>
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for skill in category.list %}
                     {% get_user_skill request.user skill as userSkill %}
                     <tr>
                        <td class="ps-1">
                           <div class="my-auto">
                              <span class="text-xs font-weight-normal">
                                 <a href="{{ skill.get_absolute_url }}">{{ skill.name }}</a>
                                 {% if skill.description %}
                                 <span class="fa fa-circle-question me-sm-2 fs-9" 
                                 data-bs-toggle="tooltip" data-bs-placement="top" title="{{ skill.description }}"
                                 aria-hidden="true"></span>
                                 {% endif %}
                              </span>
                           </div>
                        </td>
                        <td>
                           <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                              <input class="form-check-input"
                                 {% if not userSkill %}checked{% else %}{% endif %}
                                 value="0"
                                 checked type="radio" name="{{ skill.slug }}" id="{{ skill.slug }}">
                           </div>
                        </td>
                        <td>
                           <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                              <input class="form-check-input" 
                              {% if userSkill.rating == 1 %}checked{% else %}{% endif %}
                                 value="1"
                                 type="radio" name="{{ skill.slug }}" id="{{ skill.slug }}">
                           </div>
                        </td>
                        <td>
                           <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                              <input class="form-check-input" 
                              {% if userSkill.rating == 2 %}checked{% else %}{% endif %}
                                 value="2"
                                 type="radio" name="{{ skill.slug }}" id="{{ skill.slug }}">
                           </div>
                        </td>
                        <td>
                           <div class="form-check form-switch mb-0 d-flex align-items-center justify-content-center">
                              <input class="form-check-input" 
                              {% if userSkill.rating == 3 %}checked{% else %}{% endif %}
                                 value="3"
                                 type="radio" name="{{ skill.slug }}" id="{{ skill.slug }}">
                           </div>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
               {% endfor %}
            </div>
         </form>
      </div>


       <div class="card mt-4" id="feeds">
         <div class="card-header d-flex">
            <h5>Feeds</h5>
         </div>

         <div class="card-body">
            <div class="row mb-2">
               <div class="col-2">
                  <p class="my-auto">
                     Calendar Subscription <br />
                     Schedule
                  </p>
               </div>
               <div class="col d-flex">
                  <p class="font-monospace border border-cake text-sm ms-auto my-auto me-3 p-2">
                       <a href="{{ feed_url }}">{{ feed_url }}</a>
                   </p>
               </div>
               <div class="col-1 d-flex justify-content-end">
                  <button class="btn btn-sm btn-phoenix-danger mb-0 js-load-modal-form" data-url="{% url 'reset_cal_feed' %}" type="button">Reset</button>
               </div>
            </div>
            <div class="row mb-2">
               <div class="col-2">
                  <p class="my-auto">
                     Calendar Subscription <br />
                     Family Friendly
                  </p>
               </div>
               <div class="col d-flex">
                  <p class="font-monospace border border-cake text-sm ms-auto my-auto me-3 p-2">
                     <a href="{{ feed_family_url }}">{{ feed_family_url }}</a>
                   </p>
               </div>
               <div class="col-1 d-flex justify-content-end">
                  <button class="btn btn-sm btn-phoenix-danger mb-0 js-load-modal-form" data-url="{% url 'reset_cal_family_feed' %}" type="button">Reset</button>
               </div>
            </div>
         </div>
      </div>

    </div>
 </div>
{% endblock content %}

{% block footer_javascript_page %}
<script>
   // Update skills
   var profileUpdateSkills = function() {
      var form = $(".skillsForm");
      $.ajax({
         url: form.attr("action"),
         data: form.serialize(),
         type: form.attr("method"),
         dataType: 'json',
      });
      return false;
    };

   $("#skills .form-check-input").change(profileUpdateSkills);

   $("#profileForm").dirty({preventLeaving: true});

   // Update basic profile info
   var profileUpdateBasic = function() {
      var form = $("#profileForm");
      var formData = new FormData(form[0]); //get data of form elements for submission

      $.ajax({
         url: form.attr("action"),
         type: form.attr("method"),
         data: formData,
         enctype: 'multipart/form-data',
         processData: false,  // Important!
         contentType: false,
         cache: false,
         success: function(data) {
            $("#basic-info").html(data.html_form);
            $(".js-save-profile").click(profileUpdateBasic);
            if(data.form_is_valid) {
               // validate any changed fields for 2 seconds
               for (let fieldKey = 0; fieldKey < data.changed_data.length; fieldKey++) {
                  let fieldName = data.changed_data[fieldKey]
                  var changed_field = $('#id_'+fieldName);
                  changed_field.addClass('is-valid');
                  setTimeout(function() {
                     changed_field.removeClass('is-valid');
                  }, 4000);
               };
               $("#profileForm").dirty("setAsClean");
            }
         }
      });
    };

    $(".js-save-profile").click(profileUpdateBasic);
</script>
{% endblock footer_javascript_page %}