<div class="col-3 g-2 mb-3">
  <div class="card h-100">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5">
          <a href="{{ unit.get_absolute_url }}">
            {{ unit.name }}
          </a>
        </h4>
      </div>

      <div class="d-flex align-items-center mb-2">
        <span class="fa-solid fa-user me-2 text-700 fs-9 fw-extra-bold"></span>
        <p class="fw-bold mb-0 text-truncate lh-1">
          Lead : <span class="fw-semi-bold text-primary ms-1"><a href="{{ unit.lead.get_absolute_url }}">{{ unit.lead }}</a></span>
        </p>
      </div>
      <div class="d-flex d-lg-block d-xl-flex justify-content-between align-items-center mt-3">
        <div class="mt-lg-3 mt-xl-0">
          <i class="fa-solid fa-people-group me-1"></i>
          <p class="d-inline-block fw-bold mb-0">{{ unit.get_activeMembers.all | length }}<span class="fw-normal">	Members</span></p>
        </div>
        {% if request.user in unit.get_activeMembers.all %}
        <span class="badge badge-phoenix fs-10 mb-2 mt-2 badge-phoenix-success">Member</span>
        {% endif %}
        <div class="mt-lg-3 mt-xl-0">
          <i class="fa-solid fa-list-check me-1"></i>
          <p class="d-inline-block fw-bold mb-0">{{ unit.jobs.all | length }}<span class="fw-normal">	Jobs</span></p>
        </div>
      </div>
    </div>
  </div>
</div>