{% load static %}
{% load role_tags %}

<nav class="navbar navbar-top fixed-top navbar-expand-xl" id="dualNav">
  <div class="w-100">
    {% include 'partials/page_alerts.html' %}
    
    <div class="d-flex flex-between-center dual-nav-first-layer">

      <div class="navbar-logo">

        <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopCollapse" aria-controls="navbarTopCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

        <a class="navbar-brand me-1 me-sm-3" href="{% url 'home' %}">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center">
              <img src="{% static "assets/img/logos/chaotica.png" %}" alt="CHAOTICA" height="56" />
            </div>
          </div>
        </a>

      </div>

      {% include 'partials/search.html' %}

      <ul class="navbar-nav navbar-nav-icons flex-row">

        {% if config.SNOW_ENABLED %}  
        <li class="nav-item">
          <div class="form-check mt-2 form-switch align-middle">
            <input class="form-check-input" id="snowControl" type="checkbox" />
            <label class="form-check-label" for="snowControl">Snow</label>
          </div>
        </li>
        {% endif %}

        <li class="nav-item">
          <div class="dropdown theme-control-dropdown" data-bs-tooltip="tooltip" data-bs-placement="left" title="Switch theme">
            <button class="btn btn-sm dropdown-toggle dropdown-caret-none" type="button" id="themeSwitchDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fas fa-sun {% if request.user.site_theme != 'light' %}d-none{% endif %}" data-theme-dropdown-toggle-icon="light"></span>
              <span class="fas fa-moon {% if request.user.site_theme != 'dark' %}d-none{% endif %}" data-theme-dropdown-toggle-icon="dark"></span>
              <span class="fas fa-adjust {% if request.user.site_theme != 'auto' %}d-none{% endif %}" data-theme-dropdown-toggle-icon="auto"></span>
            </button>
            <div class="dropdown-menu dropdown-caret border py-0 mt-2" aria-labelledby="themeSwitchDropdown">
              <div class="rounded-2 py-2">
                <button class="dropdown-item d-flex align-items-center gap-2" type="button" value="light" data-theme-control="phoenixTheme">
                  <span class="fas fa-sun"></span>
                  Light
                  <span class="fas fa-check dropdown-check-icon ms-auto text-body-quaternray"></span>
                </button>
                <button class="dropdown-item d-flex align-items-center gap-2" type="button" value="dark" data-theme-control="phoenixTheme">
                  <span class="fas fa-moon" data-fa-transform=""></span>
                  Dark
                  <span class="fas fa-check dropdown-check-icon ms-auto text-body-quaternray"></span>
                </button>
                <button class="dropdown-item d-flex align-items-center gap-2" type="button" value="auto" data-theme-control="phoenixTheme">
                  <span class="fas fa-adjust" data-fa-transform=""></span>
                  Auto
                  <span class="fas fa-check dropdown-check-icon ms-auto text-body-quaternray"></span>
                </button>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownNindeDots" href="#" 
          role="button" data-bs-toggle="dropdown" aria-haspopup="true" 
          data-bs-auto-close="outside" aria-expanded="true">
            <span class="fas fa-headset fs-8 me-2 "></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-nine-dots shadow border" 
          aria-labelledby="navbarDropdownNindeDots" data-bs-popper="static">
            <div class="card bg-body-emphasis position-relative border-0">
              <div class="card-body pt-3 px-3 pb-0 overflow-auto scrollbar">

                <ul class="nav d-flex flex-column mb-2 pb-1">
                  <li class="nav-item">
                    <a class="nav-link px-3" href="{{ config.SUPPORT_DOC_URL }}">
                      <span class="fas fa-book fs-8 me-2 "></span>
                      <span>Documentation</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-3" href="{{ config.SUPPORT_MAILBOX }}">
                      <span class="fas fa-envelope fs-8 me-2 "></span>
                      <span>Support</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-3" href="{{ config.SUPPORT_ISSUES }}">
                      <span class="fas fa-envelope fs-8 me-2 "></span>
                      <span>Issues</span>
                    </a>
                  </li>

                  </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownNindeDots" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" data-bs-auto-close="outside" aria-expanded="true">
            <span class="fas fa-plus fs-8 me-2 "></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-nine-dots shadow border" aria-labelledby="navbarDropdownNindeDots" data-bs-popper="static">
            <div class="card bg-body-emphasis position-relative border-0">
              <div class="card-body pt-3 px-3 pb-0 overflow-auto scrollbar">

                <ul class="nav d-flex flex-column mb-2 pb-1">

                  {% for item in menus.add %}
                    <li class="nav-item">
                      <a class="nav-link px-3" href="{{ item.url }}">
                        {% if item.icon %}
                        <span class="{% if item.icon_prefix %}{{ item.icon_prefix }}{% else %}fas fa-{% endif %}{{ item.icon }} fs-8 me-2 "></span>
                        {% endif %}
                        <span>{{ item.title }}</span>
                      </a>
                    </li>
                  {% endfor %}
                  </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- Notification bell -->
        <li class="nav-item dropdown">
          <a class="nav-link position-relative" href="#" style="min-width: 2.5rem" 
            role="button" data-bs-toggle="dropdown" aria-haspopup="true" 
            aria-expanded="false" data-bs-auto-close="outside">
            <span data-feather="bell" style="height:20px;width:20px;"></span>
            {% if request.user.unread_notifications|length > 0 %}
            <span class="position-absolute top-10 start-75 translate-middle badge rounded-pill bg-warning">{{ request.user.unread_notifications | length }}<span class="visually-hidden">unread messages</span>
            {% endif %}
          </a>

          <div class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border border-300 navbar-dropdown-caret" id="navbarDropdownNotfication" aria-labelledby="navbarDropdownNotfication">
            {% include 'partials/notifications.html' %}
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-l">
              <img class="rounded-circle " src="{{ request.user.get_avatar_url }}" alt="" />
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
            <div class="card position-relative border-0">
              <div class="card-body p-0 border-bottom">
                <div class="text-center pt-2 pb-2">
                  <h6 class="mt-2 text-body-emphasis">{{ request.user }}</h6>
                  <p class="text-600 fw-semi-bold fs-10 mb-2">{{ user.job_title }}</p>
                </div>
              </div>
              <div class="overflow-auto scrollbar" style="height: 10rem;">
                <ul class="nav d-flex flex-column mb-2 pb-1">

                {% for item in menus.user %}
                  <li class="nav-item">
                    <a class="nav-link px-3" href="{{ item.url }}">
                      {% if item.icon %}
                      <span class="{% if item.icon_prefix %}{{ item.icon_prefix }}{% else %}fas fa-{% endif %}{{ item.icon }} fs-8 me-2 "></span>
                      {% endif %}
                      <span>{{ item.title }}</span>
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </div>

              <div class="card-footer p-0 border-top">
                <div class="px-3 pt-2">
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-phoenix-secondary d-flex flex-center w-100" type="submit">                      
                      <span class="me-2" data-feather="log-out"> </span>
                      Sign out
                    </button>
                  </form>
                </div>
                <div class="my-2 text-center fw-bold fs-10 text-600">
                  <a class="text-600 me-1" href="#!">Privacy policy</a> &bull;
                  <a class="text-600 mx-1" href="#!">Terms</a>&bull; 
                  <a class="text-600 ms-1" href="#!">Cookies</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse navbar-top-collapse justify-content-center" id="navbarTopCollapse">
      <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">

        {% for item in menus.main %}
          {% if item.url == '#' and not item.children %}
          <!-- Link ignored because no children and direct link -->
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link {% if item.selected %}active{% endif %} {% if item.children %}dropdown-toggle{% endif %} lh-1" href="{{ item.url }}" role="button" {% if item.children %}data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"{% endif %}>
                {% if item.icon %}<span class="{% if item.icon_prefix %}{{ item.icon_prefix }}{% else %}fas fa-{% endif %}{{ item.icon }} fs-8 me-2 "></span>{% endif %}
                {{ item.title }}
              </a>
              {% if item.children %}
                <ul class="dropdown-menu navbar-dropdown-caret">
                {% for childItem in item.children %}
                  <li>
                    <a class="dropdown-item {% if childItem.selected %}active{% endif %}" href="{{ childItem.url }}">
                      <div class="dropdown-item-wrapper">
                        {% if childItem.icon %}
                        <span class="{% if childItem.icon_prefix %}{{ childItem.icon_prefix }}{% else %}fas fa-{% endif %}{{ childItem.icon }} fs-8 me-2 "></span>
                        {% endif %}
                        {{ childItem.title }}
                      </div>
                    </a>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}

        {% has_role request.user "Admin" as has_admin_role %}
        {% if has_admin_role %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lh-1" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
              <span class="fas fa-toolbox fs-8 me-2 "></span>
              Administration
            </a>
              <ul class="dropdown-menu navbar-dropdown-caret">
              {% for childItem in menus.admin %}
                <li>
                  <a class="dropdown-item {% if childItem.selected %}active{% endif %}" href="{{ childItem.url }}">
                    <div class="dropdown-item-wrapper">
                      {% if childItem.icon %}
                      <span class="{% if childItem.icon_prefix %}{{ childItem.icon_prefix }}{% else %}fas fa-{% endif %}{{ childItem.icon }} fs-8 me-2 "></span>
                      {% endif %}
                      {{ childItem.title }}
                    </div>
                  </a>
                </li>
              {% endfor %}
              </ul>
            </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
<!-- Not used - no vertical nav! -->
<nav class="navbar navbar-vertical navbar-expand-lg" aria-labelledby="vertical-nav"></nav>