{% load humanize %}{% load static %}

<div class="row g-0">
    
    <div class="col border-1  border-end p-2">
        <div class="btn fs-0 fw-semi-bold d-flex flex-column d-xxl-inline-block">
            <h6 class="fs-18 mb-0 font-w500 text-black">Checks Completed</h6>
            <span data-bs-toggle="tooltip" 
                data-bs-placement="bottom" title="{{ phase.pre_consultancy_checks_date }}" >
                {% if phase.pre_consultancy_checks_date %}
                {{ phase.pre_consultancy_checks_date|naturaltime }}
                {% else %}
                <span class="fas fa-ellipsis-h"></span>
                {% endif %}
            </span>
        </div>
    </div>
    
    <div class="col border-1  border-end p-2">
        <div class="btn fs-0 fw-semi-bold d-flex flex-column d-xxl-inline-block">
            <h6 class="fs-18 mb-0 font-w500 text-black">Start Date</h6>
            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ phase.start_date }}" >
                {% if phase.start_date %}
                {{ phase.start_date|naturalday }}
                {% else %}
                <span class="fas fa-ellipsis-h"></span>
                {% endif %}
            </span>
        </div>
    </div>
    
    <div class="col border-1  border-end p-2">
        <div class="btn fs-0 {% if phase.is_tqa_late %}btn-outline-danger{% endif %} fw-semi-bold d-flex flex-column d-xxl-inline-block">
            <h6 class="fs-18 mb-0 font-w500 text-black">Due to TechQA</h6>
            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ phase.due_to_techqa }}" >
                {% if phase.due_to_techqa %}
                {{ phase.due_to_techqa|naturalday }}
                {% else %}
                <span class="fas fa-ellipsis-h"></span>
                {% endif %}
            </span>
        </div>
    </div>
    
    <div class="col border-1  border-end p-2">
        <div class="btn fs-0 {% if phase.is_pqa_late %}btn-outline-danger{% endif %} fw-semi-bold d-flex flex-column d-xxl-inline-block">
            <h6 class="fs-18 mb-0 font-w500 text-black">Due to PresQA</h6>
            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ phase.due_to_presqa }}" >
                {% if phase.due_to_presqa %}
                {{ phase.due_to_presqa|naturalday }}
                {% else %}
                <span class="fas fa-ellipsis-h"></span>
                {% endif %}
            </span>
        </div>
    </div>
    
    <div class="col border-1  border-end p-2">
        <div class="btn fs-0 {% if phase.is_delivery_late %}btn-outline-danger{% endif %} fw-semi-bold d-flex flex-column d-xxl-inline-block">
            <h6 class="fs-18 mb-0 font-w500 text-black">Delivery Date</h6>
            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ phase.delivery_date }}" >
                {% if phase.delivery_date %}
                {{ phase.delivery_date|naturalday }}
                {% else %}
                <span class="fas fa-ellipsis-h"></span>
                {% endif %}
            </span>
        </div>
    </div>
</div>