{% load bleach_tags %}
{% load crispy_forms_tags %}
<div class="row">
   <div class="g-3 col-4">   
      <div class="card h-100">
         <div class="card-header row pb-0">
            <div class="col-6">
               <h5 class="mb-0">Scope</h5>
            </div>
            <div class="col-md-6 d-flex mb-4 justify-content-end">
               {% if phase.status == 7 %}
               <form method="post" action="{% url 'phase_rating_scope' phase.job.slug phase.slug %}" id="techRating">
                  {% csrf_token %}            
                  <span class="form-check-label">Scope Correct: </span> 
                  {{ feedbackForm.feedback_scope_correct|as_crispy_field }}
               </form>

               {% else %}
                  {% if phase.feedback_scope_correct %}
                  <span class="badge badge-phoenix badge-phoenix-success">Scope Correct</span>
                  {% else %}
                  <span class="badge badge-phoenix badge-phoenix-warning">Scope Incorrect</span>
                  {% endif %}
               {% endif %}
            </div>
         </div>
         <div class="card-body">            
            {% if phase.status == 7 %}
               <!-- In Progress - allow leaving scope feedback -->
               <a href="#" data-url="{% url 'phase_feedback_scope' phase.job.slug phase.slug %}" class="js-load-modal-form">Add Feedback</a>
            {% endif %}
            <div class="mt-2">
               {% include 'partials/feedback_list.html' with feedbacks=phase.feedback_scope %}
            </div>
         </div>
      </div>
   </div>

   <div class="g-3 col-4">   
      <div class="card h-100">
         <div class="card-header row">
            <div class="col-6">
               <h5 class="mb-0">Tech QA</h5>
            </div>
            <div class="col-6 d-flex justify-content-end">
               {% if phase.status == 8 %}
               <form method="post" action="{% url 'phase_rating_techqa' phase.job.slug phase.slug %}" id="techRating">
                  {% csrf_token %}            
                  {{ feedbackForm.techqa_report_rating|as_crispy_field }}
               </form>

               {% else %}
               {% include 'partials/feedback_stars.html' with feedback=phase.techqa_report_rating feedbackStr=phase.get_techqa_report_rating_display %}
               {% endif %}
            </div>
         </div>
         <div class="card-body">               
            {% if phase.status == 8 %}
               <!-- In TechQA - allow leaving feedback -->
               <a href="#" data-url="{% url 'phase_feedback_techqa' phase.job.slug phase.slug %}" class="js-load-modal-form">Add Feedback</a>
            {% endif %}
            <div class="mt-2">
               {% include 'partials/feedback_list.html' with feedbacks=phase.feedback_techqa %}
            </div>
         </div>
      </div>
   </div>

   <div class="g-3 col-4">   
      <div class="card h-100">
         <div class="card-header row">
            <div class="col-6">
               <h5 class="mb-0">Pres QA</h5>
            </div>
            <div class="col-6 d-flex justify-content-end">
               {% if phase.status == 10 %}
               <form method="post" action="{% url 'phase_rating_presqa' phase.job.slug phase.slug %}" id="techRating">
                  {% csrf_token %}            
                  {{ feedbackForm.presqa_report_rating|as_crispy_field }}
               </form>

               {% else %}
               {% include 'partials/feedback_stars.html' with feedback=phase.presqa_report_rating feedbackStr=phase.get_presqa_report_rating_display %}
               {% endif %}

               
            </div>
         </div>
         <div class="card-body">
            {% if phase.status == 10 %}
               <!-- In PresQA - allow leaving feedback -->
               <a href="#" data-url="{% url 'phase_feedback_presqa' phase.job.slug phase.slug %}" class="js-load-modal-form">Add Feedback</a>
            {% endif %}
            <div class="mt-2">
               {% include 'partials/feedback_list.html' with feedbacks=phase.feedback_presqa %}
            </div>
         </div>
      </div>
   </div>
</div>

{% block footer_javascript_page %}
<script>
   var updateRating = function() {
      var form = $("#techRating");
      $.ajax({
         url: form.attr("action"),
         data: form.serialize(),
         type: form.attr("method"),
         dataType: 'json',
         success: function(data) {
            $("#techRating .form-select").change(updateRating);
            // validate any changed fields for 2 seconds
            for (let fieldKey = 0; fieldKey < data.changed_data.length; fieldKey++) {
               fieldName = data.changed_data[fieldKey]
               var changed_field = $('#id_'+fieldName);
               changed_field.addClass('is-valid');
               setTimeout(function() {
                  changed_field.removeClass('is-valid');
               }, 4000);
            }
         }
      });
      return false;
   };

   $("#techRating .form-select").change(updateRating);
</script>
{% endblock footer_javascript_page %}