{% load static %}

<div class="row mb-3">
    <div class="col my-auto">
    </div>
    <div class="col-lg-4 text-end">
      <a href="{% url 'phase_schedule' phase.job.slug phase.slug %}" class="btn btn-phoenix-success">
          Edit Schedule
      </a> 
    </div>
</div>
<div id="gantt-chart" style="width:100%; height:calc(100vh - 550px);"></div>

<script>
    const gantt_chart = document.querySelector('#gantt-chart');
	gantt.templates.scale_cell_class = function (date) {
		if (date.getDay() == 0 || date.getDay() == 6) {
			return "weekend";
		}
	};
	gantt.templates.timeline_cell_class = function (item, date) {
		if (date.getDay() == 0 || date.getDay() == 6) {
			return "weekend"
		}
	};
	gantt.config.min_column_width = 20;
	gantt.config.duration_unit = "hour";
	gantt.templates.parse_date = function(date) { 
		return new Date(date);
	};
	gantt.templates.format_date = function(date) { 
		return date.toISOString();
	};
	gantt.config.columns = [
		{name: "text", label: "Phases", tree: true, width: "*", min_width: 120, resize: true},
	];
	gantt.templates.task_text=function(start, end, task){
		if(task.user) {
			return task.user;
		} else {
			return task.text;
		}
	};
	gantt.config.readonly = true;
	gantt.init(gantt_chart);
	gantt.config.date_format = "%Y-%m-%d";
	gantt.load("{% url 'view_phase_schedule_gantt_data' job_slug=phase.job.slug slug=phase.slug %}", "json");
</script>