{% load menu %}{% load static %}{% load crispy_forms_tags %}{% load index %}
<div class="card">
    <div class="card-body py-0">
      <div class="row mt-3">
        <div class="col position-relative">
          <h6>Add Slot</h6>
          <p>
            To add a new slot; first select a user and click the green add button. 
            Next select the phase, type and other flags desired. 
            Finally, click and drag in the timeline to place the slot. 
          </p>
          <hr class="vertical mt-0 dark">
        </div>

        <div class="col-7 position-relative">
          <div class="row position-relative">
            {% crispy userSelect %}
            <hr class="horizontal dark">
          </div>

          <div class="row">
              <div class="col">
                <div class="input-group input-group-static mb-4">
                  <label for="exampleFormControlSelect1" class="ms-0">Type</label>
                  <select class="form-control" id="typeSelect">
                    {% for v,t in TimeSlotDeliveryRoles %}
                    <option value="{{ v }}">{{ t }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" id="is_onsite" for="flexSwitchCheckDefault">Is Onsite</label>
                </div>
              </div>   
          </div>  

        </div>
      </div>

    </div>
  </div>