{% load static %}

<ul class="list-group">
   <div class="row border-bottom">
      <!-- Account Manager -->      
      <div class="col-6 border-end pt-3 pb-0 px-0 m-0 text-center">
         <div class="align-items-center mb-3 mb-md-0 mb-xl-3">
            {% if job.account_manager %}
               <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" 
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="avatar avatar-xl rounded-circle">
                     <img class="rounded-circle " src="{{ job.account_manager.get_avatar_url }}" alt="" />
                  </div>
               </a>
               {% include 'partials/users/user_profile_card.html' with userProfile=job.account_manager %}
            {% else %}
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fs-4 fas fa-user-slash text-secondary-light"></span>
               </div>
            {% endif %}
            <h5>
            {% if job.account_manager %}{{ job.account_manager }}{% else %}None Assigned{% endif %}
            </h5>

            <a class="text-800 dropdown-toggle js-load-modal-form text-decoration-none dropdown-caret-none" 
               data-url="{% url 'assign_job_field' job.slug 'account_manager' %}" href="#!">
               Manager
               <span class="fa-solid fa-caret-down text-800 fs-9 ms-2"></span>
            </a>
         </div>
      </div>
      <!-- Deputy Account Manager -->
      <div class="col-6 text-center pt-3">
         <div class="align-items-center mb-3 mb-md-0 mb-xl-3">
            {% if job.dep_account_manager %}
               <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" 
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="avatar avatar-xl rounded-circle">
                     <img class="rounded-circle " src="{{ job.dep_account_manager.get_avatar_url }}" alt="" />
                  </div>
               </a>
               {% include 'partials/users/user_profile_card.html' with userProfile=job.dep_account_manager %}
            {% else %}
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fs-4 fas fa-user-slash text-secondary-light"></span>
               </div>
            {% endif %}
            <h5>
            {% if job.dep_account_manager %}{{ job.dep_account_manager }}{% else %}None Assigned{% endif %}
            </h5>
            <a class="text-800 dropdown-toggle js-load-modal-form text-decoration-none dropdown-caret-none" 
               data-url="{% url 'assign_job_field' job.slug 'dep_account_manager' %}" href="#!">
               Deputy Manager
               <span class="fa-solid fa-caret-down text-800 fs-9 ms-2"></span>
            </a>
         </div>
      </div>
   </div>

   <div class="row border-bottom">
      <!-- Project Lead -->
      <div class="col-6 pt-3 border-end text-center">
         <div class="align-items-center mb-3 mb-md-0 mb-xl-3">
            {% if phase.project_lead %}
               <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" 
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="avatar avatar-xl rounded-circle">
                     <img class="rounded-circle " src="{{ phase.project_lead.get_avatar_url }}" alt="" />
                  </div>
               </a>
               {% include 'partials/users/user_profile_card.html' with userProfile=phase.project_lead %}
            {% else %}
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fs-4 fas fa-user-slash text-secondary-light"></span>
               </div>
            {% endif %}
            <h5>
            {% if phase.project_lead %}{{ phase.project_lead }}{% else %}None Assigned{% endif %}
            </h5>
            <a class="text-800 dropdown-toggle js-load-modal-form text-decoration-none dropdown-caret-none" 
               data-url="{% url 'assign_phase_field' job.slug phase.slug 'project_lead' %}" href="#!">
               Job Lead
               <span class="fa-solid fa-caret-down text-800 fs-9 ms-2"></span>
            </a>
         </div>
      </div>
      <!-- Report Author -->
      <div class="col-6 pt-3 text-center">
         <div class="align-items-center mb-3 mb-md-0 mb-xl-3">
            {% if phase.report_author %}
               <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" 
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="avatar avatar-xl rounded-circle">
                     <img class="rounded-circle " src="{{ phase.report_author.get_avatar_url }}" alt="" />
                  </div>
               </a>
               {% include 'partials/users/user_profile_card.html' with userProfile=phase.report_author %}
            {% else %}
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fs-4 fas fa-user-slash text-secondary-light"></span>
               </div>
            {% endif %}
            <h5>
            {% if phase.report_author %}{{ phase.report_author }}{% else %}None Assigned{% endif %}
            </h5>
            <a class="text-800 dropdown-toggle js-load-modal-form text-decoration-none dropdown-caret-none" 
               data-url="{% url 'assign_phase_field' job.slug phase.slug 'report_author' %}" href="#!">
               Report Author
               <span class="fa-solid fa-caret-down text-800 fs-9 ms-2"></span>
            </a>
         </div>
      </div>
   </div>

   <div class="row">
      <!-- TechQA -->
      <div class="col-6 pt-3 border-end text-center">
         <div class="align-items-center mb-3 mb-md-0 mb-xl-3">
            {% if phase.techqa_by %}
               <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" 
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="avatar avatar-xl rounded-circle">
                     <img class="rounded-circle " src="{{ phase.techqa_by.get_avatar_url }}" alt="" />
                  </div>
               </a>
               {% include 'partials/users/user_profile_card.html' with userProfile=phase.techqa_by %}
            {% else %}
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fs-4 fas fa-user-slash text-secondary-light"></span>
               </div>
            {% endif %}
            <h5>
            {% if phase.techqa_by %}{{ phase.techqa_by }}{% else %}None Assigned{% endif %}
            </h5>
            <a class="text-800 dropdown-toggle js-load-modal-form text-decoration-none dropdown-caret-none" 
               data-url="{% url 'assign_phase_field' job.slug phase.slug 'techqa_by' %}" href="#!">
               Tech QA
               <span class="fa-solid fa-caret-down text-800 fs-9 ms-2"></span>
            </a>
         </div>
      </div>

      <!-- PresQA -->
      <div class="col-6 pt-3 text-center">
         <div class="align-items-center mb-3 mb-md-0 mb-xl-3">
            {% if phase.presqa_by %}
               <a class="dropdown-toggle dropdown-caret-none d-inline-block" href="#" role="button" 
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <div class="avatar avatar-xl rounded-circle">
                     <img class="rounded-circle " src="{{ phase.presqa_by.get_avatar_url }}" alt="" />
                  </div>
               </a>
               {% include 'partials/users/user_profile_card.html' with userProfile=phase.presqa_by %}
            {% else %}
               <div class="avatar avatar-xl">
                  <span class="rounded-circle fs-4 fas fa-user-slash text-secondary-light"></span>
               </div>
            {% endif %}
            <h5>
            {% if phase.presqa_by %}{{ phase.presqa_by }}{% else %}None Assigned{% endif %}
            </h5>
            <a class="text-800 dropdown-toggle js-load-modal-form text-decoration-none dropdown-caret-none" 
               data-url="{% url 'assign_phase_field' job.slug phase.slug 'presqa_by' %}" href="#!">
               Pres QA
               <span class="fa-solid fa-caret-down text-800 fs-9 ms-2"></span>
            </a>
         </div>
      </div>
   </div>

   <div class="row pt-3 border-top border-bottom text-center align-items-center">
      <!-- Project Members -->
      <h5>Scheduled</h5>
         
         {% for u in phase.team_scheduled.all %}
         <div class="d-flex mb-2 align-items-center position-relative">
            <div class="avatar avatar-m me-3">
               <img class="rounded-circle avatar-placeholder" src="{{ u.get_avatar_url }}" alt="">
            </div>
            <a class="fw-bold stretched-link" href="{{ u.get_absolute_url }}">
               {{ u }}
            </a>
         </div>
         {% endfor %}
   </div>
</ul>