{% extends "base_error.html" %}
{% load widget_tweaks %}
{% load i18n static %}

{% block head_title %}Error 403{% endblock head_title %}

{% block error_header %}
Access Forbidden!
{% endblock error_header %}

{% block error_img_code %}
{% static 'assets/img/spot-illustrations/403.png' %}
{% endblock error_img_code %}

{% block error_img_right %}
{% static 'assets/img/jurassic-park-403.gif' %}
{% endblock error_img_right %}

{% block error_desc %}
You don't have access to this. Did you expect to? 
<br class="d-none d-sm-block" />
I know you didn't expect to. Because I know you're messing with the CSRF token...
{% endblock error_desc %}