{% extends "base_error.html" %}
{% load widget_tweaks %}
{% load i18n static %}

{% block head_title %}Error 404{% endblock head_title %}

{% block error_header %}
Page Missing!
{% endblock error_header %}

{% block error_img_code %}
{% static 'assets/img/spot-illustrations/404.png' %}
{% endblock error_img_code %}

{% block error_img_right %}
{% static 'assets/img/404.jpg' %}
{% endblock error_img_right %}

{% block error_desc %}
I can't find what you've requested.
<br class="d-none d-sm-block" />
I might not have it. But I also might, and you might not have permission. You'll never know.
{% endblock error_desc %}