{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n static %}

{% block body_tags %}error-page {% endblock body_tags %}

{% block side_navbar %}{% endblock side_navbar %}

{% block main_content %}


<div class="px-3">
  <div class="row min-vh-100 flex-center p-5">
    <div class="col-12 col-xl-10 col-xxl-8">
      <div class="row justify-content-center align-items-center g-5">
        <div class="col-12 col-lg-6 text-center order-lg-1">
          <img class="img-fluid w-lg-100" src="{% block error_img_right %}{% endblock error_img_right %}" alt="" width="400" />
        </div>
        <div class="col-12 col-lg-6 text-center text-lg-start">
          <img class="img-fluid mb-6 w-50 w-lg-75" src="{% block error_img_code %}{% endblock error_img_code %}" alt="" />
          <h2 class="text-800 fw-bolder mb-3">
            {% block error_header %}{% endblock error_header %}
          </h2>
          <p class="text-900 mb-5">
            {% block error_desc %}{% endblock error_desc %}
          </p>
          <a class="btn btn-lg btn-primary" href="{% url 'home' %}">Go Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}