{% load widget_tweaks %}
{% load humanize %}{% load static %}
{% load i18n %}
{% load menu %}{% generate_menu %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="dual" data-navbar-horizontal-shape="default">

  <head>
    {% block head_meta %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock head_meta %}


    <!-- ===============================================-->
    <!--    Document Title                              -->
    <!-- ===============================================-->
    <title>
      {% block head_title %}{% endblock head_title %} | Chaotica
    </title>
    
    <!-- ===============================================-->
    <!--    Favicons/Theme                              -->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/img/favicons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/img/favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/img/favicons/favicon-16x16.png" %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/img/favicons/favicon.ico" %}">
    <link rel="manifest" href="{% static "assets/img/favicons/manifest.json" %}">
    <meta name="msapplication-TileImage" content="{% static "assets/img/favicons/mstile-150x150.png" %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/795119481a.js" crossorigin="anonymous"></script>
    <!-- JS bits -->
    <script src="{% static "vendors/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
    <script src="{% static "vendors/simplebar/simplebar.min.js" %}"></script>
    <script>
      {% include 'js/config.js' %}
    </script>
    <script src="{% static "assets/js/chaotica.js" %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    
    <link href="{% static "assets/css/theme.css" %}" type="text/css" rel="stylesheet" id="style-default">
    <link href="{% static "assets/css/user.css" %}" type="text/css" rel="stylesheet" id="user-style-default">
    <link href="{% static "assets/css/chaotica.css" %}" rel="stylesheet">

    <link href="{% static "vendors/choices/choices.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/dropzone/dropzone.css" %}" rel="stylesheet">
    <link href="{% static "vendors/dhtmlx-gantt/dhtmlxgantt.css" %}" rel="stylesheet">
    <link href="{% static "vendors/simplebar/simplebar.min.css" %}" rel="stylesheet">
    <link href="{% static "vendors/flatpickr/flatpickr.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="{% static "vendors/leaflet/leaflet.css" %}" rel="stylesheet">
    <link href="{% static "vendors/leaflet.markercluster/MarkerCluster.css" %}" rel="stylesheet">
    <link href="{% static "vendors/leaflet.markercluster/MarkerCluster.Default.css" %}" rel="stylesheet">


    <!-- Select2 -->
    <link href="{% static "admin/css/vendor/select2/select2.css" %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static "admin/css/autocomplete.css" %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static "autocomplete_light/select2.css" %}" type="text/css" media="screen" rel="stylesheet">        
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" type="text/css" media="screen" rel="stylesheet"/>
    
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.dirty.js" %}"></script>

    <!-- Misc Django JS's -->
    <script src="{% static "admin/js/vendor/select2/select2.full.js" %}"></script>
    <script src="{% static "autocomplete_light/autocomplete_light.js" %}"></script> 
    <script src="{% static "autocomplete_light/select2.js" %}"></script>
    <script src="{% static "autocomplete_light/i18n/en.js" %}"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.bootstrap5.css" />
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.bootstrap5.js"></script>

    {% block head_css_section %}{% endblock head_css_section %}
    {% block head_css_page %}{% endblock head_css_page %}


    <!--   Core JS Files   -->
    <script src="{% static "vendors/popper/popper.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/anchorjs/anchor.min.js" %}"></script>
    <script src="{% static "vendors/dhtmlx-gantt/dhtmlxgantt.js" %}"></script>
    <script src="{% static "vendors/is/is.min.js" %}"></script>
    <script src="{% static "vendors/fontawesome/all.min.js" %}"></script>
    <script src="{% static "vendors/lodash/lodash.min.js" %}"></script>
    <script src="{% static "vendors/feather-icons/feather.min.js" %}"></script>
    <script src="{% static "vendors/dayjs/dayjs.min.js" %}"></script>
    <script src="{% static "vendors/echarts/echarts.min.js" %}"></script>
    <script src="{% static "vendors/dropzone/dropzone-min.js" %}"></script>
    <script src="{% static "vendors/choices/choices.min.js" %}"></script>
    <script src="{% static "vendors/leaflet/leaflet.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static "vendors/leaflet.markercluster/leaflet.markercluster.js" %}"></script>
    <script src="{% static "vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js" %}"></script>
    {% comment %} <script src="{% static "vendors/tinymce/tinymce.min.js" %}"></script> {% endcomment %}
    <script src="https://cdn.tiny.cloud/1/q9n609zp86ls5162adwa7442cinatffvom2msi4l7bbv9gs4/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-org-chart@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.1.2/build/d3-flextree.js"></script>

    <!-- Calendar -->
    <script src="{% static "vendors/fullcalendar/index.global.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script src="{% static "assets/js/snow.js" %}"></script> 

    <script src="{% static "assets/js/phoenix.js" %}"></script>
    <script>
      {% include 'js/core.js' %}
    </script>

  </head>

<!-- core content -->
<body class="{% block body_tags %}{% endblock body_tags %}">

  <!-- Main content -->
  {% block main_content %}
  <main class="{% block main_content_tags %}main{% endblock main_content_tags %}" id="top">
  
    <!-- Top Bar -->
    {% block top_bar %}
    {% include 'partials/top_bar.html' %}  
    {% endblock top_bar %}

    <!-- Top Nav -->
    {% block top_nav %}
    {% include 'partials/top_nav.html' %}  
    {% endblock top_nav %}
    
    <script>
      var navbarVertical = document.querySelector('.navbar-vertical');
      navbarVertical.remove();
      dualNav.removeAttribute('style');
    </script>

    {% block modal %}
    {% include 'partials/modal.html' %}
    {% endblock modal %}

    {% block page_content %}
        <div class="content pt-15 {% block content_classes %}{% endblock content_classes %}" {% if config.SITE_NOTICE_ENABLED %}style="margin-top: 2rem"{% endif %}>
        
          {% block alerts %}
        {% include 'partials/alerts.html' %}
        {% endblock alerts %}
          
        {% block breadcrumbs %}
          <nav class="pt-1 text-600 {% block breadcrumb_classes %}{% endblock breadcrumb_classes %}" style="--phoenix-breadcrumb-divider: '&gt;&gt;';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item text-sm"><a class="opacity-50 text-body-emphasis" href="{% url 'home' %}">Home</a></li>
              {% block breadcrumbItem %}
              {% endblock breadcrumbItem %}
            </ol>
          </nav>
        {% endblock breadcrumbs %}

        {% block content %}
            if you see this, something is wrong!
        {% endblock content %}

        {% block footer %}
        <footer class="footer {% block footer_css %}position-absolute{% endblock footer_css %}">
          {% include 'partials/footer.html' %}
        </footer>
        {% endblock footer %}
      </div>
    {% endblock page_content %}

  </main>
  {% endblock main_content %}    
  <!-- ===============================================-->
  <!--    End of Main Content                         -->
  <!-- ===============================================-->

  {% block offcanvas %}

  {% endblock offcanvas %}
  
  <!-- ===============================================-->
  <!--    JavaScripts                                 -->
  <!-- ===============================================-->
  {% block footer_javascript %}
    {% block footer_javascript_site %}
    
    {% if config.SNOW_ENABLED %}  
    <!-- SNNOOOWWWW!! -->
    <script>
      jQuery(document).ready(function($){
        $('#snowControl').change(function() {
            // Check if in light or dark
            const phoenixTheme = window.config.config;
            if (phoenixTheme.phoenixTheme == "light") {
              flakeColor = "#a2d2df";
            } else {
              flakeColor = "white";
            }
            if(this.checked) {
              $('body').flurry({
                color: flakeColor,
              });
            } else {   
              $('body').flurry('destroy');
            } 
            localStorage.showSnow = $(this).prop("checked");
        });
        var data = localStorage.showSnow;
        if ((data == "true") || (data === undefined)) {
          $("#snowControl").prop( "checked", true );
          $("#snowControl").trigger("change");
        }
      });
    </script>
    {% endif %}

    {% if IS_APP_BIRTHDAY %}
    <!-- It's the app's birthday today! Woo! -->
    <script>
      jQuery(document).ready(function($){            
        var showBirthday = localStorage.showBirthday;
        if ((showBirthday == "true") || (showBirthday === undefined)) {
          $('body').flurry({
            character: ["~"],
            color: ["#55476A", "#AE3D63", "#DB3853", "#F45C44", "#F8B646"],
            speed: 2000,
            height: 480,
            frequency: 60,
            small: 12,
            large: 50,
            rotation: 90,
            rotationVariance: 20,
            startRotation: 90,
            wind: 10,
            windVariance: 100,
            opacityEasing: "cubic-bezier(1,0,.96,.9)"
          });                  
          localStorage.showBirthday = "false";  
          let timerInterval;
          Swal.fire({
            title: "Happy Birthday CHAOTICA!",
            html: `
              CHAOTICA turns {{ CHAOTICA_BIRTHDAY_YEARS_OLD }} today!. 
              <p class="text-secondary fst-italic fs-2">Don't worry though... I'll only show this once <br />🥳🥳🥳</p>
            `,
            showClass: {
              popup: `
                animate__animated
                animate__tada
              `
            },
            hideClass: {
              popup: `
                animate__animated
                animate__fadeOutDown
                animate__faster              `
            },
            timer: 15000,
            timerProgressBar: true,
            didOpen: () => {
              Swal.showLoading();
              const timer = Swal.getPopup().querySelector("b");
              timerInterval = setInterval(() => {
                timer.textContent = `${Swal.getTimerLeft()}`;
              }, 100);
            },
            willClose: () => {
              clearInterval(timerInterval);
            }
          }).then((result) => {
            $('body').flurry('destroy');
          });
        }
      });
    </script>
    {% endif %}
    
    {% endblock footer_javascript_site %}

    {% block footer_javascript_section %}{% endblock footer_javascript_section %}
    {% block footer_javascript_page %}{% endblock footer_javascript_page %}
  {% endblock footer_javascript %} 
</body>

  <!-- 
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣶⣿⣿⣿⣿⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿⠿⠟⠛⠻⣿⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣆⣀⣀⠀⣿⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠻⣿⣿⣿⠅⠛⠋⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢼⣿⣿⣿⣃⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣟⡿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣛⣛⣫⡄⠀⢸⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢀⣠⣴⣾⡆⠸⣿⣿⣿⡷⠂⠨⣿⣿⣿⣿⣶⣦⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⣤⣾⣿⣿⣿⣿⡇⢀⣿⡿⠋⠁⢀⡶⠪⣉⢸⣿⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⢀⣿⣿⣿⣿⣿⣿⣿⣿⡏⢸⣿⣷⣿⣿⣷⣦⡙⣿⣿⣿⣿⣿⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠈⣿⣿⣿⣿⣿⣿⣿⣿⣇⢸⣿⣿⣿⣿⣿⣷⣦⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⢠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⢹⣿⣵⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⡁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀

  We're no strangers to love
  You know the rules and so do I
  A full commitment's what I'm thinking of
  You wouldn't get this from any other guy

  I just wanna tell you how I'm feeling
  Gotta make you understand

  Never gonna give you up
  Never gonna let you down
  Never gonna run around and desert you
  Never gonna make you cry
  Never gonna say goodbye
  Never gonna tell a lie and hurt you

  We've known each other for so long
  Your heart's been aching but you're too shy to say it
  Inside we both know what's been going on
  We know the game and we're gonna play it
  And if you ask me how I'm feeling
  Don't tell me you're too blind to see

  Never gonna give you up
  Never gonna let you down
  Never gonna run around and desert you
  Never gonna make you cry
  Never gonna say goodbye
  Never gonna tell a lie and hurt you

  Never gonna give you up
  Never gonna let you down
  Never gonna run around and desert you
  Never gonna make you cry
  Never gonna say goodbye
  Never gonna tell a lie and hurt you

  Never gonna give, never gonna give
  (Give you up)

  We've known each other for so long
  Your heart's been aching but you're too shy to say it
  Inside we both know what's been going on
  We know the game and we're gonna play it
  I just wanna tell you how I'm feeling
  Gotta make you understand

  Never gonna give you up
  Never gonna let you down
  Never gonna run around and desert you
  Never gonna make you cry
  Never gonna say goodbye
  Never gonna tell a lie and hurt you

  Never gonna give you up
  Never gonna let you down
  Never gonna run around and desert you
  Never gonna make you cry
  Never gonna say goodbye
  Never gonna tell a lie and hurt you

  Never gonna give you up
  Never gonna let you down
  Never gonna run around and desert you
  Never gonna make you cry
  Never gonna say goodbye 
-->
</html>